<div class="dm-c-tabs">
  <div class="dm-c-tabs__header">
    <div class="dm-c-tabs__items">
      <dm-tab *ngFor="let tab of tabsModel.tabs"
              [label]="tab.label"
              [selected]="tab.selected"
              [disabled]="tab.disabled"
              [closed]="tab.closed"
              (click)="tabClicked(tab)"
              (close)="tabClosed(tab)">
      </dm-tab>
    </div>
    <div class="dm-c-tabs__overflow">
      <input value="test">
    </div>
  </div>
  <div class="dm-c-tabs__content">
    <ng-content></ng-content>
  </div>
</div>
