$dm-family-member-bg: #fff;
$dm-family-member-hover-bg: #eee;

$dm-family-member-header-personal-number-link-color: #FF7043;
$dm-family-member-header-text-color: #999;

$dm-family-member-born-text-color: #999;
$dm-family-member-language-bg: #999;
$dm-family-member-language-text-color: #fff;

$dm-family-member-badge-bg: #ddd;
$dm-family-member-badge-text-color: #bbb;
$dm-family-member-badge-full-rights-text-color: #81C784;
$dm-family-member-badge-complementary-rights-text-color: #FF7043;
$dm-family-member-badge-comments-text-color: #ffcc00;
$dm-family-member-badge-covered-by-other-bg: #FF7043;
$dm-family-member-badge-covered-by-other-text-color: #FFF;