<div #popoverContainer
     class="dm-c-popover dm-c-popover--bottom"
     [class.dm-u-invisible]="!isVisible">
  <div class="dm-c-popover__arrow">
    <div class="dm-c-popover__arrow-inner"></div>
  </div>
  <div *ngIf="title" class="dm-c-popover__header">
    <div class="dm-c-popover__title">{{ title }}</div>
    <div *ngIf="showCloseIcon"
         (click)="onCloseClick($event)"
         class="dm-c-popover__close">
      <i class="fa fa-close"></i>
    </div>
  </div>
  <div class="dm-c-popover__content">
    <ng-content></ng-content>
  </div>
</div>
