<div class="dm-c-popover dm-c-popover--top">
  <div class="dm-c-popover__arrow">
    <div class="dm-c-popover__arrow-inner"></div>
  </div>
  <div class="dm-c-popover__header">
    <div class="dm-c-popover__title">
      Popover Title which is very long and cannot fit in this afsfsd
    </div>
    <div class="dm-c-popover__close">
      <i class="fa fa-close"></i>
    </div>
  </div>
  <div class="dm-c-popover__content">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.Lorem
    ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt desperis.
  </div>
</div>
