<div #popoverContainer
     class="dm-c-popover dm-c-popover--{{ vm.effectivePlacement }} dm-c-popover--colored-solid"
     [style.left]="vm.containerPosition.x + 'px'"
     [style.top]="vm.containerPosition.y + 'px'">
  <div #arrow class="dm-c-popover__arrow"
       [style.left]="vm.arrowPosition.x + 'px'"
       [style.top]="vm.arrowPosition.y + 'px'">
    <div class="dm-c-popover__arrow-inner"></div>
  </div>
  <div *ngIf="title" class="dm-c-popover__header">
    <div class="dm-c-popover__title">{{ title }}</div>
    <div *ngIf="showCloseIcon"
         (click)="onCloseClick($event)"
         class="dm-c-popover__close">
      <i class="fa fa-close"></i>
    </div>
  </div>
  <div class="dm-c-popover__content">
    <ng-content></ng-content>
  </div>
</div>
