html {
  font-size: $font-size-base;
  font-family: $font-family-base; 
}

body {
  background-color: $body-bg;
  font-family: $font-family-base;   
}

@if $border-box-global == true {
    * {
        &,
        &:before,
        &:after {
          box-sizing: border-box;
        }
    }
}
