/**
 * $SCAFFOLDING
 * ==========================================================================
 * Here are any base styles added to all elements (*), <html> or <body>.
 * If adding a background image or color to the body, I'd suggest doing
 * that here as well.
 */

html {
  font-size: $font-size-base;
  font-family: $font-family-base; 
}

body {
  background-color: $body-bg;
  font-family: $font-family-base;   
}

@if $border-box-global == true {
    * {
        &,
        &:before,
        &:after {
            @include vendor(box-sizing, border-box);
        }
    }
}
