/* Colors */
$brand-primary: #22B573;
$text-color: #333;
$body-bg: #eee;

$gray-base: #000 !default;
$gray: lighten($gray-base, 33.5%) !default;
$gray-lighter: lighten($gray-base, 93.5%) !default;

$link-color: $brand-primary !default;
$link-hover-color: $brand-primary !default;
  
/* Typography */
$font-size-base: 16px;
$font-family-base: 			'Roboto', sans-serif;
$font-size-small: 			12px; /* 1 */
$font-size-lead: 			20px; /* 2 */

$border-box-global: 		true;

