.dm-c-nav-link {
  @include dm-hover-focus-active {
    color: $dm-nav-link-text-color;
    text-decoration: none;
  }

  @include dm-hover {
    background-color: $dm-nav-link-active-bg-hover;
    color: $dm-nav-link-text-color;
  }
  
  &--has-subitems {
    padding-right: 2.25em;

    &:after {
      content: "\e9c7";
      display: block;
      font-family: icomoon;
      font-size: 1em;
      line-height: 1;
      margin-top: -0.5em;
      position: absolute;
      right: 1.25em;
      top: 50%;
      transform: rotate(0);
      @include dm-transition();
    }
  }

  &.dm-is-active {
    background-color: $dm-nav-link-active-bg;

    &.dm-c-nav-link--has-subitems:after {
      transform: rotate(90deg);
    }
  }
}