.dm-c-nav-link {
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: $dm-nav-item-text;
  padding: 0.375em 1.25em 0.375em 1.25em;
  height: 3em;
  position: relative;
  text-decoration: none;
  user-select: none;
  user-select: none;
  line-height: 1.2;
  @include dm-transition();

  &__icon {
    font-size: 1em;
    margin-right: 0.5em;
  }

  &__label {
    display: inline;
    vertical-align: middle;
    font-family: 'Roboto';
    font-size: .8125em;
    font-weight: 500;
    text-decoration: none;
    @include dm-text-truncate();
  }
}