$dm-nav-link-text-color: transparentize(dm-get-color(white), 0.08);
$dm-nav-link-active-bg: transparentize(dm-get-color(black), 0.9);
$dm-nav-link-active-bg-hover: transparentize(dm-get-color(black), 0.9);