<div class="row mb-4">
  <div class="col-md-4 col-xs-2">
    <dm-card title="Thin">
      <h1 class="dm-o-text-thin">H1 Heading</h1>
      <h2 class="dm-o-text-thin">H2 Heading</h2>
      <h3 class="dm-o-text-thin">H3 Heading</h3>
      <h4 class="dm-o-text-thin">H4 Heading</h4>
      <h5 class="dm-o-text-thin">H5 Heading</h5>
      <h6 class="dm-o-text-thin">H6 Heading</h6>
    </dm-card>
  </div>
  <div class="col-md-4 col-xs-2">
    <dm-card title="Light">
      <h1 class="dm-o-text-light">H1 Heading</h1>
      <h2 class="dm-o-text-light">H2 Heading</h2>
      <h3 class="dm-o-text-light">H3 Heading</h3>
      <h4 class="dm-o-text-light">H4 Heading</h4>
      <h5 class="dm-o-text-light">H5 Heading</h5>
      <h6 class="dm-o-text-light">H6 Heading</h6>
    </dm-card>
  </div>
  <div class="col-md-4 col-xs-2">
    <dm-card title="Regular">
      <h1 class="dm-o-text-regular">H1 Heading</h1>
      <h2 class="dm-o-text-regular">H2 Heading</h2>
      <h3 class="dm-o-text-regular">H3 Heading</h3>
      <h4 class="dm-o-text-regular">H4 Heading</h4>
      <h5 class="dm-o-text-regular">H5 Heading</h5>
      <h6 class="dm-o-text-regular">H6 Heading</h6>
    </dm-card>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-xs-2">
    <dm-card title="Semibold">
      <h1 class="dm-o-text-semibold">H1 Heading</h1>
      <h2 class="dm-o-text-semibold">H2 Heading</h2>
      <h3 class="dm-o-text-semibold">H3 Heading</h3>
      <h4 class="dm-o-text-semibold">H4 Heading</h4>
      <h5 class="dm-o-text-semibold">H5 Heading</h5>
      <h6 class="dm-o-text-semibold">H6 Heading</h6>
    </dm-card>
  </div>
  <div class="col-md-4 col-xs-2">
    <dm-card title="Bold">
      <h1 class="dm-o-text-bold">H1 Heading</h1>
      <h2 class="dm-o-text-bold">H2 Heading</h2>
      <h3 class="dm-o-text-bold">H3 Heading</h3>
      <h4 class="dm-o-text-bold">H4 Heading</h4>
      <h5 class="dm-o-text-bold">H5 Heading</h5>
      <h6 class="dm-o-text-bold">H6 Heading</h6>
    </dm-card>
  </div>
  <div class="col-md-4 col-xs-2">
    <dm-card title="Black">
      <h1 class="dm-o-text-black">H1 Heading</h1>
      <h2 class="dm-o-text-black">H2 Heading</h2>
      <h3 class="dm-o-text-black">H3 Heading</h3>
      <h4 class="dm-o-text-black">H4 Heading</h4>
      <h5 class="dm-o-text-black">H5 Heading</h5>
      <h6 class="dm-o-text-black">H6 Heading</h6>
    </dm-card>
  </div>
</div>