<h2>Typography</h2>

<h1 class="dm-u-text-thin">H1 Heading</h1>
<h2 class="dm-u-text-thin">H2 Heading</h2>
<h3 class="dm-u-text-thin">H3 Heading</h3>
<h4 class="dm-u-text-thin">H4 Heading</h4>
<h5 class="dm-u-text-thin">H5 Heading</h5>
<h6 class="dm-u-text-thin">H6 Heading</h6>

<h1 class="dm-u-text-light">H1 Heading</h1>
<h2 class="dm-u-text-light">H2 Heading</h2>
<h3 class="dm-u-text-light">H3 Heading</h3>
<h4 class="dm-u-text-light">H4 Heading</h4>
<h5 class="dm-u-text-light">H5 Heading</h5>
<h6 class="dm-u-text-light">H6 Heading</h6>

<h1 class="dm-u-text-regular">H1 Heading</h1>
<h2 class="dm-u-text-regular">H2 Heading</h2>
<h3 class="dm-u-text-regular">H3 Heading</h3>
<h4 class="dm-u-text-regular">H4 Heading</h4>
<h5 class="dm-u-text-regular">H5 Heading</h5>
<h6 class="dm-u-text-regular">H6 Heading</h6>

<h1 class="dm-u-text-semibold">H1 Heading</h1>
<h2 class="dm-u-text-semibold">H2 Heading</h2>
<h3 class="dm-u-text-semibold">H3 Heading</h3>
<h4 class="dm-u-text-semibold">H4 Heading</h4>
<h5 class="dm-u-text-semibold">H5 Heading</h5>
<h6 class="dm-u-text-semibold">H6 Heading</h6>

<h1 class="dm-u-text-bold">H1 Heading</h1>
<h2 class="dm-u-text-bold">H2 Heading</h2>
<h3 class="dm-u-text-bold">H3 Heading</h3>
<h4 class="dm-u-text-bold">H4 Heading</h4>
<h5 class="dm-u-text-bold">H5 Heading</h5>
<h6 class="dm-u-text-bold">H6 Heading</h6>

<h1 class="dm-u-text-black">H1 Heading</h1>
<h2 class="dm-u-text-black">H2 Heading</h2>
<h3 class="dm-u-text-black">H3 Heading</h3>
<h4 class="dm-u-text-black">H4 Heading</h4>
<h5 class="dm-u-text-black">H5 Heading</h5>
<h6 class="dm-u-text-black">H6 Heading</h6>