<div class="row">
  <div class="col-md-4">
    <h1 class="ux-o-text-thin">Thin</h1>
    <h1 class="ux-o-text-thin">H1 Heading</h1>
    <h2 class="ux-o-text-thin">H2 Heading</h2>
    <h3 class="ux-o-text-thin">H3 Heading</h3>
    <h4 class="ux-o-text-thin">H4 Heading</h4>
    <h5 class="ux-o-text-thin">H5 Heading</h5>
    <h6 class="ux-o-text-thin">H6 Heading</h6>
  </div>
  <div class="col-md-4">
    <h1 class="ux-o-text-light">Light</h1>
    <h1 class="ux-o-text-light">H1 Heading</h1>
    <h2 class="ux-o-text-light">H2 Heading</h2>
    <h3 class="ux-o-text-light">H3 Heading</h3>
    <h4 class="ux-o-text-light">H4 Heading</h4>
    <h5 class="ux-o-text-light">H5 Heading</h5>
    <h6 class="ux-o-text-light">H6 Heading</h6>
  </div>
  <div class="col-md-4">
    <h1 class="ux-o-text-regular">Regular</h1>
    <h1 class="ux-o-text-regular">H1 Heading</h1>
    <h2 class="ux-o-text-regular">H2 Heading</h2>
    <h3 class="ux-o-text-regular">H3 Heading</h3>
    <h4 class="ux-o-text-regular">H4 Heading</h4>
    <h5 class="ux-o-text-regular">H5 Heading</h5>
    <h6 class="ux-o-text-regular">H6 Heading</h6>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h1 class="ux-o-text-semibold">Semibold</h1>
    <h1 class="ux-o-text-semibold">H1 Heading</h1>
    <h2 class="ux-o-text-semibold">H2 Heading</h2>
    <h3 class="ux-o-text-semibold">H3 Heading</h3>
    <h4 class="ux-o-text-semibold">H4 Heading</h4>
    <h5 class="ux-o-text-semibold">H5 Heading</h5>
    <h6 class="ux-o-text-semibold">H6 Heading</h6>
  </div>
  <div class="col-md-4">
    <h1 class="ux-o-text-bold">Bold</h1>
    <h1 class="ux-o-text-bold">H1 Heading</h1>
    <h2 class="ux-o-text-bold">H2 Heading</h2>
    <h3 class="ux-o-text-bold">H3 Heading</h3>
    <h4 class="ux-o-text-bold">H4 Heading</h4>
    <h5 class="ux-o-text-bold">H5 Heading</h5>
    <h6 class="ux-o-text-bold">H6 Heading</h6>
  </div>
  <div class="col-md-4">
    <h1 class="ux-o-text-black">Black</h1>
    <h1 class="ux-o-text-black">H1 Heading</h1>
    <h2 class="ux-o-text-black">H2 Heading</h2>
    <h3 class="ux-o-text-black">H3 Heading</h3>
    <h4 class="ux-o-text-black">H4 Heading</h4>
    <h5 class="ux-o-text-black">H5 Heading</h5>
    <h6 class="ux-o-text-black">H6 Heading</h6>
  </div>
</div>