.ux-c-nav-item {
  &--has-subitems {
    padding-right: 35px;
  }

  &--has-subitems:after {
    content: "\e9c7";
    display: block;
    font-family: icomoon;
    font-size: 16px;
    line-height: 1;
    margin-top: -8px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: rotate(0);
    transition: transform .2s ease-in-out;
  }

  &--is-active {
    background-color: rgba(0, 0, 0, .1);

    + .ux-c-nav-item__subitems {
        display: block;
    }
  }

  &--is-active.ux-c-nav-item--has-subitems:after {
    transform: rotate(90deg);
  }

  .ux-is-closed & {
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;

    &__label {
      display: none;
    }

    &__icon {
      margin: 0;
    }

    &--has-subitems:after {
      display: none;
    }

    &__subitems { 
      display: none;
    }
  }
}