.ux-c-nav-item {
  color: $ux-nav-item-text;
  display: block;
  overflow: hidden;
  padding: 12px 20px 12px 20px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: background-color .3s;
  user-select: none;
  white-space: nowrap;
  line-height: 1.2;

  &:visited, &:active, &:focus {
    color: $ux-nav-item-text;
    text-decoration: none;
  }

  &:hover {
    background-color: $ux-nav-item-bg-hover;
    color: $ux-nav-item-text;
    text-decoration: none;
  }

  &__icon {
    font-size: 16px;
    margin-right: 8px;
  }

  &__label {
    display: inline;
    vertical-align: middle;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
  }
}