.ux-c-nav-item {
  display: flex;
  align-items: center;
  color: $ux-nav-item-text;
  padding: 16px 20px 16px 20px;
  position: relative;
  text-decoration: none;
  user-select: none;
  transition: background-color .3s;
  user-select: none;

  line-height: 1.2;

  &:visited, &:active, &:focus {
    color: $ux-nav-item-text;
    text-decoration: none;
  }

  &:hover {
    background-color: $ux-nav-item-bg-hover;
    color: $ux-nav-item-text;
    text-decoration: none;
  }

  &__icon {
    font-size: 16px;
    margin-right: 8px;
  }

  &__label {
    display: inline;
    vertical-align: middle;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__subitems {
    margin: 0;
    padding: 0;
    background-color: darken(#263238, 2%);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .03);
    display: none;
    
    .ux-c-nav-item {
      padding-left: 48px;
      font-weight: 200;
    }
  }

  &__subitems &__subitems {
    .ux-c-nav-item {
      padding-left: 60px;
    } 
  }

  &__subitems &__subitems &__subitems {
    .ux-c-nav-item {
      padding-left: 80px;
    }
  }
}