<div class="asm-family-bar"
     [class.asm-family-bar--closed]="closed">
  <div #familyMembersScrollContainer class="asm-family-bar__members-container">
    <asm-family-member 
      *ngFor="let familyMember of familyMembers"
      [familyMember]="familyMember"
      (click)="familyMemberClicked(familyMember)">
    </asm-family-member>
  </div>
  <div class="asm-family-bar__tab-container">
    <div (click)="tabClicked($event)" class="asm-family-bar__tab-button">
      <div (click)="scrollLeftClicked($event)" class="asm-family-bar__scroll-left-container">
        <span class="fa fa-arrow-circle-left"></span>
      </div>
      <div (click)="scrollRightClicked($event)" class="asm-family-bar__scroll-right-container">
        <span class="fa fa-arrow-circle-right"></span>
      </div>
      <div class="asm-family-bar__tab-title">
        Family Composition (3/7)
      </div>
      <div class="asm-family-bar__tab-member">
        <span *ngIf="selectedMember"
              class="asm-family-bar__tab-member-first-name">{{ selectedMember?.firstName }}</span>
        <span *ngIf="selectedMember"
              class="asm-family-bar__tab-member-last-name">{{ selectedMember?.familyName }}</span>
        <span *ngIf="!selectedMember" 
              class="asm-family-bar__tab-member-not-selected">(No selection)</span>
      </div>
      <span class="fa fa-caret-up asm-family-bar__tab-caret"></span>
    </div>
    <div class="asm-family-bar__family-plus-container">
      <label class="asm-family-bar__family-plus-label">Family+</label>
      <asm-switch></asm-switch>
    </div>
  </div>
</div>