@mixin dm-headings() {
  margin-top: 0;
  margin-bottom: $dm-elements-headings_margin-bottom;
  font-family: $dm-elements-headings_font-family;
  font-weight: $dm-elements-headings_font-weight;
  line-height: $dm-elements-headings_line-height;
  color: $dm-elements-headings_color;
}