.dm-c-popover {
  position: absolute;
  display: none;
  border: $dm-c-popover__border-width solid $dm-c-popover__border-color;
  max-width: $dm-c-popover__max-width;
  background-color: $dm-c-popover__bg-color;
  @include dm-border-radius($dm-c-popover__radius);
  @include dm-box-shadow(0 0 5px $dm-c-popover__shadow-color);

  &__header {
    padding: $dm-c-popover__padding;
    border-bottom: 1px solid $dm-c-popover__header-border-color;
  }

  &__title {
    color: $dm-c-popover__title-color;
    font-size: $dm-c-popover__title-font-size;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    padding-right: $dm-c-popover__title-font-size;
    @include dm-text-truncate();
  }

  &__close {
    position: absolute;
    top: $dm-c-popover__padding;
    right: $dm-c-popover__padding;
    color: $dm-c-popover__close-color;
    font-size: $dm-c-popover__title-font-size;
    cursor: pointer;
    line-height: 1;
  }

  &__content {
    font-size: $dm-c-popover__content-font-size;
    padding: $dm-c-popover__padding;
    color: $dm-c-popover__content-color;
  }

  &__arrow {
    position: absolute;
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: inherit;
    border-width: $dm-c-popover__arrow-width;

    &-inner {
      position: absolute;
      display: block;
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-color: $dm-c-popover__arrow-bg-color;
      border-width: $dm-c-popover__arrow-width - $dm-c-popover__border-width;
    }
  }
}