.dm-c-popover {
  &--small {
    max-width: $dm-c-popover__max-width-small;
  }

  &--big {
    max-width: $dm-c-popover__max-width-big;
  }

  &--flat {
    .dm-c-popover__header {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  
  &--top,
  &--bottom,
  &--left,
  &--right {
    .dm-c-popover__arrow {
      display: block;
    }
  }

  &--top,
  &--bottom {
    .dm-c-popover__arrow {
      left: 50%;
      margin-left: -$dm-c-popover__arrow-width;
      border-left-color: transparent;
      border-right-color: transparent;

      &-inner {
        margin-left: -$dm-c-popover__arrow-width + $dm-c-popover__border-width;
        border-left-color: transparent;
        border-right-color: transparent;
      }
    }
  }

  &--top {
    .dm-c-popover__arrow {
      border-bottom-width: 0;
      bottom: -$dm-c-popover__arrow-width;
      margin-top: -2 * $dm-c-popover__border-width;

      &-inner {
        bottom: $dm-c-popover__arrow-border-width;
        border-bottom-width: 0;
      }
    }
  }

  &--bottom {
    .dm-c-popover__arrow {
      border-top-width: 0;
      top: -$dm-c-popover__arrow-width;

      &-inner {
        top: $dm-c-popover__arrow-border-width;
        border-top-width: 0;
      }
    }
  }

  &--left,
  &--right {
    .dm-c-popover__arrow {
      top: 50%;
      margin-top: -$dm-c-popover__arrow-width;
      border-top-color: transparent;
      border-bottom-color: transparent;

      &-inner {
        top: -$dm-c-popover__arrow-width + $dm-c-popover__border-width;
        border-top-color: transparent;
        border-bottom-color: transparent;
      }
    }
  }

  &--left {
    .dm-c-popover__arrow {
      right: -$dm-c-popover__arrow-width;     
      border-right-width: 0;

      &-inner {
        right: $dm-c-popover__arrow-border-width;
        border-right-width: 0;
      }
    }
  }

  &--right {
    .dm-c-popover__arrow {
      left: -$dm-c-popover__arrow-width;     
      border-left-width: 0;

      &-inner {
        left: $dm-c-popover__border-width;
        border-left-width: 0;
        border-right-color: $dm-c-popover__arrow-bg-color;
      }
    }
  }

  &--colored-header {
    border: none;
    background: none;
    border-color: $dm-c-popover--colored-header__border-color;

    .dm-c-popover__header {
      background-color: $dm-c-popover--colored-header__header-bg;
      border: 0;
      @include dm-border-top-radius($dm-c-popover__radius);
    }

    .dm-c-popover__title,
    .dm-c-popover__close {
      color: $dm-c-popover--colored-header__text-color;
    }

    .dm-c-popover__content {
      background-color: $dm-c-popover__bg-color;
      border-style: solid;
      border-color: inherit;
      border-width: $dm-c-popover--colored-header__border-width;
      border-top: 0;
      @include dm-border-bottom-radius($dm-c-popover__radius);
    }

    &.dm-c-popover--left {
      .dm-c-popover__arrow-inner {
        right: $dm-c-popover--colored-header__border-width + 1px;
      }
    }

    &.dm-c-popover--right {
      .dm-c-popover__arrow-inner {
        left: $dm-c-popover--colored-header__border-width + 1px;
      }
    }

    &.dm-c-popover--top {
      .dm-c-popover__arrow {
        margin-top: 0;
      }

      .dm-c-popover__arrow-inner {
        bottom: $dm-c-popover--colored-header__border-width + 1px;
      }
    }

    &.dm-c-popover--bottom {
      .dm-c-popover__arrow-inner {
        border: 0;
      }
    }
  }

  &--colored-solid {
    background-color: $dm-c-popover--colored-solid__bg-color;
    border-style: none;
    border-color: $dm-c-popover--colored-solid__border-color;

    .dm-c-popover__header {
      border-bottom-color: $dm-c-popover--colored-solid__header-border-color;
    }

    .dm-c-popover__title,
    .dm-c-popover__close,
    .dm-c-popover__content {
      color: $dm-c-popover--colored-solid__text-color;
    }

    &.dm-c-popover--top {
      .dm-c-popover__arrow {
        margin-top: 0;
      }
    }

    .dm-c-popover__arrow-inner {
      border: none;
    }
  }
}
