.dm-c-popover {
  &--small {
    max-width: $dm-c-popover__max-width-small;
  }

  &--big {
    max-width: $dm-c-popover__max-width-big;
  }

  &--flat {
    .dm-c-popover__header {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &--headed {
    border: none;
    background: none;
    border-radius: 0;

    .dm-c-popover__title,
    .dm-c-popover__close {
      color: dm-get-color(white);
    }

    .dm-c-popover__arrow-inside {
      border: none;
    }

    .dm-c-popover__header {
      background-color: dm-get-color(grey-dark);
      @include dm-border-top-radius($dm-c-popover__radius);
      border: 0;
    }

    .dm-c-popover__content {
      background-color: $dm-c-popover__bg-color;
      @include dm-border-bottom-radius($dm-c-popover__radius);
      border: $dm-c-popover__border-width solid dm-get-color(grey-dark);
      border-width: 2px;
      border-top: 0;
    }

    &.dm-c-popover--left {
      .dm-c-popover__arrow {
        border-left-color: dm-get-color(grey-dark) !important;
      }
    }

    &.dm-c-popover--right {
      .dm-c-popover__arrow {
        border-right-color: dm-get-color(grey-dark) !important;
      }
    }

    &.dm-c-popover--top {
      .dm-c-popover__arrow {
        border-top-color: dm-get-color(grey-dark) !important;
      }
    }

    &.dm-c-popover--bottom {
      .dm-c-popover__arrow {
        border-bottom-color: dm-get-color(grey-dark) !important;
      }
    }
  }

  &--top,
  &--bottom {
    .dm-c-popover__arrow {
      left: 50%;
      margin-left: -$dm-c-popover__arrow-width;

      &-inside {
        margin-left: -$dm-c-popover__arrow-width + $dm-c-popover__border-width;
      }
    }
  }

  &--top {
    .dm-c-popover__arrow {
      border-bottom-width: 0;
      border-top-color: $dm-c-popover__arrow-border-color;
      bottom: -$dm-c-popover__arrow-width;

      &-inside {
        bottom: $dm-c-popover__arrow-border-width;
        border-bottom-width: 0;
        border-top-color: $dm-c-popover__arrow-bg-color;
      }
    }
  }

  &--bottom {
    .dm-c-popover__arrow {
      border-top-width: 0;
      border-bottom-color: $dm-c-popover__arrow-border-color;
      top: -$dm-c-popover__arrow-width;

      &-inside {
        top: $dm-c-popover__arrow-border-width;
        border-top-width: 0;
        border-bottom-color: $dm-c-popover__arrow-bg-color;
      }
    }
  }

  &--left,
  &--right {
    .dm-c-popover__arrow {
      top: 50%;
      margin-top: -$dm-c-popover__arrow-width;

      &-inside {
        top: -$dm-c-popover__arrow-width + $dm-c-popover__border-width;
      }
    }
  }

  &--left {
    .dm-c-popover__arrow {
      right: -$dm-c-popover__arrow-width;     
      border-right-width: 0;
      border-left-color: $dm-c-popover__arrow-border-color;

      &-inside {
        right: $dm-c-popover__arrow-border-width;
        border-right-width: 0;
        border-left-color: $dm-c-popover__arrow-bg-color;
      }
    }
  }

  &--right {
    .dm-c-popover__arrow {
      left: -$dm-c-popover__arrow-width;     
      border-left-width: 0;
      border-right-color: $dm-c-popover__arrow-border-color;

      &-inside {
        left: $dm-c-popover__border-width;
        border-left-width: 0;
        border-right-color: $dm-c-popover__arrow-bg-color;
      }
    }
  }
}
