.dm-c-popover {
  position: relative;
  border: $dm-c-popover__border-width solid $dm-c-popover__border-color;
  max-width: $dm-c-popover__max-width;
  background-color: $dm-c-popover__bg-color;
  @include dm-border-radius($dm-c-popover__radius);
  @include dm-box-shadow(0 3px 5px $dm-c-popover__shadow-color);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: $dm-c-popover__padding $dm-c-popover__padding 0 $dm-c-popover__padding;
  }

  &__title {
    color: #333;
    font-size: $dm-c-popover__title-font-size;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
  }

  &__close {
    color: $dm-c-popover__close-color;
    font-size: $dm-c-popover__title-font-size;
    cursor: pointer;
    line-height: 1;
  }

  &__content {
    font-size: $dm-c-popover__content-font-size;
    padding: $dm-c-popover__padding;
    color: $dm-c-popover__content-color;
  }

  &__arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: $dm-c-popover__arrow-width;

    &::after {
      position: absolute;
      display: block;
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      border-width: $dm-c-popover__arrow-width - $dm-c-popover__border-width;
    }
  }
}