.dm-c-popover {
  position: absolute;
  border: $dm-c-popover_border-width solid $dm-c-popover_border-color;
  max-width: $dm-c-popover_max-width;
  background-color: $dm-c-popover_bg-color;
  z-index: 999999;
  @include dm-border-radius($dm-c-popover_radius);
  @include dm-box-shadow(0 0 5px $dm-c-popover_shadow-color);

  &__header {
    padding: $dm-c-popover_padding;
    border-bottom: 1px solid $dm-c-popover_header-border-color;
  }

  &__title {
    color: $dm-c-popover_title-color;
    font-size: $dm-c-popover_title-font-size;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    padding-right: $dm-c-popover_title-font-size;
    @include dm-text-truncate();
  }

  &__close {
    position: absolute;
    top: $dm-c-popover_padding;
    right: $dm-c-popover_padding;
    color: $dm-c-popover_close-color;
    font-size: $dm-c-popover_title-font-size;
    cursor: pointer;
    line-height: 1;
  }

  &__content {
    font-size: $dm-c-popover_content-font-size;
    padding: $dm-c-popover_padding;
    overflow: hidden;
  }

  &__arrow {
    position: absolute;
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: inherit;
    border-width: $dm-c-popover_arrow-width;

    &-inner {
      position: absolute;
      display: block;
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-color: $dm-c-popover_arrow-bg-color;
      border-width: $dm-c-popover_arrow-width - $dm-c-popover_border-width;
    }
  }
}