$dm-c-popover_radius: 4px !default;
$dm-c-popover_padding: 13px !default;
$dm-c-popover_border-width: 1px !default;
$dm-c-popover_max-width-small: 200px !default;
$dm-c-popover_max-width: 375px !default;
$dm-c-popover_max-width-big: 550px !default;
$dm-c-popover_bg-color: dm-get-color(white) !default;
$dm-c-popover_border-color: dm-get-color(grey-lightest) !default;
$dm-c-popover_shadow-color: transparentize(dm-get-color(black), 0.9) !default;

$dm-c-popover_header-border-color: dm-get-color(grey-lightester-2) !default;

$dm-c-popover_title-color: #333 !default;
$dm-c-popover_title-font-size: 11px !default;

$dm-c-popover_close-color: dm-get-color(grey-lighter) !default;

$dm-c-popover_content-font-size: 12px !default;

$dm-c-popover_arrow-width: 8px !default;
$dm-c-popover_arrow-border-width: $dm-c-popover_border-width !default;
$dm-c-popover_arrow-border-color: $dm-c-popover_border-color !default;
$dm-c-popover_arrow-bg-color: $dm-c-popover_bg-color !default;

$dm-c-popover--colored-header_border-width: 2px;
$dm-c-popover--colored-header_text-color: dm-get-color(white);
$dm-c-popover--colored-header_border-color: dm-get-color(grey-dark);
$dm-c-popover--colored-header_header-bg: dm-get-color(grey-dark);

$dm-c-popover--colored-solid_bg-color: dm-get-color(grey-dark);
$dm-c-popover--colored-solid_text-color: dm-get-color(white);
$dm-c-popover--colored-solid_border-color: dm-get-color(grey-dark);
$dm-c-popover--colored-solid_header-border-color: transparentize(dm-get-color(white), 0.9);
