<h2>Popover</h2>

Placement
<select #plc (change)="pop1.placement = $event.target.value" name="" id="">
  <option value="bottom">bottom</option>
  <option value="top">top</option>
  <option value="right">right</option>
  <option value="left">left</option>
</select>

<br>

<div class="dm-u-d-flex dm-u-flex-column dm-u-justify-content-between dm-u-p-xl" style="height: 100vh">
  <div class="dm-u-d-flex dm-u-flex-row dm-u-justify-content-between">
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
  </div>
  <div class="dm-u-d-flex dm-u-flex-row dm-u-justify-content-between">
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
  </div>
  <div class="dm-u-d-flex dm-u-flex-row dm-u-justify-content-between">
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
  </div>
  <div class="dm-u-d-flex dm-u-flex-row dm-u-justify-content-between">
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
  </div>
  <div class="dm-u-d-flex dm-u-flex-row dm-u-justify-content-between">
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
  </div>
  <div class="dm-u-d-flex dm-u-flex-row dm-u-justify-content-between">
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
    <div><i class="fa fa-info-circle" (mouseover)="buttonMouseOver($event)"></i></div>
  </div>
</div>

<dm-popover #pop1 [title]="title" placement="bottom">
  {{ content }}
</dm-popover>
