<h2>Popover</h2>


    <div class="dm-u-d-flex dm-u-flex-column dm-u-justify-content-between dm-u-p-xl" style="height: 100vh">
      <div class="dm-u-d-flex dm-u-flex-row dm-u-justify-content-between">
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
      </div>
      <div class="dm-u-d-flex dm-u-flex-row dm-u-justify-content-between">
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
      </div>
      <div class="dm-u-d-flex dm-u-flex-row dm-u-justify-content-between">
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
      </div>
      <div class="dm-u-d-flex dm-u-flex-row dm-u-justify-content-between">
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
      </div>
      <div class="dm-u-d-flex dm-u-flex-row dm-u-justify-content-between">
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
      </div>
      <div class="dm-u-d-flex dm-u-flex-row dm-u-justify-content-between">
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
        <div><i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i></div>
      </div>
    </div>




<!--<div class="dm-u-p-lg">
      <button (mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)">Click</button>
      <br/>
      <button (mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)">Click Click</button>
      <br/>
      <button (mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)">Click Click Click</button>
      <br/>
      <i class="fa fa-info-circle"(mouseover)="buttonMouseOver($event)" (mouseout)="buttonMouseOut($event)"></i>

      <dm-popover
        #pop1
        [title]="title"
        [showCloseIcon]="true"
        placement="bottom"
        (onBeforeShow)="beforeShow($event)"
        (onAfterShow)="afterShow($event)"
        (onBeforeHide)="beforeHide($event)"
        (onAfterHide)="afterHide($event)">
        {{ content }}
      </dm-popover>
    </div>-->
<dm-popover
  #pop1
  [title]="title"
  [showCloseIcon]="true"
  placement="bottom"
  (onBeforeShow)="beforeShow($event)"
  (onAfterShow)="afterShow($event)"
  (onBeforeHide)="beforeHide($event)"
  (onAfterHide)="afterHide($event)">
  {{ content }}
</dm-popover>
