<h2>Popover</h2>

<div class="dm-o-container">
  <div class="dm-o-row dm-u-flex-column dm-u-p-xl dm-u-align-content-center">
    <div class="dm-u-p-lg">
      <button (mouseover)="pop1.toggle($event)" (mouseout)="pop1.hide($event)">Click</button>
      <br/>
      <button (click)="pop1.toggle($event)">Click</button>
      <br/>
      <button (click)="pop1.toggle($event)">Click</button>

      <dm-popover
        #pop1
        title="Popover Title which is very long and cannot fit in this afsfsd"
        [showCloseIcon]="true"
        (onBeforeHide)="beforeHide($event)"
        (onAfterHide)="afterHide($event)">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.Lorem
        ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt desperis.
      </dm-popover>
    </div>
  </div>
</div>
