.dm-c-switch {
  font-size: 1rem;
  background: $dm-c-switch__bg;
  border: $dm-settings__border-width solid $dm-c-switch__border-color;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  overflow: visible;
  padding: 0;
  margin: 0;            
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  background-clip: content-box;
  @include dm-box-shadow($dm-c-switch__box-shadow-color 0 0 0 0 inset);
  @include dm-transition(0.3s ease-out background);
  @include dm-border-radius(1.25em);
  
  width: 2.0625em;
  height: 1.25em;

  &__handle {
    font-size: 1em;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $dm-c-switch__handle-bg;
    @include dm-box-shadow(0 .0625em .1875em $dm-c-switch__handle-box-shadow-color);          
    @include dm-transition(0.3s ease-out left);
    @include dm-border-radius(100%);

    width: 1.25em;
    height: 1.25em;
  }
}
