.dm-c-switch {
  &.dm-is-checked {
    background: $dm-switch-checked-bg;
    border-color: $dm-switch-checked-bg;
  }

  &.dm-is-checked &__handle {
    left: .8125em;
  }

  &.dm-is-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.dm-is-small {
    font-size: 0.75rem;
  }

  &.dm-is-medium {
    font-size: 1.5rem;
  }

  &.dm-is-large {
    font-size: 2rem;
  }
}
