.dm-l-main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__page-container {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  &__navbar {
    background: dm-get-color(red);
  }

  &__sidebar {
    background: dm-get-color(blue);
    flex-basis: content;
  }

  &__actionbar {
    background: dm-get-color(green);
  }

  &__content {
    background: dm-get-color(grey);
    flex: 1;
  }
}