.dm-o-caret::after {
  border-color: $dm-o-caret_border-color;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: $dm-o-caret_width / 2;
  vertical-align: middle;
  content: "";
  border-top:$dm-o-caret_width solid;
  border-right: $dm-o-caret_width solid transparent;
  border-left: $dm-o-caret_width solid transparent;
}