$panel-default-border: #999;

@each $color-type in $color-types {
  .ux-o-color-#{$color-type} {
    color: get-color(#{$color-type}) !important;
  }
  .ux-o-bg-color-#{$color-type} {
    background-color: get-color(#{$color-type}) !important;
  }
  .ux-o-bg-#{$color-type} {
    background-color: get-color(#{$color-type}) !important;
    border-color: get-color(#{$color-type}) !important;
    color: #fff !important;
  }
  .ux-o-alpha-#{$color-type} {
    background-color: get-color(#{$color-type}-lightester-2) !important; 
    border-color:  get-color(#{$color-type}-dark) !important;
  }
  .ux-o-border-#{$color-type} {
    border-color: get-color(#{$color-type}) !important;
  }
  .ux-o-border-top-#{$color-type} {
    border-color: get-color(#{$color-type}) !important;
  }
  .ux-o-border-bottom-#{$color-type} {
    border-bottom-color: get-color(#{$color-type}) !important;
  }
  .ux-o-border-left-#{$color-type} {
    border-left-color: get-color(#{$color-type}) !important;
  }
  .ux-o-border-right-#{$color-type} {
    border-right-color: get-color(#{$color-type}) !important;
  }
  .ux-o-text-#{$color-type} {
    &,
    &:hover,
    &:focus {
        color: get-color(#{$color-type}) !important;
    }
  }

  @each $color-shade in $color-shades {
    .ux-o-color-#{$color-type}-#{$color-shade} {
      color: get-color(#{$color-type}-#{$color-shade}) !important;
    }
    .ux-o-bg-color-#{$color-type}-#{$color-shade} {
      color: get-color(#{$color-type}-#{$color-shade}) !important;
    }
    .ux-o-bg-#{$color-type}-#{$color-shade} {
      background-color: get-color(#{$color-type}-#{$color-shade}) !important;
      border-color: get-color(#{$color-type}-#{$color-shade}) !important;
      color: #fff !important;
    }
    .ux-o-border-#{$color-type}-#{$color-shade} {
      border-color: get-color(#{$color-type}-#{$color-shade}) !important;
    }
    .ux-o-border-top-#{$color-type}-#{$color-shade} {
      border-top-color: get-color(#{$color-type}-#{$color-shade}) !important;
    }
    .ux-o-border-bottom-#{$color-type}-#{$color-shade} {
      border-bottom-color: get-color(#{$color-type}-#{$color-shade}) !important;
    }
    .ux-o-border-left-#{$color-type}-#{$color-shade} {
      border-left-color: get-color(#{$color-type}-#{$color-shade}) !important;
    }
    .ux-o-border-right-#{$color-type}-#{$color-shade} {
      border-right-color: get-color(#{$color-type}-#{$color-shade}) !important;
    }
    .ux-o-text-#{$color-type}-#{$color-shade} {
      &,
      &:hover,
      &:focus {
          color: get-color(#{$color-type}-#{$color-shade}) !important;
      }
    }
  }
}
