.ux-o- {
  &text-black {
      font-weight: 900;
  }
  &text-bold {
      font-weight: 700;
  }
  &text-semibold {
      font-weight: 500;
  }
  &text-regular {
      font-weight: 400;
  }
  &text-light {
      font-weight: 300;
  }
  &text-thin {
      font-weight: 100;
  }
}
