<div class="card">

  <div class="card-header">
     
    <h6 class="m-0">
      <i class="icon-cog3 mr-1"></i> {{ title }}
      <small *ngIf="subtitle">{{ subtitle }}</small>
    </h6>
    
    <div class="dm-o-heading-elements">
      <dm-icons></dm-icons>
    </div>
    
    <a class="dm-o-heading-elements-toggle">
      <i class="icon-more"></i>
    </a>
  </div>

  <div class="card-block">
    <ng-content></ng-content>
  </div>

  <div class="card-footer">
    <div class="dm-o-heading-elements">
      <span class="">Hello Footer</span>
    </div>
  </div>
</div>