<h5>nav Category</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quae praesentium veniam molestiae? Praesentium dolorem animi
  velit labore est distinctio asperiores ad minus reprehenderit deleniti, ab veritatis, modi quae ullam.</p>
  <div class="card card-primary">
    <span class="ux-c-nav-category">
      <i class="icon-menu ux-c-nav-category__icon" title="Category Title"></i>
      <span class="ux-c-nav-category__label">Dashboards</span>
    </span>
  </div>

<h5>nav Item</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quae praesentium veniam molestiae? Praesentium dolorem animi
  velit labore est distinctio asperiores ad minus reprehenderit deleniti, ab veritatis, modi quae ullam.</p>
<div class="card card-primary">
  <a class="ux-c-nav-item" href="#">
    <i class="icon-home4 ux-c-nav-item__icon"></i>
    <span class="ux-c-nav-item__label">
      Home
    </span>
  </a>
</div>

<h5>nav Item - Has Subitems</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quae praesentium veniam molestiae? Praesentium dolorem animi
  velit labore est distinctio asperiores ad minus reprehenderit deleniti, ab veritatis, modi quae ullam.</p>
<div class="card card-primary">
  <a class="ux-c-nav-item ux-c-nav-item--has-subitems" href="#">
    <i class="icon-home4 ux-c-nav-item__icon"></i>
    <span class="ux-c-nav-item__label">
      Home
    </span>
  </a>
</div>

<h5>nav Divider</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quae praesentium veniam molestiae? Praesentium dolorem animi
  velit labore est distinctio asperiores ad minus reprehenderit deleniti, ab veritatis, modi quae ullam.</p>
<div class="card card-primary">
  <div class="ux-c-nav-divider"></div>
</div>

<h5>nav Stack</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quae praesentium veniam molestiae? Praesentium dolorem animi
  velit labore est distinctio asperiores ad minus reprehenderit deleniti, ab veritatis, modi quae ullam.</p>
<ul class="ux-c-nav-stack ux-c-nav-stack@small" [class.ux-c-nav-stack--closed]="closed">
  <li class="ux-c-nav-stack__row" (click)="toggleClosed()">
    <span class="ux-c-nav-category">
      <i class="icon-menu ux-c-nav-category__icon" title="Category Title"></i>
      <span class="ux-c-nav-category__label">Dashboards</span>
    </span>
  </li>
  <li class="ux-c-nav-stack__row">
    <a class="ux-c-nav-item ux-c-nav-item--has-subitems" href="#">
      <i class="icon-home4 ux-c-nav-item__icon"></i>
      <span class="ux-c-nav-item__label">
        Home
      </span>
    </a>
  </li>
  <li class="ux-c-nav-stack__row">
    <a class="ux-c-nav-item" href="#">
      <i class="icon-search4 ux-c-nav-item__icon"></i>
      <span class="ux-c-nav-item__label">
        Search
      </span>
    </a>
  </li>
  <li class="ux-c-nav-stack__row ux-c-nav-stack__row--active">
    <a class="ux-c-nav-item ux-c-nav-item--has-subitems" href="#">
      <i class="icon-coin-euro ux-c-nav-item__icon"></i>
      <span class="ux-c-nav-item__label">
        Tarification
      </span>
    </a>
    <ul class="ux-c-nav-stack__subitems">
      <li class="ux-c-nav-stack__row">
        <a class="ux-c-nav-item" href="#">
        <span class="ux-c-nav-item__label">
          Supervisor
        </span>
        </a>
      </li>
      <li class="ux-c-nav-stack__row ux-c-nav-stack__row--active">
        <a class="ux-c-nav-item ux-c-nav-item--has-subitems" href="#">
        <span class="ux-c-nav-item__label">
          Medical Officer
        </span>
        </a>
        <ul class="ux-c-nav-stack__subitems">
          <li class="ux-c-nav-stack__row">
            <a class="ux-c-nav-item" href="#">
              <i class="icon-star-empty3 ux-c-nav-item__icon ux-o-text-orange-lightest"></i>
              <span class="ux-c-nav-item__label">
                Paper Claims
              </span>
            </a>
          </li>
          <li class="ux-c-nav-stack__row">
            <a class="ux-c-nav-item ux-c-nav-item--has-subitems" href="#">
              <i class="icon-star-full2 ux-c-nav-item__icon ux-o-text-orange-lightest"></i>
            <span class="ux-c-nav-item__label">
              Online Claims
            </span>
            </a>
            <ul class="ux-c-nav-stack__subitems">
              <li class="ux-c-nav-stack__row">
                <a class="ux-c-nav-item" href="#">
                <span class="ux-c-nav-item__label">
                  Needs Acceptance
                </span>
                </a>
              </li>
              <li class="ux-c-nav-stack__row">
                <a class="ux-c-nav-item" href="#">
                <span class="ux-c-nav-item__label">
                  Accepted
                </span>
                </a>
              </li>
              <li class="ux-c-nav-stack__row">
                <div class="ux-c-nav-divider"></div>
              </li>
              <li class="ux-c-nav-stack__row">
                <a class="ux-c-nav-item" href="#">
                <span class="ux-c-nav-item__label">
                  Rejected
                </span>
                </a>
              </li>
              <li class="ux-c-nav-stack__row">
                <a class="ux-c-nav-item" href="#">
                <span class="ux-c-nav-item__label">
                  Waiting for tarification
                </span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="ux-c-nav-stack__row">
    <span class="ux-c-nav-category">
      <i class="icon-menu ux-c-nav-category__icon" title="Category Title"></i>
      <span class="ux-c-nav-category__label">My Bookmarks</span>
    </span>
  </li>
  <li class="ux-c-nav-stack__row">
    <a class="ux-c-nav-item" href="#">
      <i class="icon-alarm ux-c-nav-item__icon"></i>
      <span class="ux-c-nav-item__label">
        Waiting List
      </span>
    </a>
  </li>
  <li class="ux-c-nav-stack__row">
    <a class="ux-c-nav-item" href="#">
      <i class="icon-printer ux-c-nav-item__icon"></i>
      <span class="ux-c-nav-item__label">
        To Be Printed
      </span>
    </a>
  </li>
  <li class="ux-c-nav-stack__row">
    <span class="ux-c-nav-category">
      <i class="icon-menu ux-c-nav-category__icon" title="Category Title"></i>
      <span class="ux-c-nav-category__label">Administration</span>
    </span>
  </li>
  <li class="ux-c-nav-stack__row">
    <a class="ux-c-nav-item ux-c-nav-item--has-subitems" href="#">
      <i class="icon-grid6 ux-c-nav-item__icon"></i>
      <span class="ux-c-nav-item__label">
        System Modules
      </span>
    </a>
    <ul class="ux-c-nav-stack__subitems">
      <li class="ux-c-nav-stack__row">
        <a class="ux-c-nav-item" href="#">
          <i class="icon-aid-kit ux-c-nav-item__icon"></i>
          <span class="ux-c-nav-item__label">
            Medicines
          </span>
        </a>
      </li>
    </ul>
  </li>
</ul>
