<ul class="ux-c-nav-stack">
  <li class="ux-c-nav-stack__row">
    <asm-nav-category title="Dashboards"></asm-nav-category>
  </li>

  <li class="ux-c-nav-stack__row">
    <asm-nav-item title="Home" icon="icon-home4"></asm-nav-item>
  </li>
  <li class="ux-c-nav-stack__row ux-c-nav-stack__row--active">
    <asm-nav-item title="Search" icon="icon-search4" [hasSubitems]="true" [isOpened]="true"></asm-nav-item>
    <asm-nav-subitems>
      <li class="ux-c-nav-stack__row">
        <asm-nav-item title="Inner"></asm-nav-item>
      </li>
    </asm-nav-subitems>
  </li>
</ul>