.asm-family-bar { 
  font-size: 1rem;

  &__members-container {
    font-size: 0;
    background-color: #ddd;
    padding: .7rem;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    transition-property: 'max-height';
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  
  &__tab-container {
    text-align: center;
    font-size: 1rem;
    position: relative;
    user-select: none;
  }
  
  &__tab-button {
    background-color: #fff;
    border: .1em solid #ddd;
    border-top: 0;
    border-radius: 0 0 .2em .2em;
    display: inline-block;
    font-size: .7em;
    padding: .3em .7em;
    color: #999;
    cursor: pointer;
    position: relative; 
    padding-right: 2em
  }
  
  &__tab-title {
    text-transform: uppercase;
  }
  
  &__tab-caret {
    font-size: 1.5em; 
    right: .5em; 
    position: absolute; 
    top: 50%; 
    margin-top: -.5em;
  }
  
  &__tab-member-first-name,
  &__tab-member-last-name {
    color: #bbb;
  }
  
  &__tab-member-last-name {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__family-plus-container {
    display: block;
    position: absolute;
    top: .4em;
    right: .6em;
  }

  &__family-plus-label {
    font-size: .7em;
    color: #bbb;
    vertical-align: middle;
    margin: 0;
    margin-right: .3em;
    text-transform: uppercase;
  }

  &__scroll-left-container,
  &__scroll-right-container {
    position: absolute;
    top: .4em;
    font-size: 1.6em;
    transition: all .3s;
  }

  &__scroll-left-container {
    left: -2em;
  }

  &__scroll-right-container {
    right: -2em;
  }

  &__scroll-left-container:active,
  &__scroll-right-container:active {
    transform: scale(1.5)
  }

  &--closed &__members-container {
    padding: 0;
    height: 0;
  }
  
  &--closed &__tab-caret {
    transform: rotate(180deg);
    margin-top: -.35em;
  }

  &--closed &__family-plus-container {
    visibility: hidden;
  }

  &--closed &__scroll-left-container,
  &--closed &__scroll-right-container {
    visibility: hidden;
  }

  &--closed .asm-family-member {
    visibility: hidden;
  }

  &--disabled .asm-family-member {
    cursor: not-allowed;
  }
}
