.asm-navigation-category {
  color: rgba(255, 255, 255, .5);
  display: block;
  padding: 10px 20px 10px 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  cursor: default;
  user-select: none;

  &__label {
    font-family: 'Roboto';
    font-size: 11px;
  }

  &__icon {
    display: none;
  }
}