/**
 * Makes element resizable
 *
 * 1. Options: horizontal, vertical, both
 * 2. Per CSS3 UI, `resize` only applies when `overflow` isn't `visible`
 */
@mixin dm-resizable($direction) {
  resize: $direction; /* [1] */
  overflow: auto; /* [2] */ 
}
