// Margin and Padding

@each $breakpoint in map-keys($dm-settings-grid-breakpoints) {
  @include dm-media-breakpoint-up($breakpoint) {
    $infix: dm-breakpoint-infix($breakpoint, $dm-settings-grid-breakpoints);

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $lengths in $dm-settings-spacers {
        $length-x: map-get($lengths, x);
        $length-y: map-get($lengths, y);

        .dm-u-#{$abbrev}#{$infix}-#{$size}  { #{$prop}:        $length-y $length-x !important; }
        .dm-u-#{$abbrev}t#{$infix}-#{$size} { #{$prop}-top:    $length-y !important; }
        .dm-u-#{$abbrev}r#{$infix}-#{$size} { #{$prop}-right:  $length-x !important; }
        .dm-u-#{$abbrev}b#{$infix}-#{$size} { #{$prop}-bottom: $length-y !important; }
        .dm-u-#{$abbrev}l#{$infix}-#{$size} { #{$prop}-left:   $length-x !important; }
        .dm-u-#{$abbrev}x#{$infix}-#{$size} {
          #{$prop}-right: $length-x !important;
          #{$prop}-left:  $length-x !important;
        }
        .dm-u-#{$abbrev}y#{$infix}-#{$size} {
          #{$prop}-top:    $length-y !important;
          #{$prop}-bottom: $length-y !important;
        }
      }
    }

    // Some special margin utils
    .dm-u-m#{$infix}-auto  { margin:        auto !important; }
    .dm-u-mt#{$infix}-auto { margin-top:    auto !important; }
    .dm-u-mr#{$infix}-auto { margin-right:  auto !important; }
    .dm-u-mb#{$infix}-auto { margin-bottom: auto !important; }
    .dm-u-ml#{$infix}-auto { margin-left:   auto !important; }
    .dm-u-mx#{$infix}-auto {
      margin-right: auto !important;
      margin-left:  auto !important;
    }
    .dm-u-my#{$infix}-auto {
      margin-top:    auto !important;
      margin-bottom: auto !important;
    }
  }
}
