// Margin and Padding

@each $breakpoint in map-keys($dm-settings-grid-breakpoints) {
  @include dm-media-breakpoint-up($breakpoint) {
    $infix: dm-breakpoint-infix($breakpoint, $dm-settings-grid-breakpoints);

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $lengths in $dm-settings-spacers {
        $length-x: map-get($lengths, x);
        $length-y: map-get($lengths, y);

        .dm-u-#{$abbrev}-#{$size}#{$infix}  { #{$prop}:        $length-y $length-x !important; }
        .dm-u-#{$abbrev}t-#{$size}#{$infix} { #{$prop}-top:    $length-y !important; }
        .dm-u-#{$abbrev}r-#{$size}#{$infix} { #{$prop}-right:  $length-x !important; }
        .dm-u-#{$abbrev}b-#{$size}#{$infix} { #{$prop}-bottom: $length-y !important; }
        .dm-u-#{$abbrev}l-#{$size}#{$infix} { #{$prop}-left:   $length-x !important; }
        .dm-u-#{$abbrev}x-#{$size}#{$infix} {
          #{$prop}-right: $length-x !important;
          #{$prop}-left:  $length-x !important;
        }
        .dm-u-#{$abbrev}y-#{$size}#{$infix} {
          #{$prop}-top:    $length-y !important;
          #{$prop}-bottom: $length-y !important;
        }
      }
    }

    // Some special margin utils
    .dm-u-m-auto#{$infix}  { margin:        auto !important; }
    .dm-u-mt-auto#{$infix} { margin-top:    auto !important; }
    .dm-u-mr-auto#{$infix} { margin-right:  auto !important; }
    .dm-u-mb-auto#{$infix} { margin-bottom: auto !important; }
    .dm-u-ml-auto#{$infix} { margin-left:   auto !important; }
    .dm-u-mx-auto#{$infix} {
      margin-right: auto !important;
      margin-left:  auto !important;
    }
    .dm-u-my-auto#{$infix} {
      margin-top:    auto !important;
      margin-bottom: auto !important;
    }
  }
}
