.dm-u-text-black {
  font-weight: 900 !important;
}
  
.dm-u-text-bold {
    font-weight: 700 !important;
}

.dm-u-text-semibold {
    font-weight: 500 !important;
}

.dm-u-text-regular {
    font-weight: 400 !important;
}

.dm-u-text-light {
    font-weight: 300 !important;
}

.dm-u-text-thin {
    font-weight: 100 !important;
}


