/**
 * Vertical alignment
 *
 * 1. Browser default
 */
 
.dm-u-valign-baseline {
  vertical-align: baseline !important; /* [1] */
} 

.dm-u-valign-top { 
  vertical-align: top !important; 
}

.dm-u-valign-middle { 
  vertical-align: middle !important; 
}

.dm-u-valign-bottom { 
  vertical-align: bottom !important; 
}

.dm-u-valign-text-bottom { 
  vertical-align: text-bottom !important; 
}

.dm-u-valign-text-top { 
  vertical-align: text-top !important; 
}
