/**
 * Margin and Padding
 */
@each $breakpoint in map-keys($dm-settings_grid-breakpoints) {
  @include dm-media-breakpoint-up($breakpoint) {
    $infix: dm-breakpoint-infix($breakpoint, $dm-settings_grid-breakpoints);

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $value in $dm-settings_spacers {

        .dm-u-#{$abbrev}-#{$size}#{$infix}  { #{$prop}:        $value $value !important; }
        .dm-u-#{$abbrev}t-#{$size}#{$infix} { #{$prop}-top:    $value !important; }
        .dm-u-#{$abbrev}r-#{$size}#{$infix} { #{$prop}-right:  $value !important; }
        .dm-u-#{$abbrev}b-#{$size}#{$infix} { #{$prop}-bottom: $value !important; }
        .dm-u-#{$abbrev}l-#{$size}#{$infix} { #{$prop}-left:   $value !important; }
        .dm-u-#{$abbrev}x-#{$size}#{$infix} {
          #{$prop}-right: $value !important;
          #{$prop}-left:  $value !important;
        }
        .dm-u-#{$abbrev}y-#{$size}#{$infix} {
          #{$prop}-top:    $value !important;
          #{$prop}-bottom: $value !important;
        }
      }
    }

    .dm-u-m-auto#{$infix}  { margin:        auto !important; }
    .dm-u-mt-auto#{$infix} { margin-top:    auto !important; }
    .dm-u-mr-auto#{$infix} { margin-right:  auto !important; }
    .dm-u-mb-auto#{$infix} { margin-bottom: auto !important; }
    .dm-u-ml-auto#{$infix} { margin-left:   auto !important; }
    .dm-u-mx-auto#{$infix} {
      margin-right: auto !important;
      margin-left:  auto !important;
    }
    .dm-u-my-auto#{$infix} {
      margin-top:    auto !important;
      margin-bottom: auto !important;
    }
  }
}
