.dm-u-bg-faded {
  background-color: darken($dm-settings_color-body-bg, 3%);
}

@each $color-name in dm-get-color-names() {
  .dm-u-bg-color-#{$color-name} {
    background-color: dm-get-color($color-name) !important;
  }

  .dm-u-bg-#{$color-name} {
    background-color: dm-get-color($color-name) !important;
    border-color: dm-get-color($color-name) !important;
    color: dm-get-color(white) !important;
  }

  @if(dm-has-color(#{$color-name}-lightester-2)) {
    @if(dm-has-color(#{$color-name}-dark)) {
      .dm-u-alpha-#{$color-name} {
        background-color: dm-get-color(#{$color-name}-lightester-2) !important; 
        border-color:  dm-get-color(#{$color-name}-dark) !important;
      } 
    }
  }
}
