@each $breakpoint-name in dm-get-breakpoint-names() {
  @include dm-media-breakpoint-up($breakpoint-name) {
    $infix: dm-breakpoint-infix($breakpoint-name);

    @each $prop-name, $prop-abbrev in (margin: m, padding: p) {
      @each $spacer-name, $spacer-size in dm-get-spacers() {
        .dm-u-#{$prop-abbrev}t-#{$spacer-name}#{$infix} { #{$prop-name}-top: $spacer-size !important; }
        .dm-u-#{$prop-abbrev}b-#{$spacer-name}#{$infix} { #{$prop-name}-bottom: $spacer-size !important; }
        .dm-u-#{$prop-abbrev}l-#{$spacer-name}#{$infix} { #{$prop-name}-left: $spacer-size !important; }
        .dm-u-#{$prop-abbrev}r-#{$spacer-name}#{$infix} { #{$prop-name}-right: $spacer-size !important; }
        .dm-u-#{$prop-abbrev}x-#{$spacer-name}#{$infix} { 
          #{$prop-name}-left: $spacer-size !important; 
          #{$prop-name}-right: $spacer-size !important; 
        }
        .dm-u-#{$prop-abbrev}y-#{$spacer-name}#{$infix} { 
          #{$prop-name}-top: $spacer-size !important; 
          #{$prop-name}-bottom: $spacer-size !important; 
        }
        .dm-u-#{$prop-abbrev}-#{$spacer-name}#{$infix} {
          #{$prop-name}: $spacer-size;
        }
      }
    }
    
    .dm-u-m-auto#{$infix}  { margin:        auto !important; }
    .dm-u-mt-auto#{$infix} { margin-top:    auto !important; }
    .dm-u-mr-auto#{$infix} { margin-right:  auto !important; }
    .dm-u-mb-auto#{$infix} { margin-bottom: auto !important; }
    .dm-u-ml-auto#{$infix} { margin-left:   auto !important; }
    .dm-u-mx-auto#{$infix} {
      margin-right: auto !important;
      margin-left:  auto !important;
    }
    .dm-u-my-auto#{$infix} {
      margin-top:    auto !important;
      margin-bottom: auto !important;
    }
  }
}

