<div class="asm-family-member"
     [class.asm-family-member--selected]="familyMember.selected"
     [class.asm-family-member--disabled]="familyMember.disabled">

     {{ familyMember.relationName }}
     
     <a href="#" *ngIf="familyMember.coveredByOtherAffiliate" class="asm-family-member__member-number">
       {{ familyMember.personalNumber }}
     </a>

     <span *ngIf="!familyMember.coveredByOtherAffiliate">
       {{ familyMember.personalNumber }}
     </span>

     {{ familyMember.firstName }}
     {{ familyMember.familyName }}
     {{ familyMember.birthDate | date:'dd/MM/yyyy' }}
     {{ familyMember.deathDate | date:'dd/MM/yyyy' }}

     <div *ngIf="familyMember.language" 
          class="asm-family-member__language">
        {{ familyMember.language }}
     </div>
     
     <div *ngIf="familyMember.country"
          class="asm-family-member__language">
        <i class="fa fa-globe"></i> {{ familyMember.country }}
     </div>

     <i class="fa"
        [class.fa-mars]="isMale"
        [class.fa-venus]="isFemale"
        [class.fa-genderless]="isSexUnknown">
     </i>

     <i *ngIf="familyMember.hasComments"
        class="fa fa-comment asm-family-member__badge asm-family-member__badge--comments">
     </i>

     <i *ngIf="familyMember.coveredByOtherAffiliate"
        class="fa fa-warning asm-family-member__badge asm-family-member__badge--covered-by-other">
     </i>

     <i class="fa fa-heart asm-family-member__badge"
        [class.asm-family-member__badge--complementary-rights]="hasSicknessComplementaryRights"
        [class.asm-family-member__badge--full-rights]="hasSicknessFullRights">
     </i>

     <i class="fa fa-plus asm-family-member__badge"
        [class.asm-family-member__badge--complementary-rights]="hasAccidentComplementaryRights"
        [class.asm-family-member__badge--full-rights]="hasAccidentFullRights">
     </i>
</div>
