.dm-c-nav-category {
  .dm-is-closed & {
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;

    &__label {
      display: none;
    }

    &__icon {
      display: inline-block;
    }
  }
}