<h2>Menu</h2>

<dm-autocomplete>
    <dm-menu>
      <dm-menu-header title="My Section"></dm-menu-header>
      <dm-menu-item id="1" label="auto item 1">
        <ng-template>
          custom 1, auto item 1
        </ng-template>
      </dm-menu-item>
    </dm-menu>
</dm-autocomplete>

<h3>Menu Items provided in markup</h3>
<dm-menu (select)="didSelectItem($event)">
  <dm-menu-header title="My Section"></dm-menu-header>
  <dm-menu-item id="1" label="item 1" ></dm-menu-item>

  <dm-menu-separator></dm-menu-separator>
  <dm-menu-item id="2" label="item 2" iconClass="icon-coin-euro">
    <ng-template>
      custom template id: ffdf
    </ng-template>
  </dm-menu-item>

  <dm-menu-header title="My Tools"></dm-menu-header>
  <dm-menu-item id="3" label="item 3" [disabled]="true" iconClass="icon-home"></dm-menu-item>
  <dm-menu-item id="4" label="item 4" iconClass="icon-trash" [disabled]="true">
    <ng-template let-m>
      <select name="" id="" [disabled]="m.disabled">
        <option [value]="m.id">{{ m.label }}</option>
      </select>
    </ng-template>
  </dm-menu-item>
  <dm-menu-item id="5" label="item 5"iconClass="icon-home2"></dm-menu-item>
  
</dm-menu>

<h3>Menu Items provided with model</h3>
<dm-menu (select)="didSelectItem($event)">
    <dm-menu-header title="My Tools"></dm-menu-header>
    <dm-menu-item id="1" label="Close All" ></dm-menu-item>
    <dm-menu-separator></dm-menu-separator>
    
    <dm-menu-item *ngFor="let m of menuItems" [id]="m.id" [label]="m.label" [disabled]="m.disabled" iconClass="m.iconClass"></dm-menu-item>
    <dm-menu-header title="Templated"></dm-menu-header>
    <dm-menu-item *ngFor="let m of menuItems" [id]="m.id" [label]="m.label" [disabled]="m.disabled" [iconClass]="m.iconClass">
        <ng-template let-m>
          <i [class]="m.iconClass">{{m.iconClass}}</i>
            <select  [disabled]="m.disabled">
              <option [value]="m.id"> {{ m.label }}</option>
            </select>
          </ng-template>
    </dm-menu-item>
</dm-menu>

<button (click)="didClickReloadMenuitems($event)">Reload Menu Items</button>
