$dm-settings-enable-rounded: true !default;
$dm-settings-enable-transitions: true !default;
$dm-settings-enable-shadows: true !default;

$dm-settings-global-radius: 3px !default;

$dm-settings-border-width: 1px !default;

$dm-settings-transition-base: all .3s ease-in-out !default;