.ux-l-main {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__page-container {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  &__navbar {
    background: red;
  }

  &__sidebar {
    background: blue;
    flex-basis: content;
  }

  &__content {
    background: grey;
    flex: 1;
  }
}