$ux-family-member-bg: #fff;
$ux-family-member-hover-bg: #fff;

$ux-family-member-header-personal-number-link-color: #FF7043;
$ux-family-member-header-text-color: #999;

$ux-family-member-born-text-color: #999;
$ux-family-member-language-bg: #999;
$ux-family-member-language-text-color: #fff;

$ux-family-member-badge-bg: #ddd;
$ux-family-member-badge-text-color: #bbb;
$ux-family-member-badge-full-rights-text-color: #81C784;
$ux-family-member-badge-complementary-rights-text-color: #FF7043;
$ux-family-member-badge-comments-text-color: #ffcc00;
$ux-family-member-badge-covered-by-other-bg: #FF7043;
$ux-family-member-badge-covered-by-other-text-color: #FFF;