$ux-core-spacer:   1rem !default;
$ux-core-spacer-x: $ux-core-spacer !default;
$ux-core-spacer-y: $ux-core-spacer !default;

$ux-core-border-width: 1px !default;
$ux-core-border-width-lg: $ux-core-border-width * 2 !default;