$ux-core-font-size: 16px !default;

$ux-core-font-family: ('Roboto', sans-serif,) !default;
$ux-core-font-family-light: ('ux-light', 'Roboto', sans-serif,) !default;
$ux-core-font-family-medium: ('ux-medium', 'Roboto', sans-serif,) !default;
$ux-core-font-family-bold: ('ux-bold', 'Roboto', sans-serif,) !default;