.dm-c-family-bar { 
  font-size: 1rem;

  .dm-c-family-member {
    margin-right: 0.7em;
    width: 14em;
  }

  &__members-container {
    font-size: 0;
    background-color: $dm-family-bar-members-container-bg;
    padding: .7rem;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    @include dm-transition();
  }
  
  &__tab-container {
    text-align: center;
    font-size: 1rem;
    position: relative;
    user-select: none;
  }
  
  &__tab-button {
    background-color: $dm-family-bar-tab-button-bg;
    border: .1em solid $dm-family-bar-tab-button-border-color;
    border-top: 0;
    display: block;
    font-size: .7em;
    padding: .3em .7em;
    color: $dm-family-bar-tab-button-color;
    cursor: pointer;
    position: relative; 
    padding-right: 2em;
    width: 16em;
    margin: 0 auto;
    @include dm-border-radius(0 0 .2em .2em);
  }
  
  &__tab-title {
    text-transform: uppercase;
  }
  
  &__tab-caret {
    font-size: 1.5em; 
    right: .5em; 
    position: absolute; 
    top: 50%; 
    margin-top: -.5em;
  }
  
  &__tab-member {
    @include dm-text-truncate();
  }

  &__tab-member-first-name,
  &__tab-member-last-name {
    color: $dm-family-bar-tab-member-name-color;
  }
  
  &__tab-member-last-name {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__family-plus-container {
    display: block;
    position: absolute;
    top: .4em;
    right: .6em;
    @include dm-transition();
  }

  &__family-plus-label {
    font-size: .7em;
    color: $dm-family-bar-tab-family-plus-color;
    vertical-align: middle;
    margin: 0;
    margin-right: .3em;
    text-transform: uppercase;
  }

  &__scroll-left-container,
  &__scroll-right-container {
    position: absolute;
    font-size: 2em;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include dm-transition();
  }

  &__scroll-left-container {
    left: -1.5em;
  }

  &__scroll-right-container {
    right: -1.5em;
  }

  &__scroll-left-container:active,
  &__scroll-right-container:active {
    transform: scale(1.2)
  }
}
