$dm-elements-hr_border-width: $dm-settings_border-width !default;
$dm-elements-hr_border-color: transparentize(dm-get-color(black),.9) !default;
$dm-elements-hr_margin-top: dm-get-spacer(md) !default;
$dm-elements-hr_margin-bottom: dm-get-spacer(md) !default;
