.dm-c-nav-link {
  @include hover-focus-active {
    color: $dm-nav-item-text;
    text-decoration: none;
  }

  @include hover {
    background-color: $dm-nav-item-bg-hover;
    color: $dm-nav-item-text;
    text-decoration: none;
  }
  
  &--has-subitems {
    padding-right: 2.25em;

    &:after {
      content: "\e9c7";
      display: block;
      font-family: icomoon;
      font-size: 1em;
      line-height: 1;
      margin-top: -0.5em;
      position: absolute;
      right: 1.25em;
      top: 50%;
      transform: rotate(0);
      @include transition();
    }
  }

  &.dm-is-active {
    background-color: rgba(0, 0, 0, .1);

    &.dm-c-nav-link--has-subitems:after {
      transform: rotate(90deg);
    }
  }
}