<h3>Navstack</h3>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quae, sit ullam eaque enim praesentium sint, vero magnam iure
  illum eum, doloribus! Ea doloribus, at magnam nihil vero iste voluptate.
</p>

<asm-navstack></asm-navstack>

<h5>nav Category</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quae praesentium veniam molestiae? Praesentium dolorem animi
  velit labore est distinctio asperiores ad minus reprehenderit deleniti, ab veritatis, modi quae ullam.</p>
  <div class="card card-primary">
    <asm-nav-category title="Dashboards"></asm-nav-category>
  </div>

<h5>nav Item</h5>
<div class="card card-primary">
  <asm-nav-item title="Home" icon="icon-home4"></asm-nav-item>
</div>

<h5>nav Item - Has Subitems</h5>
<div class="card card-primary">
  <asm-nav-item title="Home" icon="icon-home4" [hasSubitems]="true"></asm-nav-item>
</div>

<h5>nav Divider</h5>
<div class="card card-primary">
  <asm-nav-divider></asm-nav-divider>
</div>
