<h2>Html Defaults</h2>

<h3>Headings</h3>

<h1>H1 Heading</h1>
<h2>H2 Heading</h2>
<h3>H3 Heading</h3>
<h4>H4 Heading</h4>
<h5>H5 Heading</h5>
<h6>H6 Heading</h6>

<h3>Horizontal Rule</h3>
<hr/>

<h3>pre</h3>
<pre>This text is inside pre</pre>

<h3>code</h3>
Please use the following shortcut <code>Ctrl + Alt + F</code> to find elements on the page

<h3>code inside pre</h3>
<pre><code>&lt;p&gt;Sample text here...&lt;/p&gt;
&lt;p&gt;And another line of sample text here...&lt;/p&gt;
</code></pre>

<h3>kbd</h3>
To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br> To edit settings, press <kbd><kbd>ctrl</kbd>+ <kbd>,</kbd></kbd>

<h3>Button</h3>
<button>Save</button>
<button>Cancel</button>