$dm-elements-headings__font-size-h6: $dm-settings__font-size-base !default;
$dm-elements-headings__font-size-h5: $dm-elements-headings__font-size-h6 * $dm-settings__font-scale !default;
$dm-elements-headings__font-size-h4: $dm-elements-headings__font-size-h5 * $dm-settings__font-scale !default;
$dm-elements-headings__font-size-h3: $dm-elements-headings__font-size-h4 * $dm-settings__font-scale !default;
$dm-elements-headings__font-size-h2: $dm-elements-headings__font-size-h3 * $dm-settings__font-scale !default;
$dm-elements-headings__font-size-h1: $dm-elements-headings__font-size-h2 * $dm-settings__font-scale !default;

$dm-elements-headings__font-family: inherit !default;
$dm-elements-headings__font-weight: 500 !default;

$dm-elements-headings__margin-bottom: (dm-get-spacer(sm)) !default;
$dm-elements-headings__line-height: 1.1 !default;
$dm-elements-headings__color: inherit !default;
