$dm-elements-headings-font-size-h1: 2.5rem !default;
$dm-elements-headings-font-size-h2: 2rem !default;
$dm-elements-headings-font-size-h3: 1.75rem !default;
$dm-elements-headings-font-size-h4: 1.5rem !default;
$dm-elements-headings-font-size-h5: 1.25rem !default;
$dm-elements-headings-font-size-h6: 1rem !default;

$dm-elements-headings-margin-bottom: ($dm-settings-spacer / 2) !default;
$dm-elements-headings-font-family: inherit !default;
$dm-elements-headings-font-weight: 500 !default;
$dm-elements-headings-line-height: 1.1 !default;
$dm-elements-headings-color: inherit !default;
