$dm-elements-headings_font-size-h6: $dm-settings_font-size-base !default;
$dm-elements-headings_font-size-h5: $dm-elements-headings_font-size-h6 * $dm-settings_font-scale !default;
$dm-elements-headings_font-size-h4: $dm-elements-headings_font-size-h5 * $dm-settings_font-scale !default;
$dm-elements-headings_font-size-h3: $dm-elements-headings_font-size-h4 * $dm-settings_font-scale !default;
$dm-elements-headings_font-size-h2: $dm-elements-headings_font-size-h3 * $dm-settings_font-scale !default;
$dm-elements-headings_font-size-h1: $dm-elements-headings_font-size-h2 * $dm-settings_font-scale !default;

$dm-elements-headings_font-family: inherit !default;
$dm-elements-headings_font-weight: 500 !default;

$dm-elements-headings_margin-bottom: (dm-get-spacer(sm)) !default;
$dm-elements-headings_line-height: 1.1 !default;
$dm-elements-headings_color: inherit !default;
