h1, h2, h3, h4, h5, h6 {
  @include dm-headings();
}

h1 { font-size: $dm-elements-headings-font-size-h1; }
h2 { font-size: $dm-elements-headings-font-size-h2; }
h3 { font-size: $dm-elements-headings-font-size-h3; }
h4 { font-size: $dm-elements-headings-font-size-h4; }
h5 { font-size: $dm-elements-headings-font-size-h5; }
h6 { font-size: $dm-elements-headings-font-size-h6; }