$dm-settings-code-font-size: 90% !default;
$dm-settings-code-padding-x: .4rem !default;
$dm-settings-code-padding-y: .2rem !default;
$dm-settings-code-color: dm-get-color(red-darkest) !default;
$dm-settings-code-bg: lighten(dm-get-color(grey-lightester), 30%) !default;

$dm-settings-kbd-box-shadow: inset 0 -.1rem 0 rgba(dm-get-color(black),.25) !default;
$dm-settings-nested-kbd-font-weight: $dm-settings-font-weight-bold !default;
$dm-settings-kbd-color: dm-get-color(white) !default;
$dm-settings-kbd-bg: dm-get-color(grey-darker) !default;

$dm-settings-pre-color: dm-get-color(grey-darker) !default;

code,
kbd,
pre,
samp {
  font-family: $dm-settings-font-family-monospace;
}

code {
  padding: $dm-settings-code-padding-y $dm-settings-code-padding-x;
  font-size: $dm-settings-code-font-size;
  color: $dm-settings-code-color;
  background-color: $dm-settings-code-bg;
  @include dm-border-radius($dm-settings-border-radius);

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    padding: 0;
    color: inherit;
    background-color: inherit;
  }
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: $dm-settings-code-font-size;
  color: $dm-settings-pre-color;

  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }
}

kbd {
  padding: $dm-settings-code-padding-y $dm-settings-code-padding-x;
  font-size: $dm-settings-code-font-size;
  color: $dm-settings-kbd-color;
  background-color: $dm-settings-kbd-bg;
  @include dm-border-radius($dm-settings-border-radius);
  @include dm-box-shadow($dm-settings-kbd-box-shadow);

  kbd {
    padding: 0;
    font-size: 100%;
    font-weight: $dm-settings-nested-kbd-font-weight;
    @include dm-box-shadow(none);
  }
}