.dm-o-main-layout {
  display: flex;
  flex-direction: column;

  &__page-container {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  &__navbar {
  }

  &__sidebar {
    flex-basis: content;
  }

  &__actionbar {
  }

  &__content {
    flex: 1;
    padding: 1rem;
  }
}