.ux-c-nav-stack {
  background-color: $ux-nav-stack-bg;
  list-style-type: none;
  margin: 0;
  padding: 0;

  & > * > .ux-c-nav-item.ux-is-active {
    background-color: $ux-nav-item-bg-opened;
  }
}