$dm-c-menu-item_bg: dm-get-color(grey-lighter);
$dm-c-menu-item_hover-bg: dm-get-color(grey-lightest);
$dm-c-menu-item_selected-bg: dm-get-color(grey-lightester);
$dm-c-menu-item_disabled-color: dm-get-color(grey-light);
