$dm-c-nav-link_text-color: transparentize(dm-get-color(white), 0.08) !default;
$dm-c-nav-link_active-bg: transparentize(dm-get-color(black), 0.9) !default;
$dm-c-nav-link_active-bg-hover: transparentize(dm-get-color(black), 0.9) !default;