$dm-c-nav-link__text-color: transparentize(dm-get-color(white), 0.08);
$dm-c-nav-link__active-bg: transparentize(dm-get-color(black), 0.9);
$dm-c-nav-link__active-bg-hover: transparentize(dm-get-color(black), 0.9);