<h3>Borders</h3>

<span class="dm-u-border"></span>
<span class="dm-u-border-0"></span>
<span class="dm-u-border-top-0"></span>
<span class="dm-u-border-right-0"></span>
<span class="dm-u-border-bottom-0"></span>
<span class="dm-u-border-left-0"></span>

<h3>Border color</h3>

<span class="dm-u-border dm-u-border-primary"></span>
<span class="dm-u-border dm-u-border-info"></span>
<span class="dm-u-border dm-u-border-success"></span>
<span class="dm-u-border dm-u-border-warning"></span>
<span class="dm-u-border dm-u-border-danger"></span>
<span class="dm-u-border dm-u-border-white"></span>

<h3>Border radius</h3>

<span class="dm-u-border dm-u-rounded"></span>
<span class="dm-u-border dm-u-rounded-top"></span>
<span class="dm-u-border dm-u-rounded-right"></span>
<span class="dm-u-border dm-u-rounded-bottom"></span>
<span class="dm-u-border dm-u-rounded-left"></span>
<span class="dm-u-border dm-u-rounded-circle"></span>
<span class="dm-u-border dm-u-rounded-0"></span>
