$dm-c-family-member__bg: dm-get-color(white) !default;
$dm-c-family-member__hover-bg: dm-get-color(grey-lightester-2) !default;

$dm-c-family-member__header-personal-number-link-color: dm-get-color(primary) !default;
$dm-c-family-member__header-text-color: dm-get-color(grey-lighter) !default;

$dm-c-family-member__born-text-color: dm-get-color(grey-lighter) !default;
$dm-c-family-member__language-bg: dm-get-color(grey-lighter) !default;
$dm-c-family-member__language-text-color: dm-get-color(white) !default;

$dm-c-family-member__person-name-text-color: $dm-settings__color-text !default;

$dm-c-family-member__badge-bg: dm-get-color(grey-lightester-2) !default;
$dm-c-family-member__badge-text-color: dm-get-color(grey-lightest) !default;
$dm-c-family-member__badge-full-rights-text-color: dm-get-color(green) !default;
$dm-c-family-member__badge-complementary-rights-text-color: dm-get-color(red) !default;
$dm-c-family-member__badge-comments-text-color: dm-get-color(yellow-darker) !default;
$dm-c-family-member__badge-covered-by-other-bg: dm-get-color(orange-darker) !default;
$dm-c-family-member__badge-covered-by-other-text-color: dm-get-color(white) !default;