.dm-c-family-member {
  &:hover {
    background-color: $dm-family-member-hover-bg;
  }
  
  &--big {
    font-size: 2rem;
  }

  &--selected {
    @include dm-box-shadow(inset 0 0 0 .15rem dm-get-color(primary));
  }

  &--non-selectable {
    cursor: not-allowed;
  }
  
  &--disabled {
    opacity: 0.6;
  }
}