code,
kbd,
pre,
samp {
  font-family: $dm-settings_font-family-monospace;
}

code {
  padding: $dm-elements-code_padding-y $dm-elements-code_padding-x;
  font-size: $dm-elements-code_font-size;
  color: $dm-elements-code_color;
  background-color: $dm-elements-code_bg;
  @include dm-border-radius($dm-settings_border-radius);

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    padding: 0;
    color: inherit;
    background-color: inherit;
  }
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: $dm-elements-code_font-size;
  color: $dm-elements-pre_color;
  // Normalize v4 removed this property, causing `<pre>` content to break out of wrapping code snippets
  overflow: auto;

  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }
}

kbd {
  padding: $dm-elements-code_padding-y $dm-elements-code_padding-x;
  font-size: $dm-elements-code_font-size;
  color: $dm-elements-kbd_color;
  background-color: $dm-elements-kbd_bg;
  @include dm-border-radius($dm-settings_border-radius);
  @include dm-box-shadow($dm-elements-kbd_box-shadow);

  kbd {
    padding: 0;
    font-size: 100%;
    font-weight: $dm-elements-kbd_nested-font-weight;
    @include dm-box-shadow(none);
  }
}