$dm-elements-code_font-size: 90% !default;
$dm-elements-code_padding-x: .4rem !default;
$dm-elements-code_padding-y: .2rem !default;
$dm-elements-code_color: dm-get-color(red-darkest) !default;
$dm-elements-code_bg: lighten(dm-get-color(grey-lightester), 30%) !default;

$dm-elements-kbd_box-shadow: inset 0 -.1rem 0 rgba(dm-get-color(black),.25) !default;
$dm-elements-kbd_color: dm-get-color(white) !default;
$dm-elements-kbd_bg: dm-get-color(grey-darker) !default;
$dm-elements-kbd_nested-font-weight: $dm-settings_font-weight-bold !default;

$dm-elements-pre_color: dm-get-color(grey-darker) !default;
