code,
kbd,
pre,
samp {
  font-family: $dm-settings__font-family-monospace;
}

code {
  padding: $dm-elements-code__padding-y $dm-elements-code__padding-x;
  font-size: $dm-elements-code__font-size;
  color: $dm-elements-code__color;
  background-color: $dm-elements-code__bg;
  @include dm-border-radius($dm-settings__border-radius);

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    padding: 0;
    color: inherit;
    background-color: inherit;
  }
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: $dm-elements-code__font-size;
  color: $dm-elements-pre__color;
  // Normalize v4 removed this property, causing `<pre>` content to break out of wrapping code snippets
  overflow: auto;

  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }
}

kbd {
  padding: $dm-elements-code__padding-y $dm-elements-code__padding-x;
  font-size: $dm-elements-code__font-size;
  color: $dm-elements-kbd__color;
  background-color: $dm-elements-kbd__bg;
  @include dm-border-radius($dm-settings__border-radius);
  @include dm-box-shadow($dm-elements-kbd__box-shadow);

  kbd {
    padding: 0;
    font-size: 100%;
    font-weight: $dm-elements-kbd__nested-font-weight;
    @include dm-box-shadow(none);
  }
}