.asm-navigation-item {
  color: $navigation-item-text-color;
  display: block;
  overflow: hidden;
  padding: 12px 20px 12px 20px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: background-color .3s;
  user-select: none;
  white-space: nowrap;
  line-height: 1.2;

  &:hover {
    background-color: $navigation-item-bg-hover;
    color: $navigation-item-text-color;
    text-decoration: none;
  }

  @import "navigation-item__icon";
  @import "navigation-item__label";
  @import "navigation-item_has-subitems";
}