$dm-elements__anchor-color: map-get($dm-settings__color-palette, primary) !default;
$dm-elements__anchor-decoration: none !default;
$dm-elements__anchor-hover-color: darken($dm-elements__anchor-color, 15%) !default;
$dm-elements__anchor-hover-decoration: underline !default;
