$dm-elements-anchor_color: dm-get-color(primary) !default;
$dm-elements-anchor_decoration: none !default;

$dm-elements-anchor_hover-color: darken($dm-elements-anchor_color, 10%) !default;
$dm-elements-anchor_hover-decoration: underline !default;
