<div class="dm-c-sidebar">
  <ng-content></ng-content>

  <div class="dm-c-sidebar__category ">
    <div class="dm-c-sidebar__category-header">
      <span class="dm-c-sidebar__category-title">Title 2</span>
      <span class="dm-c-sidebar__category-icons">
        
      </span>
    </div>
    <div class="dm-c-sidebar__category-content">
      Content
    </div>
  </div>

  <div class="dm-c-sidebar__category ">
    <div class="dm-c-sidebar__category-header">
      <span class="dm-c-sidebar__category-title">Title 2</span>
      <span class="dm-c-sidebar__category-icons">
        
      </span>
    </div>
    <div class="dm-c-sidebar__category-content">
      Content
    </div>
  </div>
</div>