$navigation-stack-bg: $ux-core-color-slate-darkester;

$navigation-item-text-color: rgba(255, 255, 255, .92);
$navigation-item-bg-hover: darken($navigation-stack-bg, 4%);
$navigation-item-opened-bg: $brand-primary;

.ux-c-navigation-stack {
  background-color: $navigation-stack-bg;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 280px;

  & &__subitems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darken(#263238, 2%);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .03);
    display: none;

    .ux-c-navigation-item {
      padding-left: 48px;
      font-weight: 200;
    }
  }

  & &__subitems &__subitems {
    .ux-c-navigation-item {
      padding-left: 60px;
    }

    .ux-c-navigation-item__label {
      text-transform: none;
      font-weight: 200;
    }   
  }

  & &__subitems &__subitems &__subitems {
    .ux-c-navigation-item {
      padding-left: 80px;
    }
  }

  &__row {
    position: relative;
  }

  & > &__row--active > {
    .ux-c-navigation-item--has-subitems {
      background-color: $navigation-item-opened-bg;
    }
  }

  &__row--active > {
    .ux-c-navigation-item--has-subitems {
      background-color: rgba(0, 0, 0, .1);
    }

    .ux-c-navigation-item:after {
      transform: rotate(90deg);
    }

    .ux-c-navigation-stack__subitems {
      display: block;
    }
  }
}