.ux-navigation-stack {
  &--closed {
    width: 56px;

    > .ux-navigation-stack__row > {

      .ux-navigation-category {
        text-align: center;

        .ux-navigation-category__label {
          display: none;    
        }

        .ux-navigation-category__icon {
          display: inline-block;
        }
      }

      .ux-navigation-item {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        overflow: visible;

        .ux-navigation-item__label {
          display: none;
          position: absolute;
          width: 260px;
          left: 100%;
          top: 0;
          padding-top: 14px;
          padding-bottom: 14px;
          height: 100%;
          background-color: $navigation-item-opened-bg;
          text-align: left;
          padding-left: 20px;
          padding-right: 20px;
          overflow: hidden;
          text-overflow: ellipsis
        }

        .ux-navigation-item__icon {
          margin-left: 0;
          margin-right: 0;
        }
      }

      .ux-navigation-stack__subitems {
        display: none;
        position: absolute;
        width: 260px;
        left: 100%;
      }

      .ux-navigation-item--has-subitems:after {
        display: none
      }
    }

    > .ux-navigation-stack__row:hover > {

      .ux-navigation-item .ux-navigation-item__label {
        display: inline;
      }

      .ux-navigation-stack__subitems {
        display: block;
      }
    }

    .ux-navigation-stack__subitems .ux-navigation-item {
      padding-left: 22px;
    }

    .ux-navigation-stack__subitems .ux-navigation-stack__subitems .ux-navigation-item {
      padding-left: 32px;
    }

    .ux-navigation-stack__subitems .ux-navigation-stack__subitems .ux-navigation-stack__subitems .ux-navigation-item {
      padding-left: 42px;
    }
  }
}