$dm-c-nav-item_width: 250px !default;

$dm-c-nav-item_subitems-bg: dm-get-color(slate-darkester) !default;
$dm-c-nav-item_subitems-border-size: $dm-settings_border-width !default;
$dm-c-nav-item_subitems-border-bg: rgba(dm-get-color(white), 0.07) !default;