$dm-c-nav-item__width: 250px;

$dm-c-nav-item__subitems-bg: dm-get-color(slate-darkester);
$dm-c-nav-item__subitems-border-size: $dm-settings__border-width;
$dm-c-nav-item__subitems-border-bg: rgba(dm-get-color(white), 0.07);