$dm-nav-item-width: 250px;

$dm-nav-item-subitems-bg: dm-get-color(slate-darkester);
$dm-nav-item-subitems-border-size: $dm-settings-border-width;
$dm-nav-item-subitems-border-bg: rgba(dm-get-color(white), 0.07);