<div class="asm-family-bar">
  <div class="asm-family-bar__members-container">
    <div class="asm-family-member asm-family-member--selected asm-family-member">
      <div class="asm-family-member__header">
        <div class="asm-family-member__member-type">
          Affiliate #23464
        </div>
        <div class="asm-family-member__more-menu">
          More <span class="fa fa-caret-down"></span>
        </div>
      </div>

      <div class="asm-family-member__data-section">
        <div class="asm-family-member__person-name">
          <span class="asm-family-member__person-first-name">Dirk Andrew</span>
          <span class="asm-family-member__person-last-name">VAN ROOY</span>
        </div>
        <div class="asm-family-member__person-born">
          <i class="fa fa-mars"></i> 28.01.1965
        </div>
      </div>

      <div class="asm-family-member__footer">
        <div class="asm-family-member__languages">
          <div class="asm-family-member__language">pol</div>
          <div class="asm-family-member__language">
            <i class="fa fa-globe"></i> ger
          </div>
        </div>
        <div class="asm-family-member__badges">
          <i class="fa fa-comment asm-family-member__badge asm-family-member__badge--comments"></i>
          <i class="fa fa-heart asm-family-member__badge asm-family-member__badge--full-rights"></i>
          <i class="fa fa-plus asm-family-member__badge asm-family-member__badge--complementary-rights"></i>
        </div>
      </div>
    </div>

    <div class="asm-family-member">
      <div class="asm-family-member__header">
        <div class="asm-family-member__member-type">
          Spouse
          <a href="#" class="asm-family-member__link"> #14004</a>
        </div>
        <div class="asm-family-member__more-menu">
          More <span class="fa fa-caret-down"></span>
        </div>
      </div>

      <div class="asm-family-member__data-section">
        <div class="asm-family-member__person-name">
          <span class="asm-family-member__person-first-name">Andrea</span>
          <span class="asm-family-member__person-last-name">SANTOS-MARIN CALENDRAE</span>
        </div>
        <div class="asm-family-member__person-born">
          <i class="fa fa-venus"></i> 12.03.1982
        </div>
      </div>

      <div class="asm-family-member__footer">
        <div class="asm-family-member__languages">
          <div class="asm-family-member__language">ger</div>
        </div>
        <div class="asm-family-member__badges">
          <i class="fa fa-heart asm-family-member__badge"></i>
          <i class="fa fa-plus asm-family-member__badge asm-family-member__badge--full-rights"></i>
        </div>
      </div>
    </div>

    <div class="asm-family-member">
      <div class="asm-family-member__header">
        <div class="asm-family-member__member-type">
          Enfant 01
        </div>
        <div class="asm-family-member__more-menu">

        </div>
      </div>

      <div class="asm-family-member__data-section">
        <div class="asm-family-member__person-name">
          <span class="asm-family-member__person-first-name">Jon</span>
          <span class="asm-family-member__person-last-name">VAN LANDEGEM</span>
        </div>
        <div class="asm-family-member__person-born">
          <i class="fa fa-mars"></i> 01.08.1999
        </div>
      </div>

      <div class="asm-family-member__footer">
        <div class="asm-family-member__badges">
          <i class="fa fa-heart asm-family-member__badge asm-family-member__badge--complementary-rights"></i>
          <i class="fa fa-plus asm-family-member__badge "></i>
        </div>
      </div>
    </div>

    <div class="asm-family-member asm-family-member--disabled">
      <div class="asm-family-member__header">
        <div class="asm-family-member__member-type">
          Enfant 01
        </div>
        <div class="asm-family-member__more-menu">

        </div>
      </div>

      <div class="asm-family-member__data-section">
        <div class="asm-family-member__person-name">
          <span class="asm-family-member__person-first-name">Kate</span>
          <span class="asm-family-member__person-last-name">VAN LANDEGEM</span>
        </div>
        <div class="asm-family-member__person-born">
          <i class="fa fa-mars"></i> 01.08.1998 - 16.02.2014
        </div>
      </div>

      <div class="asm-family-member__footer">
        <div class="asm-family-member__languages">
          <div class="asm-family-member__language">fra</div>
        </div>
        <div class="asm-family-member__badges">
          <i class="fa fa-heart asm-family-member__badge"></i>
          <i class="fa fa-plus asm-family-member__badge"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="asm-family-bar__tab-container">
    <div class="asm-family-bar__tab-button">
      <div class="asm-family-bar__tab-title">
        Family Composition (3/7)
      </div>
      <div class="asm-family-bar__tab-member">
        <span class="asm-family-bar__tab-member-first-name">Dirk Andrew</span>
        <span class="asm-family-bar__tab-member-last-name">Van Rooy</span>
      </div>
      <span class="fa fa-caret-up asm-family-bar__tab-caret"></span>
    </div>
  </div>
</div>

