.dm-o-h1, .dm-o-h2, .dm-o-h3, .dm-o-h4, .dm-o-h5, .dm-o-h6 {
  @include dm-headings();
}

.dm-o-h1 { font-size: $dm-elements__headings-font-size-h1; }
.dm-o-h2 { font-size: $dm-elements__headings-font-size-h2; }
.dm-o-h3 { font-size: $dm-elements__headings-font-size-h3; }
.dm-o-h4 { font-size: $dm-elements__headings-font-size-h4; }
.dm-o-h5 { font-size: $dm-elements__headings-font-size-h5; }
.dm-o-h6 { font-size: $dm-elements__headings-font-size-h6; }