<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>

    <div class="dm-o-container dm-u-bg-red">
      <div class="dm-o-row">
          hello
      </div>
    </div>

    <div class="dm-o-container-fluid dm-u-bg-green">
      <div class="dm-o-row">
          hello
      </div>
    </div>

    <div class="dm-o-container dm-u-bg-blue">
      <div class="dm-o-row dm-o-no-gutters">
          hello
      </div>
    </div>

    </body>

</html>
