<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>

    <div class="dm-o-container dm-u-bg-red">
      <div class="dm-o-row">
          hello
      </div>
    </div>

    <div class="dm-o-container-fluid dm-u-bg-green">
      <div class="dm-o-row">
          fluid container
      </div>
    </div>

    <div class="dm-o-container dm-u-bg-blue">
      <div class="dm-o-row dm-o-no-gutters">
          no gutters
      </div>
    </div>

    <div class="dm-o-container dm-u-bg-orange">
      <div class="dm-o-row dm-o-no-gutters">
          <div class="dm-o-col">col 1</div>
          <div class="dm-o-col">col 2</div>
      </div>
    </div>

    <div class="dm-o-container dm-u-bg-teal">
      <div class="dm-o-row">
          <div class="dm-o-col-auto">col 1</div>
          <div class="dm-o-col-auto">col 2 two</div>
      </div>
    </div>

    </body>

</html>
