/* Colors */
$brand-primary: $color-primary-500;
$brand-success: $color-success-500;
$brand-info: $color-info-500;
$brand-warning: $color-warning-500;
$brand-danger: $color-danger-500;

$text-color: #333;
$body-bg: #eee;

/* Typography */
$font-size-base: 16px;
$font-family-base: 			'Roboto', sans-serif;

