<div class="dm-c-family-bar dm-c-family-bar"
     [class.dm-c-family-bar--closed]="closed"
     [class.dm-c-family-bar--readonly]="readOnly">
  <div #familyMembersScrollContainer class="dm-c-family-bar__members-container">
    <dm-family-member 
      *ngFor="let familyMember of familyBarMembers"
      [familyMember]="familyMember"
      (click)="handleMemberClicked(familyMember)">
    </dm-family-member>
  </div>
  <div class="dm-c-family-bar__tab-container">
    <div (click)="handleTabClicked($event)" class="dm-c-family-bar__tab-button">
      <div (click)="handleScrollLeftClicked($event)" class="dm-c-family-bar__scroll-left-container">
        <span class="fa fa-arrow-circle-left"></span>
      </div>
      <div (click)="handleScrollRightClicked($event)" class="dm-c-family-bar__scroll-right-container">
        <span class="fa fa-arrow-circle-right"></span>
      </div>
      <div class="dm-c-family-bar__tab-title">
        Family Composition ({{ familyCoveredSize }}/{{ familySize }})
      </div>
      <div class="dm-c-family-bar__tab-member">
        <span *ngIf="selectedMember"
              class="dm-c-family-bar__tab-member-first-name">{{ selectedMember?.firstName }}</span>
        <span *ngIf="selectedMember"
              class="dm-c-family-bar__tab-member-last-name">{{ selectedMember?.familyName }}</span>
        <span *ngIf="!selectedMember" 
              class="dm-c-family-bar__tab-member-not-selected">(No selection)</span>
      </div>
      <span class="fa fa-caret-up dm-c-family-bar__tab-caret"></span>
    </div>
    <div class="dm-c-family-bar__family-plus-container">
      <label class="dm-c-family-bar__family-plus-label">Family+</label>
      <dm-switch></dm-switch>
    </div>
  </div>
</div>