<h2>Main Layout</h2>

<div class="dm-o-main-layout">
  <div class="dm-o-main-layout__navbar">
    nav-bar
  </div>
  <div class="dm-o-main-layout__page-container">
    <div class="dm-o-main-layout__sidebar">
      <dm-sidebar>
        <dm-navstack>
          <dm-nav-category title="Dashboards"></dm-nav-category>
          <dm-nav-item title="Home" icon="icon-home4"></dm-nav-item>
          <dm-nav-item title="Search" icon="icon-search4"></dm-nav-item>
          <dm-nav-item title="Tarification" icon="icon-coin-euro">
            <dm-nav-item title="Supervisor"></dm-nav-item>
            <dm-nav-item title="Medical Officer">
              <dm-nav-item title="Paper Claims" icon="icon-star-empty3 dm-u-text-orange-lightest"></dm-nav-item>
              <dm-nav-item title="Online Claims" icon="icon-star-full2 dm-u-text-orange-lightest">
                <dm-nav-item title="Needs Acceptance"></dm-nav-item>
                <dm-nav-item title="Accepted"></dm-nav-item>
                <dm-nav-divider></dm-nav-divider>
                <dm-nav-item title="Rejected"></dm-nav-item>
                <dm-nav-item title="Waiting for tarification"></dm-nav-item>
              </dm-nav-item>
            </dm-nav-item>
          </dm-nav-item>

          <dm-nav-category title="My Bookmarks"></dm-nav-category>
          <dm-nav-item title="Waiting list" icon="icon-alarm"></dm-nav-item>
          <dm-nav-item title="To be printed" icon="icon-printer"></dm-nav-item>
          <dm-nav-category title="Administration"></dm-nav-category>
          <dm-nav-item title="System modules" icon="icon-grid6">
            <dm-nav-item title="Medicines" icon="icon-aid-kit"></dm-nav-item>
          </dm-nav-item>
        </dm-navstack>
      </dm-sidebar>
    </div>
    <div class="dm-o-main-layout__content">content</div>
    <div class="dm-o-main-layout__actionbar dm-is-closed">
      <dm-sidebar>
        <dm-navstack>
          <dm-nav-category title="Dashboards"></dm-nav-category>
          <dm-nav-item title="Home" icon="icon-home4"></dm-nav-item>
          <dm-nav-item title="Search" icon="icon-search4"></dm-nav-item>
          <dm-nav-item title="Tarification" icon="icon-coin-euro">
            <dm-nav-item title="Supervisor"></dm-nav-item>
            <dm-nav-item title="Medical Officer">
              <dm-nav-item title="Paper Claims" icon="icon-star-empty3 dm-u-text-orange-lightest"></dm-nav-item>
              <dm-nav-item title="Online Claims" icon="icon-star-full2 dm-u-text-orange-lightest">
                <dm-nav-item title="Needs Acceptance"></dm-nav-item>
                <dm-nav-item title="Accepted"></dm-nav-item>
                <dm-nav-divider></dm-nav-divider>
                <dm-nav-item title="Rejected"></dm-nav-item>
                <dm-nav-item title="Waiting for tarification"></dm-nav-item>
              </dm-nav-item>
            </dm-nav-item>
          </dm-nav-item>

          <dm-nav-category title="My Bookmarks"></dm-nav-category>
          <dm-nav-item title="Waiting list" icon="icon-alarm"></dm-nav-item>
          <dm-nav-item title="To be printed" icon="icon-printer"></dm-nav-item>
          <dm-nav-category title="Administration"></dm-nav-category>
          <dm-nav-item title="System modules" icon="icon-grid6">
            <dm-nav-item title="Medicines" icon="icon-aid-kit"></dm-nav-item>
          </dm-nav-item>
        </dm-navstack>
      </dm-sidebar>
    </div>
  </div>
</div>