.dm-c-sidebar {
  font-size: 1rem;
  background-color: $dm-sidebar-bg;
  width: $dm-sidebar-width;

  &__category-header {
    border-bottom: $dm-settings-border-width solid rgba(255,255,255,.1);
    padding: 0.75em 2.875em 0.75em 1.25em;
    position: relative;
  }

  &__category-title {
    color: #fff;
    font-size: 0.6875em;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__category-icons {
    color: #fff;
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
  }

  &__category-content {
    padding: 1.25em;
  }
}