.dm-t-light {
  .dm-c-sidebar {
    background: #fff;

    &__category-header {
      border-color: rgba($dm-core-color-black, 0.1);
    }

    &__category-title {
      color: #333;
    }

    &__category-icons {
      color: #333;
    }
  }
}