.ux-c-sidebar {

  &.ux-is-closed {
    width: $ux-sidebar-closed-width;
  }

  .ux-is-closed &__category-header {
    display: none;
  }

  .ux-is-closed &__category-content {
    display: none;
  }
}