.ux-c-sidebar {
  background-color: $ux-sidebar-bg;
  width: 280px;

  &__category-header {
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding: 12px 46px 12px 20px;
    position: relative;

    &:after {
      color: #fff;
      content: "\e9c1";
      cursor: pointer;
      display: block;
      font-family: icomoon;
      font-size: 16px;
      line-height: 1;
      margin-top: -8px;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: rotate(0);
      transition: transform .2s ease-in-out;
    }
  }

  &__category-title {
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__category-content {
    padding: 20px;
  }
}