.ux-c-sidebar {
  background-color: $ux-sidebar-bg;
  width: $ux-sidebar-width;

  &__category-header {
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding: 12px 46px 12px 20px;
    position: relative;
  }

  &__category-title {
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__category-icons {
    color: #fff;
    position: absolute;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__category-content {
    padding: 20px;
  }
}