$dm-sidebar-width: 16.25em;
$dm-sidebar-closed-width: 3.5em;
$dm-sidebar-bg: dm-get-color(slate-darkester);

$dm-nav-stack-bg: dm-get-color(slate-darkester);
$dm-nav-item-text: rgba(255, 255, 255, .92);
$dm-nav-item-bg-hover: darken($dm-nav-stack-bg, 4%);
$dm-nav-item-bg-opened: dm-get-color(primary);