$ux-sidebar-width: 260px;
$ux-sidebar-closed-width: 56px;
$ux-sidebar-bg: $ux-core-color-slate-darkester;

$ux-nav-stack-bg: $ux-core-color-slate-darkester;
$ux-nav-item-text: rgba(255, 255, 255, .92);
$ux-nav-item-bg-hover: darken($ux-nav-stack-bg, 4%);
$ux-nav-item-bg-opened: $brand-primary;