$ux-sidebar-width: 16.25em;
$ux-sidebar-closed-width: 3.5em;
$ux-sidebar-bg: $ux-core-color-slate-darkester;

$ux-nav-stack-bg: $ux-core-color-slate-darkester;
$ux-nav-item-text: rgba(255, 255, 255, .92);
$ux-nav-item-bg-hover: darken($ux-nav-stack-bg, 4%);
$ux-nav-item-bg-opened: $brand-primary;