.dm-o-main-layout {
  display: flex;
  flex-direction: column;

  &__page-container {
    display: flex;
    flex-direction: row;
  }

  &__navbar {
  }

  &__sidebar {
  }

  &__actionbar {
  }

  &__content {
    flex: 1;
  }
}