    <div class="family-member" [class.family-member--selected]="active">
      <div class="family-member__header">
        <div class="family-member__member-type">
          Affiliate #23464
        </div>
        <div class="family-member__more-menu">
          More <span class="fa fa-caret-down"></span>
        </div>
      </div>

      <div class="family-member__data-section">
        <div class="family-member__person-name">
          <span class="family-member__person-first-name">{{ name }}</span>
          <span class="family-member__person-last-name">VAN ROOY</span>
        </div>
        <div class="family-member__person-born">
          <i class="fa fa-mars"></i> 28.01.1965
        </div>
      </div>

      <div class="family-member__footer">
        <div class="family-member__languages">
          <div class="family-member__language">pol</div>
          <div class="family-member__language">
            <i class="fa fa-globe"></i> ger
          </div>
        </div>
        <div class="family-member__badges">
          <i class="fa fa-comment family-member__badge family-member__badge--comments"></i>
          <i class="fa fa-heart family-member__badge family-member__badge--full-rights"></i>
          <i class="fa fa-plus family-member__badge family-member__badge--complementary-rights"></i>
        </div>
      </div>
    </div>