$dm-h1-font-size: $dm-font-size-xxxl !default;
$dm-h2-font-size: $dm-font-size-xxl !default;
$dm-h3-font-size: $dm-font-size-xl !default;
$dm-h4-font-size: $dm-font-size-lg !default;
$dm-h5-font-size: $dm-font-size-md !default;
$dm-h6-font-size: $dm-font-size-base !default;

$dm-h1-line-height: $dm-font-size-xxxl-line-height !default;
$dm-h2-line-height: $dm-font-size-xxl-line-height !default;
$dm-h3-line-height: $dm-font-size-xl-line-height !default;
$dm-h4-line-height: $dm-font-size-lg-line-height !default;
$dm-h5-line-height: $dm-font-size-md-line-height !default;
$dm-h6-line-height: $dm-font-size-base-line-height !default;