$dm-h1-font-size: $dm-font-size-4xl !default;
$dm-h2-font-size: $dm-font-size-3xl !default;
$dm-h3-font-size: $dm-font-size-2xl !default;
$dm-h4-font-size: $dm-font-size-xl !default;
$dm-h5-font-size: $dm-font-size-lg !default;
$dm-h6-font-size: $dm-font-size-md !default;

$dm-h1-line-height: $dm-font-size-4xl-line-height !default;
$dm-h2-line-height: $dm-font-size-3xl-line-height !default;
$dm-h3-line-height: $dm-font-size-2xl-line-height !default;
$dm-h4-line-height: $dm-font-size-xl-line-height !default;
$dm-h5-line-height: $dm-font-size-lg-line-height !default;
$dm-h6-line-height: $dm-font-size-md-line-height !default;