$dm-c-family-bar__members-container-bg: #ddd;

$dm-c-family-bar__tab-button-bg: #fff;
$dm-c-family-bar__tab-button-color: #999;
$dm-c-family-bar__tab-button-border-color: #ddd;
$dm-c-family-bar__tab-member-name-color: #bbb;
$dm-c-family-bar__tab-family-plus-color: #bbb;