$dm-c-family-bar__members-container-bg: dm-get-color(grey-lightester) !default;

$dm-c-family-bar__tab-button-bg: dm-get-color(white) !default;
$dm-c-family-bar__tab-button-color: dm-get-color(grey-lighter) !default;
$dm-c-family-bar__tab-button-border-color: dm-get-color(grey-lightester) !default;
$dm-c-family-bar__tab-member-name-color: dm-get-color(grey-lightest) !default;
$dm-c-family-bar__tab-family-plus-color: dm-get-color(grey-lightest) !default;