$dm-c-family-bar__members-container-bg: #ddd !default;

$dm-c-family-bar__tab-button-bg: #fff !default;
$dm-c-family-bar__tab-button-color: #999 !default;
$dm-c-family-bar__tab-button-border-color: #ddd !default;
$dm-c-family-bar__tab-member-name-color: #bbb !default;
$dm-c-family-bar__tab-family-plus-color: #bbb !default;