@each $color-name in dm-get-palette-color-names() {
  .dm-u-color-#{$color-name} {
    color: dm-get-color(#{$color-name}) !important;
  }

  .dm-u-bg-color-#{$color-name} {
    background-color: dm-get-color(#{$color-name}) !important;
  }

  .dm-u-bg-#{$color-name} {
    background-color: dm-get-color(#{$color-name}) !important;
    border-color: dm-get-color(#{$color-name}) !important;
    color: dm-get-color(white) !important;
  }

  .dm-u-border-#{$color-name} {
    border-color: dm-get-color(#{$color-name}) !important;
  }

  .dm-u-border-top-#{$color-name} {
    border-top-color: dm-get-color(#{$color-name}) !important;
  }

  .dm-u-border-bottom-#{$color-name} {
    border-bottom-color: dm-get-color(#{$color-name}) !important;
  }

  .dm-u-border-left-#{$color-name} {
    border-left-color: dm-get-color(#{$color-name}) !important;
  }

  .dm-u-border-right-#{$color-name} {
    border-right-color: dm-get-color(#{$color-name}) !important;
  }

  .dm-u-text-#{$color-name} {
    &,
    &:hover,
    &:focus {
        color: dm-get-color(#{$color-name}) !important;
    }
  }

  @if(dm-has-color(#{$color-name}-lightester-2)) {
    @if(dm-has-color(#{$color-name}-dark)) {
      .dm-u-alpha-#{$color-name} {
        background-color: dm-get-color(#{$color-name}-lightester-2) !important; 
        border-color:  dm-get-color(#{$color-name}-dark) !important;
      } 
    }
  }
}

.dm-u-text-muted {
  color: $dm-settings-color-text-muted !important;
  
  @include dm-hover-focus {
    color: $dm-settings-color-text-muted !important
  }
}
