@each $breakpoint in map-keys($dm-settings_grid-breakpoints) {
  @include dm-media-breakpoint-up($breakpoint) {
    $infix: dm-breakpoint-infix($breakpoint, $dm-settings_grid-breakpoints);

    .dm-u-flex-first#{$infix}     { order: -1; }
    .dm-u-flex-last#{$infix}      { order: 1; }
    .dm-u-flex-unordered#{$infix} { order: 0; }

    .dm-u-flex-row#{$infix}            { flex-direction: row !important; }
    .dm-u-flex-column#{$infix}         { flex-direction: column !important; }
    .dm-u-flex-row-reverse#{$infix}    { flex-direction: row-reverse !important; }
    .dm-u-flex-column-reverse#{$infix} { flex-direction: column-reverse !important; }

    .dm-u-flex-wrap#{$infix}         { flex-wrap: wrap !important; }
    .dm-u-flex-nowrap#{$infix}       { flex-wrap: nowrap !important; }
    .dm-u-flex-wrap-reverse#{$infix} { flex-wrap: wrap-reverse !important; }

    .dm-u-justify-content-start#{$infix}   { justify-content: flex-start !important; }
    .dm-u-justify-content-end#{$infix}     { justify-content: flex-end !important; }
    .dm-u-justify-content-center#{$infix}  { justify-content: center !important; }
    .dm-u-justify-content-between#{$infix} { justify-content: space-between !important; }
    .dm-u-justify-content-around#{$infix}  { justify-content: space-around !important; }

    .dm-u-align-items-start#{$infix}    { align-items: flex-start !important; }
    .dm-u-align-items-end#{$infix}      { align-items: flex-end !important; }
    .dm-u-align-items-center#{$infix}   { align-items: center !important; }
    .dm-u-align-items-baseline#{$infix} { align-items: baseline !important; }
    .dm-u-align-items-stretch#{$infix}  { align-items: stretch !important; }

    .dm-u-align-content-start#{$infix}   { align-content: flex-start !important; }
    .dm-u-align-content-end#{$infix}     { align-content: flex-end !important; }
    .dm-u-align-content-center#{$infix}  { align-content: center !important; }
    .dm-u-align-content-between#{$infix} { align-content: space-between !important; }
    .dm-u-align-content-around#{$infix}  { align-content: space-around !important; }
    .dm-u-align-content-stretch#{$infix} { align-content: stretch !important; }

    .dm-u-align-self-auto#{$infix}     { align-self: auto !important; }
    .dm-u-align-self-start#{$infix}    { align-self: flex-start !important; }
    .dm-u-align-self-end#{$infix}      { align-self: flex-end !important; }
    .dm-u-align-self-center#{$infix}   { align-self: center !important; }
    .dm-u-align-self-baseline#{$infix} { align-self: baseline !important; }
    .dm-u-align-self-stretch#{$infix}  { align-self: stretch !important; }
  }
}
