$dm-settings__zindex-fixed: 1030 !default;
$dm-settings__zindex-sticky: 1030 !default;

.dm-u-relative {
  position: relative !important;
}

.dm-u-absolute {
  position: absolute !important;
}

.dm-u-static {
  position: static !important;
}

.dm-u-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $dm-settings__zindex-fixed;
}

.dm-u-fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $dm-settings__zindex-fixed;
}

.dm-u-sticky-top {
  position: sticky;
  top: 0;
  z-index: $dm-settings__zindex-sticky;
}
