.dm-u-text-black {
  font-weight: 900 !important;
}
  
.dm-u-text-bold {
    font-weight: 700 !important;
}

.dm-u-text-semibold {
    font-weight: 500 !important;
}

.dm-u-text-regular {
    font-weight: 400 !important;
}

.dm-u-text-light {
    font-weight: 300 !important;
}

.dm-u-text-thin {
    font-weight: 100 !important;
}

.dm-u-text-justify  { text-align: justify !important; }
.dm-u-text-nowrap   { white-space: nowrap !important; }
.dm-u-text-truncate { @include dm-text-truncate; }

@each $breakpoint in map-keys($dm-settings__grid-breakpoints) {
  @include dm-media-breakpoint-up($breakpoint) {
    $infix: dm-breakpoint-infix($breakpoint, $dm-settings__grid-breakpoints);
    
    .dm-u-text-left#{$infix}   { text-align: left !important; }
    .dm-u-text-right#{$infix}  { text-align: right !important; }
    .dm-u-text-center#{$infix} { text-align: center !important; }
  }
}

.dm-u-text-lowercase  { text-transform: lowercase !important; }
.dm-u-text-uppercase  { text-transform: uppercase !important; }
.dm-u-text-capitalize { text-transform: capitalize !important; }

.dm-u-text-hide {
  @include dm-text-hide();
}
