@each $position in $dm-utilities-position_positions {
  .dm-u-position-#{$position} { position: $position !important; }
}

.dm-u-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $dm-settings_zindex-fixed;
}

.dm-u-fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $dm-settings_zindex-fixed;
}

.dm-u-sticky-top {
  position: sticky;
  top: 0;
  z-index: $dm-settings_zindex-sticky;
}
