$ux-family-bar-members-container-bg: #ddd;

$ux-family-bar-tab-button-bg: #fff;
$ux-family-bar-tab-button-color: #999;
$ux-family-bar-tab-button-border-color: #ddd;

$ux-family-bar-tab-member-name-color: #bbb;
$ux-family-bar-tab-family-plus-color: #bbb;