<ul>
  <li>
    <a [routerLink]="['color-system']">Color System</a>
  </li>
  <li>
    <a [routerLink]="['typography']">Typography</a>
  </li>
  <li>
    <a [routerLink]="['media']">Media</a>
  </li>
  <li>
    <a [routerLink]="['switch']">Switch</a>
  </li>
  <li>
    <a [routerLink]="['family-bar']">Family Bar</a>
  </li>
  <li>
    <a [routerLink]="['navstack']">Navstack</a>
  </li>
  <li>
    <a [routerLink]="['sidebar']">Sidebar</a>
  </li>
  <li>
    <a [routerLink]="['layout']">Layout</a>
  </li>
</ul>

<router-outlet></router-outlet>
