<h2>Menu Item</h2>

<h3>Menu Separator</h3>
<dm-menu-separator></dm-menu-separator>

<h3>Menu Header</h3>
<dm-menu-header title="My header"></dm-menu-header>

<h3>Default template</h3>
<dm-menu-item id="hello"
              label="Hello World"
              iconClass="icon-coin-euro"
              (select)="didMenuSelect($event)">
</dm-menu-item>

<h3>Custom template through template in content</h3>
<dm-menu-item id="hello"
              label="Hello World"
              iconClass="icon-coin-euro"
              (select)="didMenuSelect($event)">
  <ng-template let-data>
    <ul>
      <li>{{ data.id }}</li>
      <li>{{ data.label }}</li>
      <li>{{ data.iconClass }}</li>
    </ul>
  </ng-template>
</dm-menu-item>

<h3>Custom template through named template</h3>
<dm-menu-item id="hello"
              label="Hello World"
              iconClass="icon-coin-euro"
              [customTpl]="tpl"
              (select)="didMenuSelect($event)">
</dm-menu-item>

<ng-template #tpl let-data>
    <ul>
      <li>{{ data.id }}</li>
      <li>{{ data.label }}</li>
      <li>{{ data.iconClass }}</li>
    </ul>
  </ng-template>