@import '../../../assets/scss/bootstrap/variables';
@import '../../../assets/scss/bootstrap/mixins';

.asm-navigation-item {
  color: rgba(255, 255, 255, .92);
  display: block;
  overflow: hidden;
  padding: 12px 20px 12px 20px;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: background-color .3s;
  user-select: none;
  white-space: nowrap;
  line-height: 1.2;

  &:hover {
    background-color: darken(#263238, 4%);
    color: #fff;
  }

  &--opened, &--opened:hover {
    background-color: #22B573;
  }

  &--opened.asm-navigation-item--has-subitems:after {
    transform: rotate(90deg);
  }

  &__icon {
    font-size: 16px;
    margin-right: 8px;
  }

  &__label {
    display: inline;
    vertical-align: middle;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 500;
  }

  &--has-subitems {
    padding-right: 35px;
  }

  &--has-subitems:after {
    content: "\e9c7";
    display: block;
    font-family: icomoon;
    font-size: 16px;
    line-height: 1;
    margin-top: -8px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: rotate(0);
    transition: transform .2s ease-in-out;
  }
}

.asm-navigation-category {
  color: rgba(255, 255, 255, .5);
  display: block;
  padding: 10px 20px 10px 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  cursor: default;
  user-select: none;

  &__label {
    font-family: 'Roboto';
    font-size: 11px;
  }

  &__icon {
    display: none;
  }
}

.asm-navigation-divider {
  margin: 5px 0;
  height: 1px;
  background-color: rgba(255, 255, 255, .1);
}

.asm-navigation-stack {
  background-color: #263238;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 280px;

  &__row {
    position: relative;
  }

  & &__subitems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darken(#263238, 2%);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .03);
    display: none;

    .asm-navigation-item {
      padding-left: 48px;
      font-weight: 200;
    }

    .asm-navigation-item--opened {
      background-color: rgba(0, 0, 0, .1);;
    }
  }

  & &__subitems &__subitems {
    .asm-navigation-item {
      padding-left: 60px;
    }

    .asm-navigation-item__label {
      text-transform: none;
      font-weight: 200;
    }   
  }

  & &__subitems &__subitems &__subitems {
    .asm-navigation-item {
      padding-left: 80px;
    }
  }

  .asm-navigation-item--opened + &__subitems {
    display: block;
  }

  &--closed {
    width: 57px;

    > .asm-navigation-stack__row > {

      .asm-navigation-category {
        text-align: center;

        .asm-navigation-category__label {
          display: none;    
        }

        .asm-navigation-category__icon {
          display: inline-block;
        }
      }

      .asm-navigation-item {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        overflow: visible;

        .asm-navigation-item__label {
          display: none;
          position: absolute;
          width: 260px;
          left: 100%;
          top: 0;
          padding-top: 14px;
          padding-bottom: 14px;
          height: 100%;
          background-color: #22B573;
          text-align: left;
          padding-left: 20px;
          padding-right: 20px;
          overflow: hidden;
          text-overflow: ellipsis
        }

        .asm-navigation-item__icon {
          margin-left: 0;
          margin-right: 0;
        }
      }

      .asm-navigation-stack__subitems {
        display: none;
        position: absolute;
        width: 260px;
        left: 100%;
      }

      .asm-navigation-item--has-subitems:after {
        display: none
      }
    }

    > .asm-navigation-stack__row:hover > {

      .asm-navigation-item .asm-navigation-item__label {
        display: inline;
      }

      .asm-navigation-stack__subitems {
        display: block;
      }
    }

    .asm-navigation-stack__subitems .asm-navigation-item {
      padding-left: 22px;
    }

    .asm-navigation-stack__subitems .asm-navigation-stack__subitems .asm-navigation-item {
      padding-left: 32px;
    }

    .asm-navigation-stack__subitems .asm-navigation-stack__subitems .asm-navigation-stack__subitems .asm-navigation-item {
      padding-left: 42px;
    }
  }
}