<h3>Sidebar Category</h3>
<a class="asm-sidebar-category" href="#">
  <span class="asm-sidebar-category__label">Dashboards</span>
</a>

<h3>Sidebar Item</h3>
<a class="asm-sidebar-item" href="#">
  <i class="fa fa-home asm-sidebar-item__icon"></i> 
  <span class="asm-sidebar-item__label">Home</span>
</a>

<h3>Sidebar Item - Has Subitems</h3>
<a class="asm-sidebar-item asm-sidebar-item--has-subitems" href="#">
  <i class="fa fa-home asm-sidebar-item__icon"></i>
  <span class="asm-sidebar-item__label">Home</span>
</a>

<h3>Sidebar Item - Has Subitems and Opened</h3>
<a class="asm-sidebar-item asm-sidebar-item--opened asm-sidebar-item--has-subitems" href="#">
  <i class="fa fa-home asm-sidebar-item__icon"></i>
  <span class="asm-sidebar-item__label">Home</span>
</a>

<h3>Sidebar Stack</h3>
<ul class="asm-sidebar-stack">
  <li class="asm-sidebar-stack__row">
    <a class="asm-sidebar-category" href="#">
      <span class="asm-sidebar-category__label">Dashboards</span>
    </a>
  </li>
  <li class="asm-sidebar-stack__row">
    <a class="asm-sidebar-item asm-sidebar-item--opened asm-sidebar-item--has-subitems" href="#">
      <i class="fa fa-home asm-sidebar-item__icon"></i>
      <span class="asm-sidebar-item__label">Home</span>
    </a>
    <ul class="asm-sidebar-stack__subitems">
      <li class="asm-sidebar-stack__row">
        <a class="asm-sidebar-item" href="#">
          <i class="fa fa-home asm-sidebar-item__icon"></i>
          <span class="asm-sidebar-item__label">Home</span>
        </a>
      </li>
      <li class="asm-sidebar-stack__row">
        <a class="asm-sidebar-item asm-sidebar-item--opened asm-sidebar-item--has-subitems" href="#">
          <i class="fa fa-home asm-sidebar-item__icon"></i> 
          <span class="asm-sidebar-item__label">Very Long Item 2 which does not fit the bar width</span>
        </a>
        <ul class="asm-sidebar-stack__subitems">
          <li class="asm-sidebar-stack__row">
            <a class="asm-sidebar-item" href="#">
              <span class="asm-sidebar-item__label">Home</span>
            </a>
          </li>
          <li class="asm-sidebar-stack__row">
            <a class="asm-sidebar-item asm-sidebar-item--opened asm-sidebar-item--has-subitems" href="#">
              <span class="asm-sidebar-item__label">Home</span>
            </a>
            <ul class="asm-sidebar-stack__subitems">
              <li class="asm-sidebar-stack__row">
                <a class="asm-sidebar-item" href="#">
                  <span class="asm-sidebar-item__label">Home</span>
                </a>
              </li>
              <li class="asm-sidebar-stack__row">
                <a class="asm-sidebar-item" href="#">
                  <span class="asm-sidebar-item__label">Home</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="asm-sidebar-stack__row">
    <a class="asm-sidebar-category" href="#">
      <span class="asm-sidebar-category__label">Dashboards</span>
    </a>
  </li>
  <li class="asm-sidebar-stack__row"> 
    <a class="asm-sidebar-item asm-sidebar-item--opened asm-sidebar-item--has-subitems" href="#">
      <i class="fa fa-globe asm-sidebar-item__icon"></i>
      <span class="asm-sidebar-item__label">Home</span>
    </a>
    <ul class="asm-sidebar-stack__subitems">
      <li class="asm-sidebar-stack__row">
        <a class="asm-sidebar-item" href="#">
          <i class="fa fa-home asm-sidebar-item__icon"></i>
          <span class="asm-sidebar-item__label">Home</span>
        </a>
      </li>
    </ul>
  </li>
  <li class="asm-sidebar-stack__row">
    <a class="asm-sidebar-category" href="#">
      <span class="asm-sidebar-category__label">Dashboards</span>
    </a>
  </li>
  <li class="asm-sidebar-stack__row">
    <a class="asm-sidebar-item" href="#">
      <i class="fa fa-home asm-sidebar-item__icon"></i>
      <span class="asm-sidebar-item__label">Home</span>
    </a>
  </li>
  <li class="asm-sidebar-stack__row">
    <a class="asm-sidebar-item" href="#">
      <i class="fa fa-home asm-sidebar-item__icon"></i>
      <span class="asm-sidebar-item__label">Home</span>
    </a>
  </li>
  <li class="asm-sidebar-stack__row">
    <a class="asm-sidebar-item" href="#">
      <i class="fa fa-home asm-sidebar-item__icon"></i>
      <span class="asm-sidebar-item__label">Home</span>
    </a>
  </li>
</ul>