<div class="ux-c-sidebar">
  <ng-content></ng-content>

  <div class="ux-c-sidebar__category ">
    <div class="ux-c-sidebar__category-header">
      <span class="ux-c-sidebar__category-title">Title 2</span>
      <span class="ux-c-sidebar__category-icons">
        <asm-icons></asm-icons>
      </span>
    </div>
    <div class="ux-c-sidebar__category-content">
      Content
    </div>
  </div>

  <div class="ux-c-sidebar__category ">
    <div class="ux-c-sidebar__category-header">
      <span class="ux-c-sidebar__category-title">Title 2</span>
      <span class="ux-c-sidebar__category-icons">
        <asm-icons></asm-icons>
      </span>
    </div>
    <div class="ux-c-sidebar__category-content">
      Content
    </div>
  </div>
</div>