<h5>Navigation Category</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quae praesentium veniam molestiae? Praesentium dolorem animi
  velit labore est distinctio asperiores ad minus reprehenderit deleniti, ab veritatis, modi quae ullam.</p>
  <div class="card card-primary">
    <span class="asm-navigation-category">
      <i class="icon-menu asm-navigation-category__icon" title="Category Title"></i>
      <span class="asm-navigation-category__label">Dashboards</span>
    </span>
  </div>

<h5>Navigation Item</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quae praesentium veniam molestiae? Praesentium dolorem animi
  velit labore est distinctio asperiores ad minus reprehenderit deleniti, ab veritatis, modi quae ullam.</p>
<div class="card card-primary">
  <a class="asm-navigation-item" href="#">
    <i class="icon-home4 asm-navigation-item__icon"></i>
    <span class="asm-navigation-item__label">
      Home
    </span>
  </a>
</div>

<h5>Navigation Item - Has Subitems</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quae praesentium veniam molestiae? Praesentium dolorem animi
  velit labore est distinctio asperiores ad minus reprehenderit deleniti, ab veritatis, modi quae ullam.</p>
<div class="card card-primary">
  <a class="asm-navigation-item asm-navigation-item--has-subitems" href="#">
    <i class="icon-home4 asm-navigation-item__icon"></i>
    <span class="asm-navigation-item__label">
      Home
    </span>
  </a>
</div>

<h5>Navigation Item - Has Subitems and Opened</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quae praesentium veniam molestiae? Praesentium dolorem animi
  velit labore est distinctio asperiores ad minus reprehenderit deleniti, ab veritatis, modi quae ullam.</p>
<a class="asm-navigation-item asm-navigation-item--opened asm-navigation-item--has-subitems" href="#">
  <i class="icon-home4 asm-navigation-item__icon"></i>
  <span class="asm-navigation-item__label">
    Home
  </span>
</a>

<h5>Navigation Item - Title, Subtitle Has Subitems and Opened</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quae praesentium veniam molestiae? Praesentium dolorem animi
  velit labore est distinctio asperiores ad minus reprehenderit deleniti, ab veritatis, modi quae ullam.</p>
<a class="asm-navigation-item asm-navigation-item--opened asm-navigation-item--has-subitems" href="#">
  <i class="icon-home4 asm-navigation-item__icon"></i>
  <span class="asm-navigation-item__label">
    Home
  </span>
</a>

<h5>Navigation Divider</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quae praesentium veniam molestiae? Praesentium dolorem animi
  velit labore est distinctio asperiores ad minus reprehenderit deleniti, ab veritatis, modi quae ullam.</p>
<div class="card card-primary">
  <div class="asm-navigation-divider"></div>
</div>

<h5>Navigation Stack</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quae praesentium veniam molestiae? Praesentium dolorem animi
  velit labore est distinctio asperiores ad minus reprehenderit deleniti, ab veritatis, modi quae ullam.</p>
<ul class="asm-navigation-stack" [class.asm-navigation-stack--closed]="closed">
  <li class="asm-navigation-stack__row" (click)="toggleClosed()">
    <span class="asm-navigation-category">
      <i class="icon-menu asm-navigation-category__icon" title="Category Title"></i>
      <span class="asm-navigation-category__label">Dashboards</span>
    </span>
  </li>
  <li class="asm-navigation-stack__row">
    <a class="asm-navigation-item asm-navigation-item--has-subitems" href="#">
      <i class="icon-home4 asm-navigation-item__icon"></i>
      <span class="asm-navigation-item__label">
        Home
      </span>
    </a>
  </li>
  <li class="asm-navigation-stack__row">
    <a class="asm-navigation-item" href="#">
      <i class="icon-search4 asm-navigation-item__icon"></i>
      <span class="asm-navigation-item__label">
        Search
      </span>
    </a>
  </li>
  <li class="asm-navigation-stack__row">
    <a class="asm-navigation-item asm-navigation-item--opened asm-navigation-item--has-subitems" href="#">
      <i class="icon-coin-euro asm-navigation-item__icon"></i>
      <span class="asm-navigation-item__label">
        Tarification
      </span>
    </a>
    <ul class="asm-navigation-stack__subitems">
      <li class="asm-navigation-stack__row">
        <a class="asm-navigation-item" href="#">
        <span class="asm-navigation-item__label">
          Supervisor
        </span>
        </a>
      </li>
      <li class="asm-navigation-stack__row">
        <a class="asm-navigation-item asm-navigation-item--opened asm-navigation-item--has-subitems" href="#">
        <span class="asm-navigation-item__label">
          Medical Officer
        </span>
        </a>
        <ul class="asm-navigation-stack__subitems">
          <li class="asm-navigation-stack__row">
            <a class="asm-navigation-item" href="#">
              <i class="icon-star-empty3 asm-navigation-item__icon"></i>
              <span class="asm-navigation-item__label">
                Paper Claims
              </span>
            </a>
          </li>
          <li class="asm-navigation-stack__row">
            <a class="asm-navigation-item asm-navigation-item--opened asm-navigation-item--has-subitems" href="#">
              <i class="icon-star-full2 asm-navigation-item__icon"></i>
            <span class="asm-navigation-item__label">
              Online Claims
            </span>
            </a>
            <ul class="asm-navigation-stack__subitems">
              <li class="asm-navigation-stack__row">
                <a class="asm-navigation-item" href="#">
                <span class="asm-navigation-item__label">
                  Needs Acceptance
                </span>
                </a>
              </li>
              <li class="asm-navigation-stack__row">
                <a class="asm-navigation-item" href="#">
                <span class="asm-navigation-item__label">
                  Accepted
                </span>
                </a>
              </li>
              <li class="asm-navigation-stack__row">
                <div class="asm-navigation-divider"></div>
              </li>
              <li class="asm-navigation-stack__row">
                <a class="asm-navigation-item" href="#">
                <span class="asm-navigation-item__label">
                  Rejected
                </span>
                </a>
              </li>
              <li class="asm-navigation-stack__row">
                <a class="asm-navigation-item" href="#">
                <span class="asm-navigation-item__label">
                  Waiting for tarification
                </span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="asm-navigation-stack__row">
    <span class="asm-navigation-category">
      <i class="icon-menu asm-navigation-category__icon" title="Category Title"></i>
      <span class="asm-navigation-category__label">My Bookmarks</span>
    </span>
  </li>
  <li class="asm-navigation-stack__row">
    <a class="asm-navigation-item" href="#">
      <i class="icon-alarm asm-navigation-item__icon"></i>
      <span class="asm-navigation-item__label">
        Waiting List
      </span>
    </a>
  </li>
  <li class="asm-navigation-stack__row">
    <a class="asm-navigation-item" href="#">
      <i class="icon-printer asm-navigation-item__icon"></i>
      <span class="asm-navigation-item__label">
        To Be Printed
      </span>
    </a>
  </li>
  <li class="asm-navigation-stack__row">
    <span class="asm-navigation-category">
      <i class="icon-menu asm-navigation-category__icon" title="Category Title"></i>
      <span class="asm-navigation-category__label">Administration</span>
    </span>
  </li>
  <li class="asm-navigation-stack__row">
    <a class="asm-navigation-item asm-navigation-item--opened asm-navigation-item--has-subitems" href="#">
      <i class="icon-grid6 asm-navigation-item__icon"></i>
      <span class="asm-navigation-item__label">
        System Modules
      </span>
    </a>
    <ul class="asm-navigation-stack__subitems">
      <li class="asm-navigation-stack__row">
        <a class="asm-navigation-item" href="#">
          <i class="icon-aid-kit asm-navigation-item__icon"></i>
          <span class="asm-navigation-item__label">
            Medicines
          </span>
        </a>
      </li>
    </ul>
  </li>
</ul>
