.dm-c-switch {
  font-size: 1rem;
  background: $dm-switch-bg;
  border: $dm-settings-border-width solid $dm-switch-border-color;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  overflow: visible;
  padding: 0;
  margin: 0;            
  cursor: pointer;
  box-shadow: $dm-switch-box-shadow-color 0 0 0 0 inset;
  vertical-align: middle;
  user-select: none;
  background-clip: content-box;

  width: 2.0625em;
  height: 1.25em;
  @include dm-transition(0.3s ease-out background);
  @include dm-border-radius(1.25em);

  &__handle {
    font-size: 1em;
    box-shadow: 0 .0625em .1875em $dm-switch-handle-box-shadow-color;          
    position: absolute;
    top: 0;
    left: 0;
    background-color: $dm-switch-handle-bg;
    @include dm-transition(0.3s ease-out left);
    @include dm-border-radius(100%);

    width: 1.25em;
    height: 1.25em;
  }
}
