$dm-switch-bg: dm-get-color(white);
$dm-switch-checked-bg: dm-get-color(green-dark);
$dm-switch-border-color: #dfdfdf;
$dm-switch-box-shadow-color: rgb(223, 223, 223);

$dm-switch-handle-bg: dm-get-color(white);
$dm-switch-handle-box-shadow-color: rgba(0, 0, 0, 0.4);

