.ux-c-icons {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 0;
  list-style: none;

  &__icon {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    font-size: 13px;
  }

  &__icon:first {
    margin-left: 0;
  }

  &__link:after {
    cursor: pointer;
    content: '';
    min-width: 16px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-family: icomoon;
    font-size: 16px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}