$dm-c-sidebar_width: 16.25em !default;
$dm-c-sidebar_closed-width: 3.5em !default;
$dm-c-sidebar_bg: dm-get-color(slate-darkester) !default;

$dm-c-sidebar_header-border-width: $dm-settings_border-width !default;
$dm-c-sidebar_header-border-color: transparentize(dm-get-color(white), .9) !default;

$dm-c-sidebar_category-title-color: dm-get-color(white) !default;
$dm-c-sidebar_category-icons-color: dm-get-color(white) !default;
