.asm-navigation-item {
  font-size: 1.5rem;
  color: $navigation-item-text-color;
  display: block;
  overflow: hidden;
  padding: .75em 1.25em .75em 1.25em;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: background-color .3s;
  user-select: none;
  white-space: nowrap;
  line-height: 1.2;

  &:hover {
    background-color: $navigation-item-bg-hover;
    color: $navigation-item-text-color;
    text-decoration: none;
  }

  &__icon {
    font-size: 1em;
    margin-right: .5em;
  }

  &__label {
    display: inline;
    vertical-align: middle;
    font-family: 'Roboto';
    font-size: .8125em;
    font-weight: 500;
    text-decoration: none;
  }

  &--has-subitems {
    padding-right: 2.25em;
  }

  &--has-subitems:after {
    content: "\e9c7";
    display: block;
    font-family: icomoon;
    font-size: 1em;
    line-height: 1;
    margin-top: -.5em;
    position: absolute;
    right: 1.25em;
    top: 50%;
    transform: rotate(0);
    transition: transform .2s ease-in-out;
  }
}

.asm-navigation-category {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, .5);
  display: block;
  padding: .625em 1.25em .625em 1.25em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  cursor: default;
  user-select: none;

  &__label {
    font-family: 'Roboto';
    font-size: .6875em;
  }

  &__icon {
    display: none;
    font-size: 1em;
  }
}

.asm-navigation-divider {
  font-size: 1.5rem;
  margin: .3125em 0;
  height: 1px;
  background-color: rgba(255, 255, 255, .1);
}

.asm-navigation-stack {
  font-size: 1.5rem;
  background-color: $navigation-stack-bg;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 17.5em;

  & &__subitems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darken(#263238, 2%);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .03);
    display: none;

    .asm-navigation-item {
      padding-left: 3em;
      font-weight: 200;
    }
  }

  & &__subitems &__subitems {
    .asm-navigation-item {
      padding-left: 3.75em;
    }

    .asm-navigation-item__label {
      text-transform: none;
      font-weight: 200;
    }   
  }

  & &__subitems &__subitems &__subitems {
    .asm-navigation-item {
      padding-left: 5em;
    }
  }

  &__row {
    position: relative;
  }

  & > &__row--active > {
    .asm-navigation-item--has-subitems {
      background-color: $navigation-item-opened-bg;
    }
  }

  &__row--active > {
    .asm-navigation-item--has-subitems {
      background-color: rgba(0, 0, 0, .1);
    }

    .asm-navigation-item:after {
      transform: rotate(90deg);
    }

    .asm-navigation-stack__subitems {
      display: block;
    }
  }

  &--closed {
    width: 3.5em;

    > .asm-navigation-stack__row > {

      .asm-navigation-category {
        text-align: center;

        .asm-navigation-category__label {
          display: none;    
        }

        .asm-navigation-category__icon {
          display: inline-block;
        }
      }

      .asm-navigation-item {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        overflow: visible;

        .asm-navigation-item__label {
          display: none;
          position: absolute;
          width: 16.25em*1.2307;
          left: 100%;
          top: 0;
          padding-top: 1.1875em;
          padding-bottom: 1.1875em;
          height: 100%;
          background-color: $navigation-item-opened-bg;
          text-align: left;
          padding-left: 1.25em;
          padding-right: 1.25em;
          overflow: hidden;
          text-overflow: ellipsis
        }

        .asm-navigation-item__icon {
          margin-left: 0;
          margin-right: 0;
        }
      }

      .asm-navigation-stack__subitems {
        display: none;
        position: absolute;
        width: 16.25em;
        left: 100%;
      }

      .asm-navigation-item--has-subitems:after {
        display: none
      }
    }

    > .asm-navigation-stack__row:hover > {

      .asm-navigation-item .asm-navigation-item__label {
        display: inline;
      }

      .asm-navigation-stack__subitems {
        display: block;
      }
    }

    .asm-navigation-stack__subitems .asm-navigation-item {
      padding-left: 1.375em;
    }

    .asm-navigation-stack__subitems .asm-navigation-stack__subitems .asm-navigation-item {
      padding-left: 2em;
    }

    .asm-navigation-stack__subitems .asm-navigation-stack__subitems .asm-navigation-stack__subitems .asm-navigation-item {
      padding-left: 2.625em;
    }
  }
}