&--closed {
  width: 56px;

  > .asm-navigation-stack__row > {

    .asm-navigation-category {
      text-align: center;

      .asm-navigation-category__label {
        display: none;    
      }

      .asm-navigation-category__icon {
        display: inline-block;
      }
    }

    .asm-navigation-item {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      overflow: visible;

      .asm-navigation-item__label {
        display: none;
        position: absolute;
        width: 260px;
        left: 100%;
        top: 0;
        padding-top: 14px;
        padding-bottom: 14px;
        height: 100%;
        background-color: $navigation-item-opened-bg;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
        text-overflow: ellipsis
      }

      .asm-navigation-item__icon {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .asm-navigation-stack__subitems {
      display: none;
      position: absolute;
      width: 260px;
      left: 100%;
    }

    .asm-navigation-item--has-subitems:after {
      display: none
    }
  }

  > .asm-navigation-stack__row:hover > {

    .asm-navigation-item .asm-navigation-item__label {
      display: inline;
    }

    .asm-navigation-stack__subitems {
      display: block;
    }
  }

  .asm-navigation-stack__subitems .asm-navigation-item {
    padding-left: 22px;
  }

  .asm-navigation-stack__subitems .asm-navigation-stack__subitems .asm-navigation-item {
    padding-left: 32px;
  }

  .asm-navigation-stack__subitems .asm-navigation-stack__subitems .asm-navigation-stack__subitems .asm-navigation-item {
    padding-left: 42px;
  }
}