& &__subitems {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: darken(#263238, 2%);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .03);
  display: none;

  .asm-navigation-item {
    padding-left: 48px;
    font-weight: 200;
  }
}

& &__subitems &__subitems {
  .asm-navigation-item {
    padding-left: 60px;
  }

  .asm-navigation-item__label {
    text-transform: none;
    font-weight: 200;
  }   
}

& &__subitems &__subitems &__subitems {
  .asm-navigation-item {
    padding-left: 80px;
  }
}