$dm-settings-color-text: map-get($dm-settings-color-palette, grey-darkester) !default;
$dm-settings-color-text-muted: map-get($dm-settings-color-palette, grey-light) !default;
$dm-settings-color-body-bg: map-get($dm-settings-color-palette, grey-lightester-2) !default;