$dm-settings-color-text: $dm-settings-color-grey-900 !default;
$dm-settings-color-body-bg: $dm-settings-color-grey-50 !default;

$dm-settings-colors: (
    white: #fff,
    black: #000,

    primary: $dm-settings-color-primary-500,
    primary-light: $dm-settings-color-primary-400,
    primary-lighter: $dm-settings-color-primary-300,
    primary-lightest: $dm-settings-color-primary-200,
    primary-lightester: $dm-settings-color-primary-100,
    primary-lightester-2: $dm-settings-color-primary-50,
    primary-dark: $dm-settings-color-primary-600,
    primary-darker: $dm-settings-color-primary-700,
    primary-darkest: $dm-settings-color-primary-800,
    primary-darkester: $dm-settings-color-primary-900,

    success: $dm-settings-color-success-500,
    success-light: $dm-settings-color-success-400,
    success-lighter: $dm-settings-color-success-300,
    success-lightest: $dm-settings-color-success-200,
    success-lightester: $dm-settings-color-success-100,
    success-lightester-2: $dm-settings-color-success-50,
    success-dark: $dm-settings-color-success-600,
    success-darker: $dm-settings-color-success-700,
    success-darkest: $dm-settings-color-success-800,
    success-darkester: $dm-settings-color-success-900,

    danger: $dm-settings-color-danger-500,
    danger-light: $dm-settings-color-danger-400,
    danger-lighter: $dm-settings-color-danger-300,
    danger-lightest: $dm-settings-color-danger-200,
    danger-lightester: $dm-settings-color-danger-100,
    danger-lightester-2: $dm-settings-color-danger-50,
    danger-dark: $dm-settings-color-danger-600,
    danger-darker: $dm-settings-color-danger-700,
    danger-darkest: $dm-settings-color-danger-800,
    danger-darkester: $dm-settings-color-danger-900,

    warning: $dm-settings-color-warning-500,
    warning-light: $dm-settings-color-warning-400,
    warning-lighter: $dm-settings-color-warning-300,
    warning-lightest: $dm-settings-color-warning-200,
    warning-lightester: $dm-settings-color-warning-100,
    warning-lightester-2: $dm-settings-color-warning-50,
    warning-dark: $dm-settings-color-warning-600,
    warning-darker: $dm-settings-color-warning-700,
    warning-darkest: $dm-settings-color-warning-800,
    warning-darkester: $dm-settings-color-warning-900,

    info: $dm-settings-color-info-500,
    info-light: $dm-settings-color-info-400,
    info-lighter: $dm-settings-color-info-300,
    info-lightest: $dm-settings-color-info-200,
    info-lightester: $dm-settings-color-info-100,
    info-lightester-2: $dm-settings-color-info-50,
    info-dark: $dm-settings-color-info-600,
    info-darker: $dm-settings-color-info-700,
    info-darkest: $dm-settings-color-info-800,
    info-darkester: $dm-settings-color-info-900,

    pink: $dm-settings-color-pink-500,
    pink-light: $dm-settings-color-pink-400,
    pink-lighter: $dm-settings-color-pink-300,
    pink-lightest: $dm-settings-color-pink-200,
    pink-lightester: $dm-settings-color-pink-100,
    pink-lightester-2: $dm-settings-color-pink-50,
    pink-dark: $dm-settings-color-pink-600,
    pink-darker: $dm-settings-color-pink-700,
    pink-darkest: $dm-settings-color-pink-800,
    pink-darkester: $dm-settings-color-pink-900,
    pink-accent: $dm-settings-color-pink-A100,
    pink-accent-dark: $dm-settings-color-pink-A200,
    pink-accent-darker: $dm-settings-color-pink-A400,
    pink-accent-darkest: $dm-settings-color-pink-A700,

    red: $dm-settings-color-red-500,
    red-light: $dm-settings-color-red-400,
    red-lighter: $dm-settings-color-red-300,
    red-lightest: $dm-settings-color-red-200,
    red-lightester: $dm-settings-color-red-100,
    red-lightester-2: $dm-settings-color-red-50,
    red-dark: $dm-settings-color-red-600,
    red-darker: $dm-settings-color-red-700,
    red-darkest: $dm-settings-color-red-800,
    red-darkester: $dm-settings-color-red-900,
    red-accent: $dm-settings-color-red-A100,
    red-accent-dark: $dm-settings-color-red-A200,
    red-accent-darker: $dm-settings-color-red-A400,
    red-accent-darkest: $dm-settings-color-red-A700,

    yellow: $dm-settings-color-yellow-500,
    yellow-light: $dm-settings-color-yellow-400,
    yellow-lighter: $dm-settings-color-yellow-300,
    yellow-lightest: $dm-settings-color-yellow-200,
    yellow-lightester: $dm-settings-color-yellow-100,
    yellow-lightester-2: $dm-settings-color-yellow-50,
    yellow-dark: $dm-settings-color-yellow-600,
    yellow-darker: $dm-settings-color-yellow-700,
    yellow-darkest: $dm-settings-color-yellow-800,
    yellow-darkester: $dm-settings-color-yellow-900,
    yellow-accent: $dm-settings-color-yellow-A100,
    yellow-accent-dark: $dm-settings-color-yellow-A200,
    yellow-accent-darker: $dm-settings-color-yellow-A400,
    yellow-accent-darkest: $dm-settings-color-yellow-A700,

    violet: $dm-settings-color-violet-500,
    violet-light: $dm-settings-color-violet-400,
    violet-lighter: $dm-settings-color-violet-300,
    violet-lightest: $dm-settings-color-violet-200,
    violet-lightester: $dm-settings-color-violet-100,
    violet-lightester-2: $dm-settings-color-violet-50,
    violet-dark: $dm-settings-color-violet-600,
    violet-darker: $dm-settings-color-violet-700,
    violet-darkest: $dm-settings-color-violet-800,
    violet-darkester: $dm-settings-color-violet-900,
    violet-accent: $dm-settings-color-violet-A100,
    violet-accent-dark: $dm-settings-color-violet-A200,
    violet-accent-darker: $dm-settings-color-violet-A400,
    violet-accent-darkest: $dm-settings-color-violet-A700,

    purple: $dm-settings-color-purple-500,
    purple-light: $dm-settings-color-purple-400,
    purple-lighter: $dm-settings-color-purple-300,
    purple-lightest: $dm-settings-color-purple-200,
    purple-lightester: $dm-settings-color-purple-100,
    purple-lightester-2: $dm-settings-color-purple-50,
    purple-dark: $dm-settings-color-purple-600,
    purple-darker: $dm-settings-color-purple-700,
    purple-darkest: $dm-settings-color-purple-800,
    purple-darkester: $dm-settings-color-purple-900,
    purple-accent: $dm-settings-color-purple-A100,
    purple-accent-dark: $dm-settings-color-purple-A200,
    purple-accent-darker: $dm-settings-color-purple-A400,
    purple-accent-darkest: $dm-settings-color-purple-A700,

    indigo: $dm-settings-color-indigo-500,
    indigo-light: $dm-settings-color-indigo-400,
    indigo-lighter: $dm-settings-color-indigo-300,
    indigo-lightest: $dm-settings-color-indigo-200,
    indigo-lightester: $dm-settings-color-indigo-100,
    indigo-lightester-2: $dm-settings-color-indigo-50,
    indigo-dark: $dm-settings-color-indigo-600,
    indigo-darker: $dm-settings-color-indigo-700,
    indigo-darkest: $dm-settings-color-indigo-800,
    indigo-darkester: $dm-settings-color-indigo-900,
    indigo-accent: $dm-settings-color-indigo-A100,
    indigo-accent-dark: $dm-settings-color-indigo-A200,
    indigo-accent-darker: $dm-settings-color-indigo-A400,
    indigo-accent-darkest: $dm-settings-color-indigo-A700,

    blue: $dm-settings-color-blue-500,
    blue-light: $dm-settings-color-blue-400,
    blue-lighter: $dm-settings-color-blue-300,
    blue-lightest: $dm-settings-color-blue-200,
    blue-lightester: $dm-settings-color-blue-100,
    blue-lightester-2: $dm-settings-color-blue-50,
    blue-dark: $dm-settings-color-blue-600,
    blue-darker: $dm-settings-color-blue-700,
    blue-darkest: $dm-settings-color-blue-800,
    blue-darkester: $dm-settings-color-blue-900,
    blue-accent: $dm-settings-color-blue-A100,
    blue-accent-dark: $dm-settings-color-blue-A200,
    blue-accent-darker: $dm-settings-color-blue-A400,
    blue-accent-darkest: $dm-settings-color-blue-A700,

    teal: $dm-settings-color-teal-500,
    teal-light: $dm-settings-color-teal-400,
    teal-lighter: $dm-settings-color-teal-300,
    teal-lightest: $dm-settings-color-teal-200,
    teal-lightester: $dm-settings-color-teal-100,
    teal-lightester-2: $dm-settings-color-teal-50,
    teal-dark: $dm-settings-color-teal-600,
    teal-darker: $dm-settings-color-teal-700,
    teal-darkest: $dm-settings-color-teal-800,
    teal-darkester: $dm-settings-color-teal-900,
    teal-accent: $dm-settings-color-teal-A100,
    teal-accent-dark: $dm-settings-color-teal-A200,
    teal-accent-darker: $dm-settings-color-teal-A400,
    teal-accent-darkest: $dm-settings-color-teal-A700,

    green: $dm-settings-color-green-500,
    green-light: $dm-settings-color-green-400,
    green-lighter: $dm-settings-color-green-300,
    green-lightest: $dm-settings-color-green-200,
    green-lightester: $dm-settings-color-green-100,
    green-lightester-2: $dm-settings-color-green-50,
    green-dark: $dm-settings-color-green-600,
    green-darker: $dm-settings-color-green-700,
    green-darkest: $dm-settings-color-green-800,
    green-darkester: $dm-settings-color-green-900,
    green-accent: $dm-settings-color-green-A100,
    green-accent-dark: $dm-settings-color-green-A200,
    green-accent-darker: $dm-settings-color-green-A400,
    green-accent-darkest: $dm-settings-color-green-A700,

    orange: $dm-settings-color-orange-500,
    orange-light: $dm-settings-color-orange-400,
    orange-lighter: $dm-settings-color-orange-300,
    orange-lightest: $dm-settings-color-orange-200,
    orange-lightester: $dm-settings-color-orange-100,
    orange-lightester-2: $dm-settings-color-orange-50,
    orange-dark: $dm-settings-color-orange-600,
    orange-darker: $dm-settings-color-orange-700,
    orange-darkest: $dm-settings-color-orange-800,
    orange-darkester: $dm-settings-color-orange-900,
    orange-accent: $dm-settings-color-orange-A100,
    orange-accent-dark: $dm-settings-color-orange-A200,
    orange-accent-darker: $dm-settings-color-orange-A400,
    orange-accent-darkest: $dm-settings-color-orange-A700,

    brown: $dm-settings-color-brown-500,
    brown-light: $dm-settings-color-brown-400,
    brown-lighter: $dm-settings-color-brown-300,
    brown-lightest: $dm-settings-color-brown-200,
    brown-lightester: $dm-settings-color-brown-100,
    brown-lightester-2: $dm-settings-color-brown-50,
    brown-dark: $dm-settings-color-brown-600,
    brown-darker: $dm-settings-color-brown-700,
    brown-darkest: $dm-settings-color-brown-800,
    brown-darkester: $dm-settings-color-brown-900,

    grey: $dm-settings-color-grey-500,
    grey-light: $dm-settings-color-grey-400,
    grey-lighter: $dm-settings-color-grey-300,
    grey-lightest: $dm-settings-color-grey-200,
    grey-lightester: $dm-settings-color-grey-100,
    grey-lightester-2: $dm-settings-color-grey-50,
    grey-dark: $dm-settings-color-grey-600,
    grey-darker: $dm-settings-color-grey-700,
    grey-darkest: $dm-settings-color-grey-800,
    grey-darkester: $dm-settings-color-grey-900,

    slate: $dm-settings-color-slate-500,
    slate-light: $dm-settings-color-slate-400,
    slate-lighter: $dm-settings-color-slate-300,
    slate-lightest: $dm-settings-color-slate-200,
    slate-lightester: $dm-settings-color-slate-100,
    slate-lightester-2: $dm-settings-color-slate-50,
    slate-dark: $dm-settings-color-slate-600,
    slate-darker: $dm-settings-color-slate-700,
    slate-darkest: $dm-settings-color-slate-800,
    slate-darkester: $dm-settings-color-slate-900,
)
