$dm-settings-color-types: primary danger success warning info red yellow pink violet purple indigo blue teal green orange brown grey slate;
$dm-settings-color-shades: dark darker darkest darkester light lighter lightest lightester lightester-2;

$dm-settings-color-text: $color-grey-900 !default;
$dm-settings-color-body-bg: $color-grey-50 !default;

$dm-settings-color-white: #fff;
$dm-settings-color-black: #000;

$dm-settings-color-primary: $color-primary-500 !default;
$dm-settings-color-primary-dark: $color-primary-600 !default;
$dm-settings-color-primary-darker: $color-primary-700 !default;
$dm-settings-color-primary-darkest: $color-primary-800 !default;
$dm-settings-color-primary-darkester: $color-primary-900 !default;
$dm-settings-color-primary-light: $color-primary-400 !default;
$dm-settings-color-primary-lighter: $color-primary-300 !default;
$dm-settings-color-primary-lightest: $color-primary-200 !default;
$dm-settings-color-primary-lightester: $color-primary-100 !default;
$dm-settings-color-primary-lightester-2: $color-primary-50 !default;

$dm-settings-color-danger: $color-danger-500 !default;
$dm-settings-color-danger-dark: $color-danger-600 !default;
$dm-settings-color-danger-darker: $color-danger-700 !default;
$dm-settings-color-danger-darkest: $color-danger-800 !default;
$dm-settings-color-danger-darkester: $color-danger-900 !default;
$dm-settings-color-danger-light: $color-danger-400 !default;
$dm-settings-color-danger-lighter: $color-danger-300 !default;
$dm-settings-color-danger-lightest: $color-danger-200 !default;
$dm-settings-color-danger-lightester: $color-danger-100 !default;
$dm-settings-color-danger-lightester-2: $color-danger-50 !default;

$dm-settings-color-success: $color-success-500 !default;
$dm-settings-color-success-dark: $color-success-600 !default;
$dm-settings-color-success-darker: $color-success-700 !default;
$dm-settings-color-success-darkest: $color-success-800 !default;
$dm-settings-color-success-darkester: $color-success-900 !default;
$dm-settings-color-success-light: $color-success-400 !default;
$dm-settings-color-success-lighter: $color-success-300 !default;
$dm-settings-color-success-lightest: $color-success-200 !default;
$dm-settings-color-success-lightester: $color-success-100 !default;
$dm-settings-color-success-lightester-2: $color-success-50 !default;

$dm-settings-color-warning: $color-warning-500 !default;
$dm-settings-color-warning-dark: $color-warning-600 !default;
$dm-settings-color-warning-darker: $color-warning-700 !default;
$dm-settings-color-warning-darkest: $color-warning-800 !default;
$dm-settings-color-warning-darkester: $color-warning-900 !default;
$dm-settings-color-warning-light: $color-warning-400 !default;
$dm-settings-color-warning-lighter: $color-warning-300 !default;
$dm-settings-color-warning-lightest: $color-warning-200 !default;
$dm-settings-color-warning-lightester: $color-warning-100 !default;
$dm-settings-color-warning-lightester-2: $color-warning-50 !default;

$dm-settings-color-info: $color-info-500 !default;
$dm-settings-color-info-dark: $color-info-600 !default;
$dm-settings-color-info-darker: $color-info-700 !default;
$dm-settings-color-info-darkest: $color-info-800 !default;
$dm-settings-color-info-darkester: $color-info-900 !default;
$dm-settings-color-info-light: $color-info-400 !default;
$dm-settings-color-info-lighter: $color-info-300 !default;
$dm-settings-color-info-lightest: $color-info-200 !default;
$dm-settings-color-info-lightester: $color-info-100 !default;
$dm-settings-color-info-lightester-2: $color-info-50 !default;

$dm-settings-color-red: $color-red-500 !default;
$dm-settings-color-red-dark: $color-red-600 !default;
$dm-settings-color-red-darker: $color-red-700 !default;
$dm-settings-color-red-darkest: $color-red-800 !default;
$dm-settings-color-red-darkester: $color-red-900 !default;
$dm-settings-color-red-light: $color-red-400 !default;
$dm-settings-color-red-lighter: $color-red-300 !default;
$dm-settings-color-red-lightest: $color-red-200 !default;
$dm-settings-color-red-lightester: $color-red-100 !default;
$dm-settings-color-red-lightester-2: $color-red-50 !default;

$dm-settings-color-yellow: $color-yellow-500 !default;
$dm-settings-color-yellow-dark: $color-yellow-600 !default;
$dm-settings-color-yellow-darker: $color-yellow-700 !default;
$dm-settings-color-yellow-darkest: $color-yellow-800 !default;
$dm-settings-color-yellow-darkester: $color-yellow-900 !default;
$dm-settings-color-yellow-light: $color-yellow-400 !default;
$dm-settings-color-yellow-lighter: $color-yellow-300 !default;
$dm-settings-color-yellow-lightest: $color-yellow-200 !default;
$dm-settings-color-yellow-lightester: $color-yellow-100 !default;
$dm-settings-color-yellow-lightester-2: $color-yellow-50 !default;

$dm-settings-color-pink: $color-pink-500 !default;
$dm-settings-color-pink-dark: $color-pink-600 !default;
$dm-settings-color-pink-darker: $color-pink-700 !default;
$dm-settings-color-pink-darkest: $color-pink-800 !default;
$dm-settings-color-pink-darkester: $color-pink-900 !default;
$dm-settings-color-pink-light: $color-pink-400 !default;
$dm-settings-color-pink-lighter: $color-pink-300 !default;
$dm-settings-color-pink-lightest: $color-pink-200 !default;
$dm-settings-color-pink-lightester: $color-pink-100 !default;
$dm-settings-color-pink-lightester-2: $color-pink-50 !default;

$dm-settings-color-violet: $color-violet-500 !default;
$dm-settings-color-violet-dark: $color-violet-600 !default;
$dm-settings-color-violet-darker: $color-violet-700 !default;
$dm-settings-color-violet-darkest: $color-violet-800 !default;
$dm-settings-color-violet-darkester: $color-violet-900 !default;
$dm-settings-color-violet-light: $color-violet-400 !default;
$dm-settings-color-violet-lighter: $color-violet-300 !default;
$dm-settings-color-violet-lightest: $color-violet-200 !default;
$dm-settings-color-violet-lightester: $color-violet-100 !default;
$dm-settings-color-violet-lightester-2: $color-violet-50 !default;

$dm-settings-color-purple: $color-purple-500 !default;
$dm-settings-color-purple-dark: $color-purple-600 !default;
$dm-settings-color-purple-darker: $color-purple-700 !default;
$dm-settings-color-purple-darkest: $color-purple-800 !default;
$dm-settings-color-purple-darkester: $color-purple-900 !default;
$dm-settings-color-purple-light: $color-purple-400 !default;
$dm-settings-color-purple-lighter: $color-purple-300 !default;
$dm-settings-color-purple-lightest: $color-purple-200 !default;
$dm-settings-color-purple-lightester: $color-purple-100 !default;
$dm-settings-color-purple-lightester-2: $color-purple-50 !default;

$dm-settings-color-indigo: $color-indigo-500 !default;
$dm-settings-color-indigo-dark: $color-indigo-600 !default;
$dm-settings-color-indigo-darker: $color-indigo-700 !default;
$dm-settings-color-indigo-darkest: $color-indigo-800 !default;
$dm-settings-color-indigo-darkester: $color-indigo-900 !default;
$dm-settings-color-indigo-light: $color-indigo-400 !default;
$dm-settings-color-indigo-lighter: $color-indigo-300 !default;
$dm-settings-color-indigo-lightest: $color-indigo-200 !default;
$dm-settings-color-indigo-lightester: $color-indigo-100 !default;
$dm-settings-color-indigo-lightester-2: $color-indigo-50 !default;

$dm-settings-color-blue: $color-blue-500 !default;
$dm-settings-color-blue-dark: $color-blue-600 !default;
$dm-settings-color-blue-darker: $color-blue-700 !default;
$dm-settings-color-blue-darkest: $color-blue-800 !default;
$dm-settings-color-blue-darkester: $color-blue-900 !default;
$dm-settings-color-blue-light: $color-blue-400 !default;
$dm-settings-color-blue-lighter: $color-blue-300 !default;
$dm-settings-color-blue-lightest: $color-blue-200 !default;
$dm-settings-color-blue-lightester: $color-blue-100 !default;
$dm-settings-color-blue-lightester-2: $color-blue-50 !default;

$dm-settings-color-teal: $color-teal-500 !default;
$dm-settings-color-teal-dark: $color-teal-600 !default;
$dm-settings-color-teal-darker: $color-teal-700 !default;
$dm-settings-color-teal-darkest: $color-teal-800 !default;
$dm-settings-color-teal-darkester: $color-teal-900 !default;
$dm-settings-color-teal-light: $color-teal-400 !default;
$dm-settings-color-teal-lighter: $color-teal-300 !default;
$dm-settings-color-teal-lightest: $color-teal-200 !default;
$dm-settings-color-teal-lightester: $color-teal-100 !default;
$dm-settings-color-teal-lightester-2: $color-teal-50 !default;

$dm-settings-color-green: $color-green-500 !default;
$dm-settings-color-green-dark: $color-green-600 !default;
$dm-settings-color-green-darker: $color-green-700 !default;
$dm-settings-color-green-darkest: $color-green-800 !default;
$dm-settings-color-green-darkester: $color-green-900 !default;
$dm-settings-color-green-light: $color-green-400 !default;
$dm-settings-color-green-lighter: $color-green-300 !default;
$dm-settings-color-green-lightest: $color-green-200 !default;
$dm-settings-color-green-lightester: $color-green-100 !default;
$dm-settings-color-green-lightester-2: $color-green-50 !default;

$dm-settings-color-orange: $color-orange-500 !default;
$dm-settings-color-orange-dark: $color-orange-600 !default;
$dm-settings-color-orange-darker: $color-orange-700 !default;
$dm-settings-color-orange-darkest: $color-orange-800 !default;
$dm-settings-color-orange-darkester: $color-orange-900 !default;
$dm-settings-color-orange-light: $color-orange-400 !default;
$dm-settings-color-orange-lighter: $color-orange-300 !default;
$dm-settings-color-orange-lightest: $color-orange-200 !default;
$dm-settings-color-orange-lightester: $color-orange-100 !default;
$dm-settings-color-orange-lightester-2: $color-orange-50 !default;

$dm-settings-color-brown: $color-brown-500 !default;
$dm-settings-color-brown-dark: $color-brown-600 !default;
$dm-settings-color-brown-darker: $color-brown-700 !default;
$dm-settings-color-brown-darkest: $color-brown-800 !default;
$dm-settings-color-brown-darkester: $color-brown-900 !default;
$dm-settings-color-brown-light: $color-brown-400 !default;
$dm-settings-color-brown-lighter: $color-brown-300 !default;
$dm-settings-color-brown-lightest: $color-brown-200 !default;
$dm-settings-color-brown-lightester: $color-brown-100 !default;
$dm-settings-color-brown-lightester-2: $color-brown-50 !default;

$dm-settings-color-grey: $color-grey-500 !default;
$dm-settings-color-grey-dark: $color-grey-600 !default;
$dm-settings-color-grey-darker: $color-grey-700 !default;
$dm-settings-color-grey-darkest: $color-grey-800 !default;
$dm-settings-color-grey-darkester: $color-grey-900 !default;
$dm-settings-color-grey-light: $color-grey-400 !default;
$dm-settings-color-grey-lighter: $color-grey-300 !default;
$dm-settings-color-grey-lightest: $color-grey-200 !default;
$dm-settings-color-grey-lightester: $color-grey-100 !default;
$dm-settings-color-grey-lightester-2: $color-grey-50 !default;

$dm-settings-color-slate: $color-slate-500 !default;
$dm-settings-color-slate-dark: $color-slate-600 !default;
$dm-settings-color-slate-darker: $color-slate-700 !default;
$dm-settings-color-slate-darkest: $color-slate-800 !default;
$dm-settings-color-slate-darkester: $color-slate-900 !default;
$dm-settings-color-slate-light: $color-slate-400 !default;
$dm-settings-color-slate-lighter: $color-slate-300 !default;
$dm-settings-color-slate-lightest: $color-slate-200 !default;
$dm-settings-color-slate-lightester: $color-slate-100 !default;
$dm-settings-color-slate-lightester-2: $color-slate-50 !default;

$dm-colors: (
    primary: $dm-settings-color-primary,
    primary-light: $dm-settings-color-primary-light,
    primary-lighter: $dm-settings-color-primary-lighter,
    primary-lightest: $dm-settings-color-primary-lightest,
    primary-lightester: $dm-settings-color-primary-lightester,
    primary-lightester-2: $dm-settings-color-primary-lightester-2,
    primary-dark: $dm-settings-color-primary-dark,
    primary-darker: $dm-settings-color-primary-darker,
    primary-darkest: $dm-settings-color-primary-darkest,
    primary-darkester: $dm-settings-color-primary-darkester,

    success: $dm-settings-color-success,
    success-light: $dm-settings-color-success-light,
    success-lighter: $dm-settings-color-success-lighter,
    success-lightest: $dm-settings-color-success-lightest,
    success-lightester: $dm-settings-color-success-lightester,
    success-lightester-2: $dm-settings-color-success-lightester-2,
    success-dark: $dm-settings-color-success-dark,
    success-darker: $dm-settings-color-success-darker,
    success-darkest: $dm-settings-color-success-darkest,
    success-darkester: $dm-settings-color-success-darkester,

    danger: $dm-settings-color-danger,
    danger-light: $dm-settings-color-danger-light,
    danger-lighter: $dm-settings-color-danger-lighter,
    danger-lightest: $dm-settings-color-danger-lightest,
    danger-lightester: $dm-settings-color-danger-lightester,
    danger-lightester-2: $dm-settings-color-danger-lightester-2,
    danger-dark: $dm-settings-color-danger-dark,
    danger-darker: $dm-settings-color-danger-darker,
    danger-darkest: $dm-settings-color-danger-darkest,
    danger-darkester: $dm-settings-color-danger-darkester,

    warning: $dm-settings-color-warning,
    warning-light: $dm-settings-color-warning-light,
    warning-lighter: $dm-settings-color-warning-lighter,
    warning-lightest: $dm-settings-color-warning-lightest,
    warning-lightester: $dm-settings-color-warning-lightester,
    warning-lightester-2: $dm-settings-color-warning-lightester-2,
    warning-dark: $dm-settings-color-warning-dark,
    warning-darker: $dm-settings-color-warning-darker,
    warning-darkest: $dm-settings-color-warning-darkest,
    warning-darkester: $dm-settings-color-warning-darkester,

    info: $dm-settings-color-info,
    info-light: $dm-settings-color-info-light,
    info-lighter: $dm-settings-color-info-lighter,
    info-lightest: $dm-settings-color-info-lightest,
    info-lightester: $dm-settings-color-info-lightester,
    info-lightester-2: $dm-settings-color-info-lightester-2,
    info-dark: $dm-settings-color-info-dark,
    info-darker: $dm-settings-color-info-darker,
    info-darkest: $dm-settings-color-info-darkest,
    info-darkester: $dm-settings-color-info-darkester,

    pink: $dm-settings-color-pink,
    pink-light: $dm-settings-color-pink-light,
    pink-lighter: $dm-settings-color-pink-lighter,
    pink-lightest: $dm-settings-color-pink-lightest,
    pink-lightester: $dm-settings-color-pink-lightester,
    pink-lightester-2: $dm-settings-color-pink-lightester-2,
    pink-dark: $dm-settings-color-pink-dark,
    pink-darker: $dm-settings-color-pink-darker,
    pink-darkest: $dm-settings-color-pink-darkest,
    pink-darkester: $dm-settings-color-pink-darkester,

    red: $dm-settings-color-red,
    red-light: $dm-settings-color-red-light,
    red-lighter: $dm-settings-color-red-lighter,
    red-lightest: $dm-settings-color-red-lightest,
    red-lightester: $dm-settings-color-red-lightester,
    red-lightester-2: $dm-settings-color-red-lightester-2,
    red-dark: $dm-settings-color-red-dark,
    red-darker: $dm-settings-color-red-darker,
    red-darkest: $dm-settings-color-red-darkest,
    red-darkester: $dm-settings-color-red-darkester,

    yellow: $dm-settings-color-yellow,
    yellow-light: $dm-settings-color-yellow-light,
    yellow-lighter: $dm-settings-color-yellow-lighter,
    yellow-lightest: $dm-settings-color-yellow-lightest,
    yellow-lightester: $dm-settings-color-yellow-lightester,
    yellow-lightester-2: $dm-settings-color-yellow-lightester-2,
    yellow-dark: $dm-settings-color-yellow-dark,
    yellow-darker: $dm-settings-color-yellow-darker,
    yellow-darkest: $dm-settings-color-yellow-darkest,
    yellow-darkester: $dm-settings-color-yellow-darkester,

    violet: $dm-settings-color-violet,
    violet-light: $dm-settings-color-violet-light,
    violet-lighter: $dm-settings-color-violet-lighter,
    violet-lightest: $dm-settings-color-violet-lightest,
    violet-lightester: $dm-settings-color-violet-lightester,
    violet-lightester-2: $dm-settings-color-violet-lightester-2,
    violet-dark: $dm-settings-color-violet-dark,
    violet-darker: $dm-settings-color-violet-darker,
    violet-darkest: $dm-settings-color-violet-darkest,
    violet-darkester: $dm-settings-color-violet-darkester,

    purple: $dm-settings-color-purple,
    purple-light: $dm-settings-color-purple-light,
    purple-lighter: $dm-settings-color-purple-lighter,
    purple-lightest: $dm-settings-color-purple-lightest,
    purple-lightester: $dm-settings-color-purple-lightester,
    purple-lightester-2: $dm-settings-color-purple-lightester-2,
    purple-dark: $dm-settings-color-purple-dark,
    purple-darker: $dm-settings-color-purple-darker,
    purple-darkest: $dm-settings-color-purple-darkest,
    purple-darkester: $dm-settings-color-purple-darkester,

    indigo: $dm-settings-color-indigo,
    indigo-light: $dm-settings-color-indigo-light,
    indigo-lighter: $dm-settings-color-indigo-lighter,
    indigo-lightest: $dm-settings-color-indigo-lightest,
    indigo-lightester: $dm-settings-color-indigo-lightester,
    indigo-lightester-2: $dm-settings-color-indigo-lightester-2,
    indigo-dark: $dm-settings-color-indigo-dark,
    indigo-darker: $dm-settings-color-indigo-darker,
    indigo-darkest: $dm-settings-color-indigo-darkest,
    indigo-darkester: $dm-settings-color-indigo-darkester,

    blue: $dm-settings-color-blue,
    blue-light: $dm-settings-color-blue-light,
    blue-lighter: $dm-settings-color-blue-lighter,
    blue-lightest: $dm-settings-color-blue-lightest,
    blue-lightester: $dm-settings-color-blue-lightester,
    blue-lightester-2: $dm-settings-color-blue-lightester-2,
    blue-dark: $dm-settings-color-blue-dark,
    blue-darker: $dm-settings-color-blue-darker,
    blue-darkest: $dm-settings-color-blue-darkest,
    blue-darkester: $dm-settings-color-blue-darkester,

    teal: $dm-settings-color-teal,
    teal-light: $dm-settings-color-teal-light,
    teal-lighter: $dm-settings-color-teal-lighter,
    teal-lightest: $dm-settings-color-teal-lightest,
    teal-lightester: $dm-settings-color-teal-lightester,
    teal-lightester-2: $dm-settings-color-teal-lightester-2,
    teal-dark: $dm-settings-color-teal-dark,
    teal-darker: $dm-settings-color-teal-darker,
    teal-darkest: $dm-settings-color-teal-darkest,
    teal-darkester: $dm-settings-color-teal-darkester,

    green: $dm-settings-color-green,
    green-light: $dm-settings-color-green-light,
    green-lighter: $dm-settings-color-green-lighter,
    green-lightest: $dm-settings-color-green-lightest,
    green-lightester: $dm-settings-color-green-lightester,
    green-lightester-2: $dm-settings-color-green-lightester-2,
    green-dark: $dm-settings-color-green-dark,
    green-darker: $dm-settings-color-green-darker,
    green-darkest: $dm-settings-color-green-darkest,
    green-darkester: $dm-settings-color-green-darkester,

    orange: $dm-settings-color-orange,
    orange-light: $dm-settings-color-orange-light,
    orange-lighter: $dm-settings-color-orange-lighter,
    orange-lightest: $dm-settings-color-orange-lightest,
    orange-lightester: $dm-settings-color-orange-lightester,
    orange-lightester-2: $dm-settings-color-orange-lightester-2,
    orange-dark: $dm-settings-color-orange-dark,
    orange-darker: $dm-settings-color-orange-darker,
    orange-darkest: $dm-settings-color-orange-darkest,
    orange-darkester: $dm-settings-color-orange-darkester,

    brown: $dm-settings-color-brown,
    brown-light: $dm-settings-color-brown-light,
    brown-lighter: $dm-settings-color-brown-lighter,
    brown-lightest: $dm-settings-color-brown-lightest,
    brown-lightester: $dm-settings-color-brown-lightester,
    brown-lightester-2: $dm-settings-color-brown-lightester-2,
    brown-dark: $dm-settings-color-brown-dark,
    brown-darker: $dm-settings-color-brown-darker,
    brown-darkest: $dm-settings-color-brown-darkest,
    brown-darkester: $dm-settings-color-brown-darkester,

    grey: $dm-settings-color-grey,
    grey-light: $dm-settings-color-grey-light,
    grey-lighter: $dm-settings-color-grey-lighter,
    grey-lightest: $dm-settings-color-grey-lightest,
    grey-lightester: $dm-settings-color-grey-lightester,
    grey-lightester-2: $dm-settings-color-grey-lightester-2,
    grey-dark: $dm-settings-color-grey-dark,
    grey-darker: $dm-settings-color-grey-darker,
    grey-darkest: $dm-settings-color-grey-darkest,
    grey-darkester: $dm-settings-color-grey-darkester,

    slate: $dm-settings-color-slate,
    slate-light: $dm-settings-color-slate-light,
    slate-lighter: $dm-settings-color-slate-lighter,
    slate-lightest: $dm-settings-color-slate-lightest,
    slate-lightester: $dm-settings-color-slate-lightester,
    slate-lightester-2: $dm-settings-color-slate-lightester-2,
    slate-dark: $dm-settings-color-slate-dark,
    slate-darker: $dm-settings-color-slate-darker,
    slate-darkest: $dm-settings-color-slate-darkest,
    slate-darkester: $dm-settings-color-slate-darkester,
)
