$dm-core-spacer:   1rem !default;
$dm-core-spacer-x: $dm-core-spacer !default;
$dm-core-spacer-y: $dm-core-spacer !default;

$dm-core-border-width: 1px !default;
$dm-core-border-width-lg: $dm-core-border-width * 2 !default;