// Primary palette
$dm-color-primary-50: #D2F0E2;
$dm-color-primary-100: #61CA9B;
$dm-color-primary-200: #61CA9B;
$dm-color-primary-300: #61CA9B;
$dm-color-primary-400: #42C087;
$dm-color-primary-500: #22B573;
$dm-color-primary-600: #51A881;
$dm-color-primary-700: #418767;
$dm-color-primary-800: #31654E;
$dm-color-primary-900: #204334;

// Danger palette
$dm-color-danger-50: #FFEBEE;
$dm-color-danger-100: #E57373;
$dm-color-danger-200: #E57373;
$dm-color-danger-300: #E57373;
$dm-color-danger-400: #EF5350;
$dm-color-danger-500: #F44336;
$dm-color-danger-600: #E53935;
$dm-color-danger-700: #D32F2F;
$dm-color-danger-800: #C62828;
$dm-color-danger-900: #B71C1C;

// Success palette
$dm-color-success-50: #E8F5E9;
$dm-color-success-100: #81C784;
$dm-color-success-200: #81C784;
$dm-color-success-300: #81C784;
$dm-color-success-400: #66BB6A;
$dm-color-success-500: #4CAF50;
$dm-color-success-600: #43A047;
$dm-color-success-700: #388E3C;
$dm-color-success-800: #2E7D32;
$dm-color-success-900: #1B5E20;

// Warning palette
$dm-color-warning-50: #FBE9E7;
$dm-color-warning-100: #FF8A65;
$dm-color-warning-200: #FF8A65;
$dm-color-warning-300: #FF8A65;
$dm-color-warning-400: #FF7043;
$dm-color-warning-500: #FF5722;
$dm-color-warning-600: #F4511E;
$dm-color-warning-700: #E64A19;
$dm-color-warning-800: #D84315;
$dm-color-warning-900: #BF360C;

// Info palette
$dm-color-info-50: #E0F7FA;
$dm-color-info-100: #4DD0E1;
$dm-color-info-200: #4DD0E1;
$dm-color-info-300: #4DD0E1;
$dm-color-info-400: #26C6DA;
$dm-color-info-500: #00BCD4;
$dm-color-info-600: #00ACC1;
$dm-color-info-700: #0097A7;
$dm-color-info-800: #00838F;
$dm-color-info-900: #006064;

// Additional colors
// ------------------------------

// Red palette
$dm-color-red-50: #FFEBEE;
$dm-color-red-100: #E57373;
$dm-color-red-200: #E57373;
$dm-color-red-300: #E57373;
$dm-color-red-400: #EF5350;
$dm-color-red-500: #F44336;
$dm-color-red-600: #E53935;
$dm-color-red-700: #D32F2F;
$dm-color-red-800: #C62828;
$dm-color-red-900: #B71C1C;

// Yellow palette
$dm-color-yellow-50: #FFF3E0;
$dm-color-yellow-100: #FFB74D;
$dm-color-yellow-200: #FFB74D;
$dm-color-yellow-300: #FFB74D;
$dm-color-yellow-400: #FFA726;
$dm-color-yellow-500: #FF9800;
$dm-color-yellow-600: #FB8C00;
$dm-color-yellow-700: #F57C00;
$dm-color-yellow-800: #EF6C00;
$dm-color-yellow-900: #E65100;

// Pink palette
$dm-color-pink-50: #FCE4EC;
$dm-color-pink-100: #F06292;
$dm-color-pink-200: #F06292;
$dm-color-pink-300: #F06292;
$dm-color-pink-400: #EC407A;
$dm-color-pink-500: #E91E63;
$dm-color-pink-600: #D81B60;
$dm-color-pink-700: #C2185B;
$dm-color-pink-800: #AD1457;
$dm-color-pink-900: #880E4F;

// Violet palette
$dm-color-violet-50: #F3E5F5;
$dm-color-violet-100: #BA68C8;
$dm-color-violet-200: #BA68C8;
$dm-color-violet-300: #BA68C8;
$dm-color-violet-400: #AB47BC;
$dm-color-violet-500: #9C27B0;
$dm-color-violet-600: #8E24AA;
$dm-color-violet-700: #7B1FA2;
$dm-color-violet-800: #6A1B9A;
$dm-color-violet-900: #4A148C;

// Purple palette
$dm-color-purple-50: #EDE7F6;
$dm-color-purple-100: #9575CD;
$dm-color-purple-200: #9575CD;
$dm-color-purple-300: #9575CD;
$dm-color-purple-400: #7E57C2;
$dm-color-purple-500: #673AB7;
$dm-color-purple-600: #5E35B1;
$dm-color-purple-700: #512DA8;
$dm-color-purple-800: #4527A0;
$dm-color-purple-900: #311B92;

// Indigo palette
$dm-color-indigo-50: #E8EAF6;
$dm-color-indigo-100: #7986CB;
$dm-color-indigo-200: #7986CB;
$dm-color-indigo-300: #7986CB;
$dm-color-indigo-400: #5C6BC0;
$dm-color-indigo-500: #3F51B5;
$dm-color-indigo-600: #3949AB;
$dm-color-indigo-700: #303F9F;
$dm-color-indigo-800: #283593;
$dm-color-indigo-900: #1A237E;

// Blue palette
$dm-color-blue-50: #E1F5FE;
$dm-color-blue-100: #4FC3F7;
$dm-color-blue-200: #4FC3F7;
$dm-color-blue-300: #4FC3F7;
$dm-color-blue-400: #29B6F6;
$dm-color-blue-500: #03A9F4;
$dm-color-blue-600: #039BE5;
$dm-color-blue-700: #0288D1;
$dm-color-blue-800: #0277BD;
$dm-color-blue-900: #01579B;

// Teal palette
$dm-color-teal-50: #E0F2F1;
$dm-color-teal-100: #4DB6AC;
$dm-color-teal-200: #4DB6AC;
$dm-color-teal-300: #4DB6AC;
$dm-color-teal-400: #26A69A;
$dm-color-teal-500: #009688;
$dm-color-teal-600: #00897B;
$dm-color-teal-700: #00796B;
$dm-color-teal-800: #00695C;
$dm-color-teal-900: #004D40;

// Green palette
$dm-color-green-50: #F1F8E9;
$dm-color-green-100: #AED581;
$dm-color-green-200: #AED581;
$dm-color-green-300: #AED581;
$dm-color-green-400: #9CCC65;
$dm-color-green-500: #8BC34A;
$dm-color-green-600: #7CB342;
$dm-color-green-700: #689F38;
$dm-color-green-800: #558B2F;
$dm-color-green-900: #33691E;

// Orange palette
$dm-color-orange-50: #FFF3E0;
$dm-color-orange-100: #FFB74D;
$dm-color-orange-200: #FFB74D;
$dm-color-orange-300: #FFB74D;
$dm-color-orange-400: #FFA726;
$dm-color-orange-500: #FF9800;
$dm-color-orange-600: #FB8C00;
$dm-color-orange-700: #F57C00;
$dm-color-orange-800: #EF6C00;
$dm-color-orange-900: #E65100;

// Brown palette
$dm-color-brown-50: #EFEBE9;
$dm-color-brown-100: #A1887F;
$dm-color-brown-200: #A1887F;
$dm-color-brown-300: #A1887F;
$dm-color-brown-400: #8D6E63;
$dm-color-brown-500: #795548;
$dm-color-brown-600: #6D4C41;
$dm-color-brown-700: #5D4037;
$dm-color-brown-800: #4E342E;
$dm-color-brown-900: #3E2723;

// Grey palette
$dm-color-grey-50: #FAFAFA;
$dm-color-grey-100: #999;
$dm-color-grey-200: #999;
$dm-color-grey-300: #999;
$dm-color-grey-400: #888;
$dm-color-grey-500: #777;
$dm-color-grey-600: #666;
$dm-color-grey-700: #555;
$dm-color-grey-800: #444;
$dm-color-grey-900: #333;

// Slate palette
$dm-color-slate-50: #ECEFF1;
$dm-color-slate-100: #90A4AE;
$dm-color-slate-200: #90A4AE;
$dm-color-slate-300: #90A4AE;
$dm-color-slate-400: #78909C;
$dm-color-slate-500: #607D8B;
$dm-color-slate-600: #546E7A;
$dm-color-slate-700: #455A64;
$dm-color-slate-800: #37474F;
$dm-color-slate-900: #263238;