$dm-settings-enable-rounded: true !default;
$dm-settings-global-radius: 3px !default;
$dm-settings-global-transition: all 300ms ease-in-out !default;
$dm-settings-border-width: 1px !default;
$dm-settings-enable-transitions: true !default;
$dm-settings-transition-base: all .2s ease-in-out !default;