$dm-settings-spacer:   1rem !default;
$dm-settings-spacer-x: $dm-settings-spacer !default;
$dm-settings-spacer-y: $dm-settings-spacer !default;

$dm-settings-border-width: 1px !default;
$dm-settings-border-width-lg: $dm-settings-border-width * 2 !default;