body {
  font-family: $dm-settings-font-family-base;
  font-size: $dm-settings-font-size-base;
  font-weight: $dm-settings-font-weight-base;
  line-height: $dm-settings-line-height-base;
  color: $dm-settings-color-text;
  background-color: $dm-settings-color-body-bg;
}