table {
  // No longer part of Normalize since v4
  border-collapse: collapse;
  // Reset for nesting within parents with `background-color`.
  background-color: $dm-settings-table-bg;
}

caption {
  padding-top: $dm-settings-table-cell-padding;
  padding-bottom: $dm-settings-table-cell-padding;
  color: $dm-settings-color-text-muted;
  text-align: left;
  caption-side: bottom;
}

th {
  // Centered by default, but left-align-ed to match the `td`s below.
  text-align: left;
}