.dm-c-nav-category {
  font-size: 1rem;
  color: $dm-c-nav-category_color;
  display: block;
  padding: 0.375em 1.25em 0.375em 1.25em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  cursor: default;
  user-select: none;

  &__label {
    font-size: 0.6875em;
  }

  &__icon {
    display: none;
  }
}