.dm-c-nav-stack {
  font-size: 1rem;
  background-color: $dm-nav-stack-bg;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;

  & > * > .dm-c-nav-item.dm-is-active > * > .dm-c-nav-link {
    background-color: $dm-nav-stack-nav-item-bg-opened;
  }
}