$dm-settings__colors: (
  white: $dm-settings__palette-white,
  black: $dm-settings__palette-black,

  primary: $dm-settings__palette-primary-500,
  primary-light: $dm-settings__palette-primary-400,
  primary-lighter: $dm-settings__palette-primary-300,
  primary-lightest: $dm-settings__palette-primary-200,
  primary-lightester: $dm-settings__palette-primary-100,
  primary-lightester-2: $dm-settings__palette-primary-50,
  primary-dark: $dm-settings__palette-primary-600,
  primary-darker: $dm-settings__palette-primary-700,
  primary-darkest: $dm-settings__palette-primary-800,
  primary-darkester: $dm-settings__palette-primary-900,

  success: $dm-settings__palette-success-500,
  success-light: $dm-settings__palette-success-400,
  success-lighter: $dm-settings__palette-success-300,
  success-lightest: $dm-settings__palette-success-200,
  success-lightester: $dm-settings__palette-success-100,
  success-lightester-2: $dm-settings__palette-success-50,
  success-dark: $dm-settings__palette-success-600,
  success-darker: $dm-settings__palette-success-700,
  success-darkest: $dm-settings__palette-success-800,
  success-darkester: $dm-settings__palette-success-900,

  danger: $dm-settings__palette-danger-500,
  danger-light: $dm-settings__palette-danger-400,
  danger-lighter: $dm-settings__palette-danger-300,
  danger-lightest: $dm-settings__palette-danger-200,
  danger-lightester: $dm-settings__palette-danger-100,
  danger-lightester-2: $dm-settings__palette-danger-50,
  danger-dark: $dm-settings__palette-danger-600,
  danger-darker: $dm-settings__palette-danger-700,
  danger-darkest: $dm-settings__palette-danger-800,
  danger-darkester: $dm-settings__palette-danger-900,
  danger-accent: $dm-settings__palette-danger-A100,
  danger-accent-dark: $dm-settings__palette-danger-A200,
  danger-accent-darker: $dm-settings__palette-danger-A400,
  danger-accent-darkest: $dm-settings__palette-danger-A700,

  warning: $dm-settings__palette-warning-500,
  warning-light: $dm-settings__palette-warning-400,
  warning-lighter: $dm-settings__palette-warning-300,
  warning-lightest: $dm-settings__palette-warning-200,
  warning-lightester: $dm-settings__palette-warning-100,
  warning-lightester-2: $dm-settings__palette-warning-50,
  warning-dark: $dm-settings__palette-warning-600,
  warning-darker: $dm-settings__palette-warning-700,
  warning-darkest: $dm-settings__palette-warning-800,
  warning-darkester: $dm-settings__palette-warning-900,

  info: $dm-settings__palette-info-500,
  info-light: $dm-settings__palette-info-400,
  info-lighter: $dm-settings__palette-info-300,
  info-lightest: $dm-settings__palette-info-200,
  info-lightester: $dm-settings__palette-info-100,
  info-lightester-2: $dm-settings__palette-info-50,
  info-dark: $dm-settings__palette-info-600,
  info-darker: $dm-settings__palette-info-700,
  info-darkest: $dm-settings__palette-info-800,
  info-darkester: $dm-settings__palette-info-900,
  info-accent: $dm-settings__palette-info-A100,
  info-accent-dark: $dm-settings__palette-info-A200,
  info-accent-darker: $dm-settings__palette-info-A400,
  info-accent-darkest: $dm-settings__palette-info-A700,

  pink: $dm-settings__palette-pink-500,
  pink-light: $dm-settings__palette-pink-400,
  pink-lighter: $dm-settings__palette-pink-300,
  pink-lightest: $dm-settings__palette-pink-200,
  pink-lightester: $dm-settings__palette-pink-100,
  pink-lightester-2: $dm-settings__palette-pink-50,
  pink-dark: $dm-settings__palette-pink-600,
  pink-darker: $dm-settings__palette-pink-700,
  pink-darkest: $dm-settings__palette-pink-800,
  pink-darkester: $dm-settings__palette-pink-900,
  pink-accent: $dm-settings__palette-pink-A100,
  pink-accent-dark: $dm-settings__palette-pink-A200,
  pink-accent-darker: $dm-settings__palette-pink-A400,
  pink-accent-darkest: $dm-settings__palette-pink-A700,

  red: $dm-settings__palette-red-500,
  red-light: $dm-settings__palette-red-400,
  red-lighter: $dm-settings__palette-red-300,
  red-lightest: $dm-settings__palette-red-200,
  red-lightester: $dm-settings__palette-red-100,
  red-lightester-2: $dm-settings__palette-red-50,
  red-dark: $dm-settings__palette-red-600,
  red-darker: $dm-settings__palette-red-700,
  red-darkest: $dm-settings__palette-red-800,
  red-darkester: $dm-settings__palette-red-900,
  red-accent: $dm-settings__palette-red-A100,
  red-accent-dark: $dm-settings__palette-red-A200,
  red-accent-darker: $dm-settings__palette-red-A400,
  red-accent-darkest: $dm-settings__palette-red-A700,

  yellow: $dm-settings__palette-yellow-500,
  yellow-light: $dm-settings__palette-yellow-400,
  yellow-lighter: $dm-settings__palette-yellow-300,
  yellow-lightest: $dm-settings__palette-yellow-200,
  yellow-lightester: $dm-settings__palette-yellow-100,
  yellow-lightester-2: $dm-settings__palette-yellow-50,
  yellow-dark: $dm-settings__palette-yellow-600,
  yellow-darker: $dm-settings__palette-yellow-700,
  yellow-darkest: $dm-settings__palette-yellow-800,
  yellow-darkester: $dm-settings__palette-yellow-900,
  yellow-accent: $dm-settings__palette-yellow-A100,
  yellow-accent-dark: $dm-settings__palette-yellow-A200,
  yellow-accent-darker: $dm-settings__palette-yellow-A400,
  yellow-accent-darkest: $dm-settings__palette-yellow-A700,

  violet: $dm-settings__palette-violet-500,
  violet-light: $dm-settings__palette-violet-400,
  violet-lighter: $dm-settings__palette-violet-300,
  violet-lightest: $dm-settings__palette-violet-200,
  violet-lightester: $dm-settings__palette-violet-100,
  violet-lightester-2: $dm-settings__palette-violet-50,
  violet-dark: $dm-settings__palette-violet-600,
  violet-darker: $dm-settings__palette-violet-700,
  violet-darkest: $dm-settings__palette-violet-800,
  violet-darkester: $dm-settings__palette-violet-900,
  violet-accent: $dm-settings__palette-violet-A100,
  violet-accent-dark: $dm-settings__palette-violet-A200,
  violet-accent-darker: $dm-settings__palette-violet-A400,
  violet-accent-darkest: $dm-settings__palette-violet-A700,

  purple: $dm-settings__palette-purple-500,
  purple-light: $dm-settings__palette-purple-400,
  purple-lighter: $dm-settings__palette-purple-300,
  purple-lightest: $dm-settings__palette-purple-200,
  purple-lightester: $dm-settings__palette-purple-100,
  purple-lightester-2: $dm-settings__palette-purple-50,
  purple-dark: $dm-settings__palette-purple-600,
  purple-darker: $dm-settings__palette-purple-700,
  purple-darkest: $dm-settings__palette-purple-800,
  purple-darkester: $dm-settings__palette-purple-900,
  purple-accent: $dm-settings__palette-purple-A100,
  purple-accent-dark: $dm-settings__palette-purple-A200,
  purple-accent-darker: $dm-settings__palette-purple-A400,
  purple-accent-darkest: $dm-settings__palette-purple-A700,

  indigo: $dm-settings__palette-indigo-500,
  indigo-light: $dm-settings__palette-indigo-400,
  indigo-lighter: $dm-settings__palette-indigo-300,
  indigo-lightest: $dm-settings__palette-indigo-200,
  indigo-lightester: $dm-settings__palette-indigo-100,
  indigo-lightester-2: $dm-settings__palette-indigo-50,
  indigo-dark: $dm-settings__palette-indigo-600,
  indigo-darker: $dm-settings__palette-indigo-700,
  indigo-darkest: $dm-settings__palette-indigo-800,
  indigo-darkester: $dm-settings__palette-indigo-900,
  indigo-accent: $dm-settings__palette-indigo-A100,
  indigo-accent-dark: $dm-settings__palette-indigo-A200,
  indigo-accent-darker: $dm-settings__palette-indigo-A400,
  indigo-accent-darkest: $dm-settings__palette-indigo-A700,

  blue: $dm-settings__palette-blue-500,
  blue-light: $dm-settings__palette-blue-400,
  blue-lighter: $dm-settings__palette-blue-300,
  blue-lightest: $dm-settings__palette-blue-200,
  blue-lightester: $dm-settings__palette-blue-100,
  blue-lightester-2: $dm-settings__palette-blue-50,
  blue-dark: $dm-settings__palette-blue-600,
  blue-darker: $dm-settings__palette-blue-700,
  blue-darkest: $dm-settings__palette-blue-800,
  blue-darkester: $dm-settings__palette-blue-900,
  blue-accent: $dm-settings__palette-blue-A100,
  blue-accent-dark: $dm-settings__palette-blue-A200,
  blue-accent-darker: $dm-settings__palette-blue-A400,
  blue-accent-darkest: $dm-settings__palette-blue-A700,

  teal: $dm-settings__palette-teal-500,
  teal-light: $dm-settings__palette-teal-400,
  teal-lighter: $dm-settings__palette-teal-300,
  teal-lightest: $dm-settings__palette-teal-200,
  teal-lightester: $dm-settings__palette-teal-100,
  teal-lightester-2: $dm-settings__palette-teal-50,
  teal-dark: $dm-settings__palette-teal-600,
  teal-darker: $dm-settings__palette-teal-700,
  teal-darkest: $dm-settings__palette-teal-800,
  teal-darkester: $dm-settings__palette-teal-900,
  teal-accent: $dm-settings__palette-teal-A100,
  teal-accent-dark: $dm-settings__palette-teal-A200,
  teal-accent-darker: $dm-settings__palette-teal-A400,
  teal-accent-darkest: $dm-settings__palette-teal-A700,

  green: $dm-settings__palette-green-500,
  green-light: $dm-settings__palette-green-400,
  green-lighter: $dm-settings__palette-green-300,
  green-lightest: $dm-settings__palette-green-200,
  green-lightester: $dm-settings__palette-green-100,
  green-lightester-2: $dm-settings__palette-green-50,
  green-dark: $dm-settings__palette-green-600,
  green-darker: $dm-settings__palette-green-700,
  green-darkest: $dm-settings__palette-green-800,
  green-darkester: $dm-settings__palette-green-900,
  green-accent: $dm-settings__palette-green-A100,
  green-accent-dark: $dm-settings__palette-green-A200,
  green-accent-darker: $dm-settings__palette-green-A400,
  green-accent-darkest: $dm-settings__palette-green-A700,

  orange: $dm-settings__palette-orange-500,
  orange-light: $dm-settings__palette-orange-400,
  orange-lighter: $dm-settings__palette-orange-300,
  orange-lightest: $dm-settings__palette-orange-200,
  orange-lightester: $dm-settings__palette-orange-100,
  orange-lightester-2: $dm-settings__palette-orange-50,
  orange-dark: $dm-settings__palette-orange-600,
  orange-darker: $dm-settings__palette-orange-700,
  orange-darkest: $dm-settings__palette-orange-800,
  orange-darkester: $dm-settings__palette-orange-900,
  orange-accent: $dm-settings__palette-orange-A100,
  orange-accent-dark: $dm-settings__palette-orange-A200,
  orange-accent-darker: $dm-settings__palette-orange-A400,
  orange-accent-darkest: $dm-settings__palette-orange-A700,

  brown: $dm-settings__palette-brown-500,
  brown-light: $dm-settings__palette-brown-400,
  brown-lighter: $dm-settings__palette-brown-300,
  brown-lightest: $dm-settings__palette-brown-200,
  brown-lightester: $dm-settings__palette-brown-100,
  brown-lightester-2: $dm-settings__palette-brown-50,
  brown-dark: $dm-settings__palette-brown-600,
  brown-darker: $dm-settings__palette-brown-700,
  brown-darkest: $dm-settings__palette-brown-800,
  brown-darkester: $dm-settings__palette-brown-900,

  grey: $dm-settings__palette-grey-500,
  grey-light: $dm-settings__palette-grey-400,
  grey-lighter: $dm-settings__palette-grey-300,
  grey-lightest: $dm-settings__palette-grey-200,
  grey-lightester: $dm-settings__palette-grey-100,
  grey-lightester-2: $dm-settings__palette-grey-50,
  grey-dark: $dm-settings__palette-grey-600,
  grey-darker: $dm-settings__palette-grey-700,
  grey-darkest: $dm-settings__palette-grey-800,
  grey-darkester: $dm-settings__palette-grey-900,

  slate: $dm-settings__palette-slate-500,
  slate-light: $dm-settings__palette-slate-400,
  slate-lighter: $dm-settings__palette-slate-300,
  slate-lightest: $dm-settings__palette-slate-200,
  slate-lightester: $dm-settings__palette-slate-100,
  slate-lightester-2: $dm-settings__palette-slate-50,
  slate-dark: $dm-settings__palette-slate-600,
  slate-darker: $dm-settings__palette-slate-700,
  slate-darkest: $dm-settings__palette-slate-800,
  slate-darkester: $dm-settings__palette-slate-900,
);

$dm-settings__color-text: map-get($dm-settings__colors, grey-darkester) !default;
$dm-settings__color-text-muted: map-get($dm-settings__colors, grey-light) !default;
$dm-settings__color-body-bg: map-get($dm-settings__colors, grey-lightester-2) !default;
