$dm-settings__color-text: map-get($dm-settings__color-palette, grey-darkester) !default;
$dm-settings__color-text-muted: map-get($dm-settings__color-palette, grey-light) !default;
$dm-settings__color-body-bg: map-get($dm-settings__color-palette, grey-lightester-2) !default;