$dm-settings__enable-grid-classes: true !default;

$dm-settings__grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$dm-settings__grid-container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$dm-settings__grid-columns: 12 !default;
$dm-settings__grid-gutter-width-base: 30px !default;
$dm-settings__grid-gutter-widths: (
  xs: $dm-settings__grid-gutter-width-base,
  sm: $dm-settings__grid-gutter-width-base,
  md: $dm-settings__grid-gutter-width-base,
  lg: $dm-settings__grid-gutter-width-base,
  xl: $dm-settings__grid-gutter-width-base
) !default;