// Neutrals
$dm-settings_palette-white: #fff !default;
$dm-settings_palette-black: #000 !default;

// Primary palette
$dm-settings_palette-primary-50: #D2F0E2 !default;
$dm-settings_palette-primary-100: #61CA9B !default;
$dm-settings_palette-primary-200: #61CA9B !default;
$dm-settings_palette-primary-300: #61CA9B !default;
$dm-settings_palette-primary-400: #42C087 !default;
$dm-settings_palette-primary-500: #22B573 !default;
$dm-settings_palette-primary-600: #51A881 !default;
$dm-settings_palette-primary-700: #418767 !default;
$dm-settings_palette-primary-800: #31654E !default;
$dm-settings_palette-primary-900: #204334 !default;

// Danger palette
$dm-settings_palette-danger-50: #FFEBEE !default;
$dm-settings_palette-danger-100: #E57373 !default;
$dm-settings_palette-danger-200: #E57373 !default;
$dm-settings_palette-danger-300: #E57373 !default;
$dm-settings_palette-danger-400: #EF5350 !default;
$dm-settings_palette-danger-500: #F44336 !default;
$dm-settings_palette-danger-600: #E53935 !default;
$dm-settings_palette-danger-700: #D32F2F !default;
$dm-settings_palette-danger-800: #C62828 !default;
$dm-settings_palette-danger-900: #B71C1C !default;
$dm-settings_palette-danger-A100: #ff8a80 !default;
$dm-settings_palette-danger-A200: #ff5252 !default;
$dm-settings_palette-danger-A400: #ff1744 !default;
$dm-settings_palette-danger-A700: #d50000 !default;

// Success palette
$dm-settings_palette-success-50: #E8F5E9 !default;
$dm-settings_palette-success-100: #81C784 !default;
$dm-settings_palette-success-200: #81C784 !default;
$dm-settings_palette-success-300: #81C784 !default;
$dm-settings_palette-success-400: #66BB6A !default;
$dm-settings_palette-success-500: #4CAF50 !default;
$dm-settings_palette-success-600: #43A047 !default;
$dm-settings_palette-success-700: #388E3C !default;
$dm-settings_palette-success-800: #2E7D32 !default;
$dm-settings_palette-success-900: #1B5E20 !default;

// Warning palette
$dm-settings_palette-warning-50: #FBE9E7 !default;
$dm-settings_palette-warning-100: #FF8A65 !default;
$dm-settings_palette-warning-200: #FF8A65 !default;
$dm-settings_palette-warning-300: #FF8A65 !default;
$dm-settings_palette-warning-400: #FF7043 !default;
$dm-settings_palette-warning-500: #FF5722 !default;
$dm-settings_palette-warning-600: #F4511E !default;
$dm-settings_palette-warning-700: #E64A19 !default;
$dm-settings_palette-warning-800: #D84315 !default;
$dm-settings_palette-warning-900: #BF360C !default;

// Info palette
$dm-settings_palette-info-50: #E0F7FA !default;
$dm-settings_palette-info-100: #4DD0E1 !default;
$dm-settings_palette-info-200: #4DD0E1 !default;
$dm-settings_palette-info-300: #4DD0E1 !default;
$dm-settings_palette-info-400: #26C6DA !default;
$dm-settings_palette-info-500: #00BCD4 !default;
$dm-settings_palette-info-600: #00ACC1 !default;
$dm-settings_palette-info-700: #0097A7 !default;
$dm-settings_palette-info-800: #00838F !default;
$dm-settings_palette-info-900: #006064 !default;
$dm-settings_palette-info-A100: #82b1ff !default;
$dm-settings_palette-info-A200: #448aff !default;
$dm-settings_palette-info-A400: #2979ff !default;
$dm-settings_palette-info-A700: #2962ff !default;

// Additional colors
// ------------------------------

// Red palette
$dm-settings_palette-red-50: #FFEBEE !default;
$dm-settings_palette-red-100: #E57373 !default;
$dm-settings_palette-red-200: #E57373 !default;
$dm-settings_palette-red-300: #E57373 !default;
$dm-settings_palette-red-400: #EF5350 !default;
$dm-settings_palette-red-500: #F44336 !default;
$dm-settings_palette-red-600: #E53935 !default;
$dm-settings_palette-red-700: #D32F2F !default;
$dm-settings_palette-red-800: #C62828 !default;
$dm-settings_palette-red-900: #B71C1C !default;
$dm-settings_palette-red-A100: #ff8a80 !default;
$dm-settings_palette-red-A200: #ff5252 !default;
$dm-settings_palette-red-A400: #ff1744 !default;
$dm-settings_palette-red-A700: #d50000 !default;

// Yellow palette
$dm-settings_palette-yellow-50: #fffde7 !default;
$dm-settings_palette-yellow-100: #fff9c4 !default;
$dm-settings_palette-yellow-200: #fff59d !default;
$dm-settings_palette-yellow-300: #fff176 !default;
$dm-settings_palette-yellow-400: #ffee58 !default;
$dm-settings_palette-yellow-500: #ffeb3b !default;
$dm-settings_palette-yellow-600: #fdd835 !default;
$dm-settings_palette-yellow-700: #fbc02d !default;
$dm-settings_palette-yellow-800: #f9a825 !default;
$dm-settings_palette-yellow-900: #f57f17 !default;
$dm-settings_palette-yellow-A100: #ffff8d !default;
$dm-settings_palette-yellow-A200: #ffff00 !default;
$dm-settings_palette-yellow-A400: #ffea00 !default;
$dm-settings_palette-yellow-A700: #ffd600 !default;

// Pink palette
$dm-settings_palette-pink-50: #FCE4EC !default;
$dm-settings_palette-pink-100: #F06292 !default;
$dm-settings_palette-pink-200: #F06292 !default;
$dm-settings_palette-pink-300: #F06292 !default;
$dm-settings_palette-pink-400: #EC407A !default;
$dm-settings_palette-pink-500: #E91E63 !default;
$dm-settings_palette-pink-600: #D81B60 !default;
$dm-settings_palette-pink-700: #C2185B !default;
$dm-settings_palette-pink-800: #AD1457 !default;
$dm-settings_palette-pink-900: #880E4F !default;
$dm-settings_palette-pink-A100: #ff80ab !default;
$dm-settings_palette-pink-A200: #ff4081 !default;
$dm-settings_palette-pink-A400: #f50057 !default;
$dm-settings_palette-pink-A700: #c51162 !default;

// Violet palette
$dm-settings_palette-violet-50: #F3E5F5 !default;
$dm-settings_palette-violet-100: #BA68C8 !default;
$dm-settings_palette-violet-200: #BA68C8 !default;
$dm-settings_palette-violet-300: #BA68C8 !default;
$dm-settings_palette-violet-400: #AB47BC !default;
$dm-settings_palette-violet-500: #9C27B0 !default;
$dm-settings_palette-violet-600: #8E24AA !default;
$dm-settings_palette-violet-700: #7B1FA2 !default;
$dm-settings_palette-violet-800: #6A1B9A !default;
$dm-settings_palette-violet-900: #4A148C !default;
$dm-settings_palette-violet-A100: #ea80fc !default;
$dm-settings_palette-violet-A200: #e040fb !default;
$dm-settings_palette-violet-A400: #d500f9 !default;
$dm-settings_palette-violet-A700: #aa00ff !default;

// Purple palette
$dm-settings_palette-purple-50: #EDE7F6 !default;
$dm-settings_palette-purple-100: #9575CD !default;
$dm-settings_palette-purple-200: #9575CD !default;
$dm-settings_palette-purple-300: #9575CD !default;
$dm-settings_palette-purple-400: #7E57C2 !default;
$dm-settings_palette-purple-500: #673AB7 !default;
$dm-settings_palette-purple-600: #5E35B1 !default;
$dm-settings_palette-purple-700: #512DA8 !default;
$dm-settings_palette-purple-800: #4527A0 !default;
$dm-settings_palette-purple-900: #311B92 !default;
$dm-settings_palette-purple-A100: #b388ff !default;
$dm-settings_palette-purple-A200: #7c4dff !default;
$dm-settings_palette-purple-A400: #651fff !default;
$dm-settings_palette-purple-A700: #6200ea !default;

// Indigo palette
$dm-settings_palette-indigo-50: #E8EAF6 !default;
$dm-settings_palette-indigo-100: #7986CB !default;
$dm-settings_palette-indigo-200: #7986CB !default;
$dm-settings_palette-indigo-300: #7986CB !default;
$dm-settings_palette-indigo-400: #5C6BC0 !default;
$dm-settings_palette-indigo-500: #3F51B5 !default;
$dm-settings_palette-indigo-600: #3949AB !default;
$dm-settings_palette-indigo-700: #303F9F !default;
$dm-settings_palette-indigo-800: #283593 !default;
$dm-settings_palette-indigo-900: #1A237E !default;
$dm-settings_palette-indigo-A100: #8c9eff !default;
$dm-settings_palette-indigo-A200: #536dfe !default;
$dm-settings_palette-indigo-A400: #3d5afe !default;
$dm-settings_palette-indigo-A700: #304ffe !default;

// Blue palette
$dm-settings_palette-blue-50: #E1F5FE !default;
$dm-settings_palette-blue-100: #4FC3F7 !default;
$dm-settings_palette-blue-200: #4FC3F7 !default;
$dm-settings_palette-blue-300: #4FC3F7 !default;
$dm-settings_palette-blue-400: #29B6F6 !default;
$dm-settings_palette-blue-500: #03A9F4 !default;
$dm-settings_palette-blue-600: #039BE5 !default;
$dm-settings_palette-blue-700: #0288D1 !default;
$dm-settings_palette-blue-800: #0277BD !default;
$dm-settings_palette-blue-900: #01579B !default;
$dm-settings_palette-blue-A100: #82b1ff !default;
$dm-settings_palette-blue-A200: #448aff !default;
$dm-settings_palette-blue-A400: #2979ff !default;
$dm-settings_palette-blue-A700: #2962ff !default;

// Teal palette
$dm-settings_palette-teal-50: #E0F2F1 !default;
$dm-settings_palette-teal-100: #4DB6AC !default;
$dm-settings_palette-teal-200: #4DB6AC !default;
$dm-settings_palette-teal-300: #4DB6AC !default;
$dm-settings_palette-teal-400: #26A69A !default;
$dm-settings_palette-teal-500: #009688 !default;
$dm-settings_palette-teal-600: #00897B !default;
$dm-settings_palette-teal-700: #00796B !default;
$dm-settings_palette-teal-800: #00695C !default;
$dm-settings_palette-teal-900: #004D40 !default;
$dm-settings_palette-teal-A100: #a7ffeb !default;
$dm-settings_palette-teal-A200: #64ffda !default;
$dm-settings_palette-teal-A400: #1de9b6 !default;
$dm-settings_palette-teal-A700: #00bfa5 !default;

// Green palette
$dm-settings_palette-green-50: #F1F8E9 !default;
$dm-settings_palette-green-100: #AED581 !default;
$dm-settings_palette-green-200: #AED581 !default;
$dm-settings_palette-green-300: #AED581 !default;
$dm-settings_palette-green-400: #9CCC65 !default;
$dm-settings_palette-green-500: #8BC34A !default;
$dm-settings_palette-green-600: #7CB342 !default;
$dm-settings_palette-green-700: #689F38 !default;
$dm-settings_palette-green-800: #558B2F !default;
$dm-settings_palette-green-900: #33691E !default;
$dm-settings_palette-green-A100: #b9f6ca !default;
$dm-settings_palette-green-A200: #69f0ae !default;
$dm-settings_palette-green-A400: #00e676 !default;
$dm-settings_palette-green-A700: #00c853 !default;

// Orange palette
$dm-settings_palette-orange-50: #FFF3E0 !default;
$dm-settings_palette-orange-100: #FFB74D !default;
$dm-settings_palette-orange-200: #FFB74D !default;
$dm-settings_palette-orange-300: #FFB74D !default;
$dm-settings_palette-orange-400: #FFA726 !default;
$dm-settings_palette-orange-500: #FF9800 !default;
$dm-settings_palette-orange-600: #FB8C00 !default;
$dm-settings_palette-orange-700: #F57C00 !default;
$dm-settings_palette-orange-800: #EF6C00 !default;
$dm-settings_palette-orange-900: #E65100 !default;
$dm-settings_palette-orange-A100: #ffd180 !default;
$dm-settings_palette-orange-A200: #ffab40 !default;
$dm-settings_palette-orange-A400: #ff9100 !default;
$dm-settings_palette-orange-A700: #ff6d00 !default;

// Brown palette
$dm-settings_palette-brown-50: #EFEBE9 !default;
$dm-settings_palette-brown-100: #A1887F !default;
$dm-settings_palette-brown-200: #A1887F !default;
$dm-settings_palette-brown-300: #A1887F !default;
$dm-settings_palette-brown-400: #8D6E63 !default;
$dm-settings_palette-brown-500: #795548 !default;
$dm-settings_palette-brown-600: #6D4C41 !default;
$dm-settings_palette-brown-700: #5D4037 !default;
$dm-settings_palette-brown-800: #4E342E !default;
$dm-settings_palette-brown-900: #3E2723 !default;

// Grey palette
$dm-settings_palette-grey-50: #dfdfdf !default;
$dm-settings_palette-grey-100: #ccc !default;
$dm-settings_palette-grey-200: #bbb !default;
$dm-settings_palette-grey-300: #999 !default;
$dm-settings_palette-grey-400: #888 !default;
$dm-settings_palette-grey-500: #777 !default;
$dm-settings_palette-grey-600: #666 !default;
$dm-settings_palette-grey-700: #555 !default;
$dm-settings_palette-grey-800: #444 !default;
$dm-settings_palette-grey-900: #333 !default;

// Slate palette
$dm-settings_palette-slate-50: #ECEFF1 !default;
$dm-settings_palette-slate-100: #90A4AE !default;
$dm-settings_palette-slate-200: #90A4AE !default;
$dm-settings_palette-slate-300: #90A4AE !default;
$dm-settings_palette-slate-400: #78909C !default;
$dm-settings_palette-slate-500: #607D8B !default;
$dm-settings_palette-slate-600: #546E7A !default;
$dm-settings_palette-slate-700: #455A64 !default;
$dm-settings_palette-slate-800: #37474F !default;
$dm-settings_palette-slate-900: #263238 !default;

