////
/// @group settings
/// @author Piotr Nowak
////

// B&W palette

/// White
$dm-settings-color-white: #fff !default;
/// Black
$dm-settings-color-black: #000 !default;

// Primary palette
$dm-settings-color-primary-50: #D2F0E2 !default;
$dm-settings-color-primary-100: #61CA9B !default;
$dm-settings-color-primary-200: #61CA9B !default;
$dm-settings-color-primary-300: #61CA9B !default;
$dm-settings-color-primary-400: #42C087 !default;
$dm-settings-color-primary-500: #22B573 !default;
$dm-settings-color-primary-600: #51A881 !default;
$dm-settings-color-primary-700: #418767 !default;
$dm-settings-color-primary-800: #31654E !default;
$dm-settings-color-primary-900: #204334 !default;

// Danger palette
$dm-settings-color-danger-50: #FFEBEE !default;
$dm-settings-color-danger-100: #E57373 !default;
$dm-settings-color-danger-200: #E57373 !default;
$dm-settings-color-danger-300: #E57373 !default;
$dm-settings-color-danger-400: #EF5350 !default;
$dm-settings-color-danger-500: #F44336 !default;
$dm-settings-color-danger-600: #E53935 !default;
$dm-settings-color-danger-700: #D32F2F !default;
$dm-settings-color-danger-800: #C62828 !default;
$dm-settings-color-danger-900: #B71C1C !default;
$dm-settings-color-danger-A100: #ff8a80 !default;
$dm-settings-color-danger-A200: #ff5252 !default;
$dm-settings-color-danger-A400: #ff1744 !default;
$dm-settings-color-danger-A700: #d50000 !default;

// Success palette
$dm-settings-color-success-50: #E8F5E9 !default;
$dm-settings-color-success-100: #81C784 !default;
$dm-settings-color-success-200: #81C784 !default;
$dm-settings-color-success-300: #81C784 !default;
$dm-settings-color-success-400: #66BB6A !default;
$dm-settings-color-success-500: #4CAF50 !default;
$dm-settings-color-success-600: #43A047 !default;
$dm-settings-color-success-700: #388E3C !default;
$dm-settings-color-success-800: #2E7D32 !default;
$dm-settings-color-success-900: #1B5E20 !default;

// Warning palette
$dm-settings-color-warning-50: #FBE9E7 !default;
$dm-settings-color-warning-100: #FF8A65 !default;
$dm-settings-color-warning-200: #FF8A65 !default;
$dm-settings-color-warning-300: #FF8A65 !default;
$dm-settings-color-warning-400: #FF7043 !default;
$dm-settings-color-warning-500: #FF5722 !default;
$dm-settings-color-warning-600: #F4511E !default;
$dm-settings-color-warning-700: #E64A19 !default;
$dm-settings-color-warning-800: #D84315 !default;
$dm-settings-color-warning-900: #BF360C !default;

// Info palette
$dm-settings-color-info-50: #E0F7FA !default;
$dm-settings-color-info-100: #4DD0E1 !default;
$dm-settings-color-info-200: #4DD0E1 !default;
$dm-settings-color-info-300: #4DD0E1 !default;
$dm-settings-color-info-400: #26C6DA !default;
$dm-settings-color-info-500: #00BCD4 !default;
$dm-settings-color-info-600: #00ACC1 !default;
$dm-settings-color-info-700: #0097A7 !default;
$dm-settings-color-info-800: #00838F !default;
$dm-settings-color-info-900: #006064 !default;
$dm-settings-color-info-A100: #82b1ff !default;
$dm-settings-color-info-A200: #448aff !default;
$dm-settings-color-info-A400: #2979ff !default;
$dm-settings-color-info-A700: #2962ff !default;

// Additional colors
// ------------------------------

// Red palette
$dm-settings-color-red-50: #FFEBEE !default;
$dm-settings-color-red-100: #E57373 !default;
$dm-settings-color-red-200: #E57373 !default;
$dm-settings-color-red-300: #E57373 !default;
$dm-settings-color-red-400: #EF5350 !default;
$dm-settings-color-red-500: #F44336 !default;
$dm-settings-color-red-600: #E53935 !default;
$dm-settings-color-red-700: #D32F2F !default;
$dm-settings-color-red-800: #C62828 !default;
$dm-settings-color-red-900: #B71C1C !default;
$dm-settings-color-red-A100: #ff8a80 !default;
$dm-settings-color-red-A200: #ff5252 !default;
$dm-settings-color-red-A400: #ff1744 !default;
$dm-settings-color-red-A700: #d50000 !default;

// Yellow palette
$dm-settings-color-yellow-50: #fffde7 !default;
$dm-settings-color-yellow-100: #fff9c4 !default;
$dm-settings-color-yellow-200: #fff59d !default;
$dm-settings-color-yellow-300: #fff176 !default;
$dm-settings-color-yellow-400: #ffee58 !default;
$dm-settings-color-yellow-500: #ffeb3b !default;
$dm-settings-color-yellow-600: #fdd835 !default;
$dm-settings-color-yellow-700: #fbc02d !default;
$dm-settings-color-yellow-800: #f9a825 !default;
$dm-settings-color-yellow-900: #f57f17 !default;
$dm-settings-color-yellow-A100: #ffff8d !default;
$dm-settings-color-yellow-A200: #ffff00 !default;
$dm-settings-color-yellow-A400: #ffea00 !default;
$dm-settings-color-yellow-A700: #ffd600 !default;

// Pink palette
$dm-settings-color-pink-50: #FCE4EC !default;
$dm-settings-color-pink-100: #F06292 !default;
$dm-settings-color-pink-200: #F06292 !default;
$dm-settings-color-pink-300: #F06292 !default;
$dm-settings-color-pink-400: #EC407A !default;
$dm-settings-color-pink-500: #E91E63 !default;
$dm-settings-color-pink-600: #D81B60 !default;
$dm-settings-color-pink-700: #C2185B !default;
$dm-settings-color-pink-800: #AD1457 !default;
$dm-settings-color-pink-900: #880E4F !default;
$dm-settings-color-pink-A100: #ff80ab !default;
$dm-settings-color-pink-A200: #ff4081 !default;
$dm-settings-color-pink-A400: #f50057 !default;
$dm-settings-color-pink-A700: #c51162 !default;

// Violet palette
$dm-settings-color-violet-50: #F3E5F5 !default;
$dm-settings-color-violet-100: #BA68C8 !default;
$dm-settings-color-violet-200: #BA68C8 !default;
$dm-settings-color-violet-300: #BA68C8 !default;
$dm-settings-color-violet-400: #AB47BC !default;
$dm-settings-color-violet-500: #9C27B0 !default;
$dm-settings-color-violet-600: #8E24AA !default;
$dm-settings-color-violet-700: #7B1FA2 !default;
$dm-settings-color-violet-800: #6A1B9A !default;
$dm-settings-color-violet-900: #4A148C !default;
$dm-settings-color-violet-A100: #ea80fc !default;
$dm-settings-color-violet-A200: #e040fb !default;
$dm-settings-color-violet-A400: #d500f9 !default;
$dm-settings-color-violet-A700: #aa00ff !default;

// Purple palette
$dm-settings-color-purple-50: #EDE7F6 !default;
$dm-settings-color-purple-100: #9575CD !default;
$dm-settings-color-purple-200: #9575CD !default;
$dm-settings-color-purple-300: #9575CD !default;
$dm-settings-color-purple-400: #7E57C2 !default;
$dm-settings-color-purple-500: #673AB7 !default;
$dm-settings-color-purple-600: #5E35B1 !default;
$dm-settings-color-purple-700: #512DA8 !default;
$dm-settings-color-purple-800: #4527A0 !default;
$dm-settings-color-purple-900: #311B92 !default;
$dm-settings-color-purple-A100: #b388ff !default;
$dm-settings-color-purple-A200: #7c4dff !default;
$dm-settings-color-purple-A400: #651fff !default;
$dm-settings-color-purple-A700: #6200ea !default;

// Indigo palette
$dm-settings-color-indigo-50: #E8EAF6 !default;
$dm-settings-color-indigo-100: #7986CB !default;
$dm-settings-color-indigo-200: #7986CB !default;
$dm-settings-color-indigo-300: #7986CB !default;
$dm-settings-color-indigo-400: #5C6BC0 !default;
$dm-settings-color-indigo-500: #3F51B5 !default;
$dm-settings-color-indigo-600: #3949AB !default;
$dm-settings-color-indigo-700: #303F9F !default;
$dm-settings-color-indigo-800: #283593 !default;
$dm-settings-color-indigo-900: #1A237E !default;
$dm-settings-color-indigo-A100: #8c9eff !default;
$dm-settings-color-indigo-A200: #536dfe !default;
$dm-settings-color-indigo-A400: #3d5afe !default;
$dm-settings-color-indigo-A700: #304ffe !default;

// Blue palette
$dm-settings-color-blue-50: #E1F5FE !default;
$dm-settings-color-blue-100: #4FC3F7 !default;
$dm-settings-color-blue-200: #4FC3F7 !default;
$dm-settings-color-blue-300: #4FC3F7 !default;
$dm-settings-color-blue-400: #29B6F6 !default;
$dm-settings-color-blue-500: #03A9F4 !default;
$dm-settings-color-blue-600: #039BE5 !default;
$dm-settings-color-blue-700: #0288D1 !default;
$dm-settings-color-blue-800: #0277BD !default;
$dm-settings-color-blue-900: #01579B !default;
$dm-settings-color-blue-A100: #82b1ff !default;
$dm-settings-color-blue-A200: #448aff !default;
$dm-settings-color-blue-A400: #2979ff !default;
$dm-settings-color-blue-A700: #2962ff !default;

// Teal palette
$dm-settings-color-teal-50: #E0F2F1 !default;
$dm-settings-color-teal-100: #4DB6AC !default;
$dm-settings-color-teal-200: #4DB6AC !default;
$dm-settings-color-teal-300: #4DB6AC !default;
$dm-settings-color-teal-400: #26A69A !default;
$dm-settings-color-teal-500: #009688 !default;
$dm-settings-color-teal-600: #00897B !default;
$dm-settings-color-teal-700: #00796B !default;
$dm-settings-color-teal-800: #00695C !default;
$dm-settings-color-teal-900: #004D40 !default;
$dm-settings-color-teal-A100: #a7ffeb !default;
$dm-settings-color-teal-A200: #64ffda !default;
$dm-settings-color-teal-A400: #1de9b6 !default;
$dm-settings-color-teal-A700: #00bfa5 !default;

// Green palette
$dm-settings-color-green-50: #F1F8E9 !default;
$dm-settings-color-green-100: #AED581 !default;
$dm-settings-color-green-200: #AED581 !default;
$dm-settings-color-green-300: #AED581 !default;
$dm-settings-color-green-400: #9CCC65 !default;
$dm-settings-color-green-500: #8BC34A !default;
$dm-settings-color-green-600: #7CB342 !default;
$dm-settings-color-green-700: #689F38 !default;
$dm-settings-color-green-800: #558B2F !default;
$dm-settings-color-green-900: #33691E !default;
$dm-settings-color-green-A100: #b9f6ca !default;
$dm-settings-color-green-A200: #69f0ae !default;
$dm-settings-color-green-A400: #00e676 !default;
$dm-settings-color-green-A700: #00c853 !default;

// Orange palette
$dm-settings-color-orange-50: #FFF3E0 !default;
$dm-settings-color-orange-100: #FFB74D !default;
$dm-settings-color-orange-200: #FFB74D !default;
$dm-settings-color-orange-300: #FFB74D !default;
$dm-settings-color-orange-400: #FFA726 !default;
$dm-settings-color-orange-500: #FF9800 !default;
$dm-settings-color-orange-600: #FB8C00 !default;
$dm-settings-color-orange-700: #F57C00 !default;
$dm-settings-color-orange-800: #EF6C00 !default;
$dm-settings-color-orange-900: #E65100 !default;
$dm-settings-color-orange-A100: #ffd180 !default;
$dm-settings-color-orange-A200: #ffab40 !default;
$dm-settings-color-orange-A400: #ff9100 !default;
$dm-settings-color-orange-A700: #ff6d00 !default;

// Brown palette
$dm-settings-color-brown-50: #EFEBE9 !default;
$dm-settings-color-brown-100: #A1887F !default;
$dm-settings-color-brown-200: #A1887F !default;
$dm-settings-color-brown-300: #A1887F !default;
$dm-settings-color-brown-400: #8D6E63 !default;
$dm-settings-color-brown-500: #795548 !default;
$dm-settings-color-brown-600: #6D4C41 !default;
$dm-settings-color-brown-700: #5D4037 !default;
$dm-settings-color-brown-800: #4E342E !default;
$dm-settings-color-brown-900: #3E2723 !default;

// Grey palette
$dm-settings-color-grey-50: #FAFAFA !default;
$dm-settings-color-grey-100: #999 !default;
$dm-settings-color-grey-200: #999 !default;
$dm-settings-color-grey-300: #999 !default;
$dm-settings-color-grey-400: #888 !default;
$dm-settings-color-grey-500: #777 !default;
$dm-settings-color-grey-600: #666 !default;
$dm-settings-color-grey-700: #555 !default;
$dm-settings-color-grey-800: #444 !default;
$dm-settings-color-grey-900: #333 !default;

// Slate palette
$dm-settings-color-slate-50: #ECEFF1 !default;
$dm-settings-color-slate-100: #90A4AE !default;
$dm-settings-color-slate-200: #90A4AE !default;
$dm-settings-color-slate-300: #90A4AE !default;
$dm-settings-color-slate-400: #78909C !default;
$dm-settings-color-slate-500: #607D8B !default;
$dm-settings-color-slate-600: #546E7A !default;
$dm-settings-color-slate-700: #455A64 !default;
$dm-settings-color-slate-800: #37474F !default;
$dm-settings-color-slate-900: #263238 !default;

$dm-settings-color-palette: (
  white: $dm-settings-color-white,
  black: $dm-settings-color-black,

  primary: $dm-settings-color-primary-500,
  primary-light: $dm-settings-color-primary-400,
  primary-lighter: $dm-settings-color-primary-300,
  primary-lightest: $dm-settings-color-primary-200,
  primary-lightester: $dm-settings-color-primary-100,
  primary-lightester-2: $dm-settings-color-primary-50,
  primary-dark: $dm-settings-color-primary-600,
  primary-darker: $dm-settings-color-primary-700,
  primary-darkest: $dm-settings-color-primary-800,
  primary-darkester: $dm-settings-color-primary-900,

  success: $dm-settings-color-success-500,
  success-light: $dm-settings-color-success-400,
  success-lighter: $dm-settings-color-success-300,
  success-lightest: $dm-settings-color-success-200,
  success-lightester: $dm-settings-color-success-100,
  success-lightester-2: $dm-settings-color-success-50,
  success-dark: $dm-settings-color-success-600,
  success-darker: $dm-settings-color-success-700,
  success-darkest: $dm-settings-color-success-800,
  success-darkester: $dm-settings-color-success-900,

  danger: $dm-settings-color-danger-500,
  danger-light: $dm-settings-color-danger-400,
  danger-lighter: $dm-settings-color-danger-300,
  danger-lightest: $dm-settings-color-danger-200,
  danger-lightester: $dm-settings-color-danger-100,
  danger-lightester-2: $dm-settings-color-danger-50,
  danger-dark: $dm-settings-color-danger-600,
  danger-darker: $dm-settings-color-danger-700,
  danger-darkest: $dm-settings-color-danger-800,
  danger-darkester: $dm-settings-color-danger-900,
  danger-accent: $dm-settings-color-danger-A100,
  danger-accent-dark: $dm-settings-color-danger-A200,
  danger-accent-darker: $dm-settings-color-danger-A400,
  danger-accent-darkest: $dm-settings-color-danger-A700,

  warning: $dm-settings-color-warning-500,
  warning-light: $dm-settings-color-warning-400,
  warning-lighter: $dm-settings-color-warning-300,
  warning-lightest: $dm-settings-color-warning-200,
  warning-lightester: $dm-settings-color-warning-100,
  warning-lightester-2: $dm-settings-color-warning-50,
  warning-dark: $dm-settings-color-warning-600,
  warning-darker: $dm-settings-color-warning-700,
  warning-darkest: $dm-settings-color-warning-800,
  warning-darkester: $dm-settings-color-warning-900,

  info: $dm-settings-color-info-500,
  info-light: $dm-settings-color-info-400,
  info-lighter: $dm-settings-color-info-300,
  info-lightest: $dm-settings-color-info-200,
  info-lightester: $dm-settings-color-info-100,
  info-lightester-2: $dm-settings-color-info-50,
  info-dark: $dm-settings-color-info-600,
  info-darker: $dm-settings-color-info-700,
  info-darkest: $dm-settings-color-info-800,
  info-darkester: $dm-settings-color-info-900,
  info-accent: $dm-settings-color-info-A100,
  info-accent-dark: $dm-settings-color-info-A200,
  info-accent-darker: $dm-settings-color-info-A400,
  info-accent-darkest: $dm-settings-color-info-A700,

  pink: $dm-settings-color-pink-500,
  pink-light: $dm-settings-color-pink-400,
  pink-lighter: $dm-settings-color-pink-300,
  pink-lightest: $dm-settings-color-pink-200,
  pink-lightester: $dm-settings-color-pink-100,
  pink-lightester-2: $dm-settings-color-pink-50,
  pink-dark: $dm-settings-color-pink-600,
  pink-darker: $dm-settings-color-pink-700,
  pink-darkest: $dm-settings-color-pink-800,
  pink-darkester: $dm-settings-color-pink-900,
  pink-accent: $dm-settings-color-pink-A100,
  pink-accent-dark: $dm-settings-color-pink-A200,
  pink-accent-darker: $dm-settings-color-pink-A400,
  pink-accent-darkest: $dm-settings-color-pink-A700,

  red: $dm-settings-color-red-500,
  red-light: $dm-settings-color-red-400,
  red-lighter: $dm-settings-color-red-300,
  red-lightest: $dm-settings-color-red-200,
  red-lightester: $dm-settings-color-red-100,
  red-lightester-2: $dm-settings-color-red-50,
  red-dark: $dm-settings-color-red-600,
  red-darker: $dm-settings-color-red-700,
  red-darkest: $dm-settings-color-red-800,
  red-darkester: $dm-settings-color-red-900,
  red-accent: $dm-settings-color-red-A100,
  red-accent-dark: $dm-settings-color-red-A200,
  red-accent-darker: $dm-settings-color-red-A400,
  red-accent-darkest: $dm-settings-color-red-A700,

  yellow: $dm-settings-color-yellow-500,
  yellow-light: $dm-settings-color-yellow-400,
  yellow-lighter: $dm-settings-color-yellow-300,
  yellow-lightest: $dm-settings-color-yellow-200,
  yellow-lightester: $dm-settings-color-yellow-100,
  yellow-lightester-2: $dm-settings-color-yellow-50,
  yellow-dark: $dm-settings-color-yellow-600,
  yellow-darker: $dm-settings-color-yellow-700,
  yellow-darkest: $dm-settings-color-yellow-800,
  yellow-darkester: $dm-settings-color-yellow-900,
  yellow-accent: $dm-settings-color-yellow-A100,
  yellow-accent-dark: $dm-settings-color-yellow-A200,
  yellow-accent-darker: $dm-settings-color-yellow-A400,
  yellow-accent-darkest: $dm-settings-color-yellow-A700,

  violet: $dm-settings-color-violet-500,
  violet-light: $dm-settings-color-violet-400,
  violet-lighter: $dm-settings-color-violet-300,
  violet-lightest: $dm-settings-color-violet-200,
  violet-lightester: $dm-settings-color-violet-100,
  violet-lightester-2: $dm-settings-color-violet-50,
  violet-dark: $dm-settings-color-violet-600,
  violet-darker: $dm-settings-color-violet-700,
  violet-darkest: $dm-settings-color-violet-800,
  violet-darkester: $dm-settings-color-violet-900,
  violet-accent: $dm-settings-color-violet-A100,
  violet-accent-dark: $dm-settings-color-violet-A200,
  violet-accent-darker: $dm-settings-color-violet-A400,
  violet-accent-darkest: $dm-settings-color-violet-A700,

  purple: $dm-settings-color-purple-500,
  purple-light: $dm-settings-color-purple-400,
  purple-lighter: $dm-settings-color-purple-300,
  purple-lightest: $dm-settings-color-purple-200,
  purple-lightester: $dm-settings-color-purple-100,
  purple-lightester-2: $dm-settings-color-purple-50,
  purple-dark: $dm-settings-color-purple-600,
  purple-darker: $dm-settings-color-purple-700,
  purple-darkest: $dm-settings-color-purple-800,
  purple-darkester: $dm-settings-color-purple-900,
  purple-accent: $dm-settings-color-purple-A100,
  purple-accent-dark: $dm-settings-color-purple-A200,
  purple-accent-darker: $dm-settings-color-purple-A400,
  purple-accent-darkest: $dm-settings-color-purple-A700,

  indigo: $dm-settings-color-indigo-500,
  indigo-light: $dm-settings-color-indigo-400,
  indigo-lighter: $dm-settings-color-indigo-300,
  indigo-lightest: $dm-settings-color-indigo-200,
  indigo-lightester: $dm-settings-color-indigo-100,
  indigo-lightester-2: $dm-settings-color-indigo-50,
  indigo-dark: $dm-settings-color-indigo-600,
  indigo-darker: $dm-settings-color-indigo-700,
  indigo-darkest: $dm-settings-color-indigo-800,
  indigo-darkester: $dm-settings-color-indigo-900,
  indigo-accent: $dm-settings-color-indigo-A100,
  indigo-accent-dark: $dm-settings-color-indigo-A200,
  indigo-accent-darker: $dm-settings-color-indigo-A400,
  indigo-accent-darkest: $dm-settings-color-indigo-A700,

  blue: $dm-settings-color-blue-500,
  blue-light: $dm-settings-color-blue-400,
  blue-lighter: $dm-settings-color-blue-300,
  blue-lightest: $dm-settings-color-blue-200,
  blue-lightester: $dm-settings-color-blue-100,
  blue-lightester-2: $dm-settings-color-blue-50,
  blue-dark: $dm-settings-color-blue-600,
  blue-darker: $dm-settings-color-blue-700,
  blue-darkest: $dm-settings-color-blue-800,
  blue-darkester: $dm-settings-color-blue-900,
  blue-accent: $dm-settings-color-blue-A100,
  blue-accent-dark: $dm-settings-color-blue-A200,
  blue-accent-darker: $dm-settings-color-blue-A400,
  blue-accent-darkest: $dm-settings-color-blue-A700,

  teal: $dm-settings-color-teal-500,
  teal-light: $dm-settings-color-teal-400,
  teal-lighter: $dm-settings-color-teal-300,
  teal-lightest: $dm-settings-color-teal-200,
  teal-lightester: $dm-settings-color-teal-100,
  teal-lightester-2: $dm-settings-color-teal-50,
  teal-dark: $dm-settings-color-teal-600,
  teal-darker: $dm-settings-color-teal-700,
  teal-darkest: $dm-settings-color-teal-800,
  teal-darkester: $dm-settings-color-teal-900,
  teal-accent: $dm-settings-color-teal-A100,
  teal-accent-dark: $dm-settings-color-teal-A200,
  teal-accent-darker: $dm-settings-color-teal-A400,
  teal-accent-darkest: $dm-settings-color-teal-A700,

  green: $dm-settings-color-green-500,
  green-light: $dm-settings-color-green-400,
  green-lighter: $dm-settings-color-green-300,
  green-lightest: $dm-settings-color-green-200,
  green-lightester: $dm-settings-color-green-100,
  green-lightester-2: $dm-settings-color-green-50,
  green-dark: $dm-settings-color-green-600,
  green-darker: $dm-settings-color-green-700,
  green-darkest: $dm-settings-color-green-800,
  green-darkester: $dm-settings-color-green-900,
  green-accent: $dm-settings-color-green-A100,
  green-accent-dark: $dm-settings-color-green-A200,
  green-accent-darker: $dm-settings-color-green-A400,
  green-accent-darkest: $dm-settings-color-green-A700,

  orange: $dm-settings-color-orange-500,
  orange-light: $dm-settings-color-orange-400,
  orange-lighter: $dm-settings-color-orange-300,
  orange-lightest: $dm-settings-color-orange-200,
  orange-lightester: $dm-settings-color-orange-100,
  orange-lightester-2: $dm-settings-color-orange-50,
  orange-dark: $dm-settings-color-orange-600,
  orange-darker: $dm-settings-color-orange-700,
  orange-darkest: $dm-settings-color-orange-800,
  orange-darkester: $dm-settings-color-orange-900,
  orange-accent: $dm-settings-color-orange-A100,
  orange-accent-dark: $dm-settings-color-orange-A200,
  orange-accent-darker: $dm-settings-color-orange-A400,
  orange-accent-darkest: $dm-settings-color-orange-A700,

  brown: $dm-settings-color-brown-500,
  brown-light: $dm-settings-color-brown-400,
  brown-lighter: $dm-settings-color-brown-300,
  brown-lightest: $dm-settings-color-brown-200,
  brown-lightester: $dm-settings-color-brown-100,
  brown-lightester-2: $dm-settings-color-brown-50,
  brown-dark: $dm-settings-color-brown-600,
  brown-darker: $dm-settings-color-brown-700,
  brown-darkest: $dm-settings-color-brown-800,
  brown-darkester: $dm-settings-color-brown-900,

  grey: $dm-settings-color-grey-500,
  grey-light: $dm-settings-color-grey-400,
  grey-lighter: $dm-settings-color-grey-300,
  grey-lightest: $dm-settings-color-grey-200,
  grey-lightester: $dm-settings-color-grey-100,
  grey-lightester-2: $dm-settings-color-grey-50,
  grey-dark: $dm-settings-color-grey-600,
  grey-darker: $dm-settings-color-grey-700,
  grey-darkest: $dm-settings-color-grey-800,
  grey-darkester: $dm-settings-color-grey-900,

  slate: $dm-settings-color-slate-500,
  slate-light: $dm-settings-color-slate-400,
  slate-lighter: $dm-settings-color-slate-300,
  slate-lightest: $dm-settings-color-slate-200,
  slate-lightester: $dm-settings-color-slate-100,
  slate-lightester-2: $dm-settings-color-slate-50,
  slate-dark: $dm-settings-color-slate-600,
  slate-darker: $dm-settings-color-slate-700,
  slate-darkest: $dm-settings-color-slate-800,
  slate-darkester: $dm-settings-color-slate-900,
)