$dm-settings__spacer: 1rem !default;

$dm-settings__spacers: (
  0: 0,
  xs: $dm-settings__spacer * .25,
  sm: $dm-settings__spacer * .5,
  md: $dm-settings__spacer,
  lg: $dm-settings__spacer * 1.5,
  xl: $dm-settings__spacer * 3
) !default;
