$dm-settings_spacer: 1rem !default;

$dm-settings_spacers: (
  0: 0,
  xs: $dm-settings_spacer * .25,
  sm: $dm-settings_spacer * .5,
  md: $dm-settings_spacer,
  lg: $dm-settings_spacer * 1.5,
  xl: $dm-settings_spacer * 3
) !default;
