.dm-c-sidebar {
  background: #fff;

  &__category-header {
    border-color: rgba(dm-get-color(black), 0.1);
  }

  &__category-title {
    color: dm-get-color(grey-darkester);
  }

  &__category-icons {
    color: dm-get-color(grey-darkester);
  }
}