@if dm-get-config(healthcheck) {
  html {
    background-image: url(../images/grid.png);
  }
}

@include dm-media-breakpoint-only(xl) {
  body {
    color: dm-get-color(green);
  }
}

@include dm-media-breakpoint-only(xs) {
  body {
    color: dm-get-color(red);
  }
}