@keyframes dm-o-anim-rotation {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes dm-o-anim-rotation-reverse {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

.dm-o-spinner {
    display: inline-block;
    animation: dm-o-anim-rotation 1s linear infinite;
}