@each $color-name in map-keys(dm-get-palette()) {
  .dm-o-color-#{$color-name} {
    color: dm-get-color(#{$color-name}) !important;
  }

  .dm-o-bg-color-#{$color-name} {
    background-color: dm-get-color(#{$color-name}) !important;
  }

  .dm-o-bg-#{$color-name} {
    background-color: dm-get-color(#{$color-name}) !important;
    border-color: dm-get-color(#{$color-name}) !important;
    color: dm-get-color(white) !important;
  }

  .dm-o-border-#{$color-name} {
    border-color: dm-get-color(#{$color-name}) !important;
  }

  .dm-o-border-top-#{$color-name} {
    border-top-color: dm-get-color(#{$color-name}) !important;
  }

  .dm-o-border-bottom-#{$color-name} {
    border-bottom-color: dm-get-color(#{$color-name}) !important;
  }

  .dm-o-border-left-#{$color-name} {
    border-left-color: dm-get-color(#{$color-name}) !important;
  }

  .dm-o-border-right-#{$color-name} {
    border-right-color: dm-get-color(#{$color-name}) !important;
  }

  .dm-o-text-#{$color-name} {
    &,
    &:hover,
    &:focus {
        color: dm-get-color(#{$color-name}) !important;
    }
  }

  @if(dm-has-color(#{$color-name}-lightester-2)) {
    @if(dm-has-color(#{$color-name}-dark)) {
      .dm-o-alpha-#{$color-name} {
        background-color: dm-get-color(#{$color-name}-lightester-2) !important; 
        border-color:  dm-get-color(#{$color-name}-dark) !important;
      } 
    }
  }
}
