.ux-o- {
  &text-black {
      font-weight: 900 !important;
  }
  
  &text-bold {
      font-weight: 700 !important;
  }

  &text-semibold {
      font-weight: 500 !important;
  }

  &text-regular {
      font-weight: 400 !important;
  }

  &text-light {
      font-weight: 300 !important;
  }

  &text-thin {
      font-weight: 100 !important;
  }

  &caret::after {
    border-color: $ux-core-color-text;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: $caret-width / 2;
    vertical-align: middle;
    content: "";
    border-top: $caret-width solid;
    border-right: $caret-width solid transparent;
    border-left: $caret-width solid transparent;
  }

  &status-mark {
    font-size: 1rem;
    width: 0.5em;
    height: 0.5em;
    border: $ux-core-border-width-lg solid;
    border-radius: 50%;
    display: inline-block;
  }
}
