body {
  font-family: $dm-settings__font-family-base;
  font-size: $dm-settings__font-size-base;
  font-weight: $dm-settings__font-weight-base;
  line-height: $dm-settings__line-height-base;
  color: $dm-settings__color-text;
  background-color: $dm-settings__color-body-bg;
}