body {
  font-family: $dm-settings_font-family-base;
  font-size: $dm-settings_font-size-base;
  font-weight: $dm-settings_font-weight-base;
  
  line-height: $dm-settings_line-height-base;

  color: $dm-settings_color-text;
  background-color: $dm-settings_color-body-bg;
}