.dm-c-nav-item {
  font-size: 1rem;

  &__subitems {
    margin: 0;
    padding: 0;
    background-color: darken($dm-nav-item-subitems-bg, 2%);
    box-shadow: 0 $dm-settings-border-width 0 rgba(dm-get-color(white), .07);
    max-height: 0;
    overflow: hidden;
    @include dm-transition(max-height 0.5s cubic-bezier(0, 1, 0, 1));
  }

  &__subitems .dm-c-nav-link {
    padding-left: 3em;
  }

  &__subitems &__subitems .dm-c-nav-link {
    padding-left: 3.75em;
  } 

  &__subitems &__subitems &__subitems .dm-c-nav-link {
    padding-left: 5em;
  } 
}