$dm-grid-enable-classes: true !default;

$dm-grid-container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$dm-grid-columns: 12 !default;
$dm-grid-gutter-width: 30px !default;