$dm-enable-grid-classes: true !default;

$dm-grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$dm-container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$dm-grid-columns: 12 !default;
$dm-grid-gutter-width: 30px !default;