$dm-spacer-base: $dm-font-line-height * 1rem !default;

$dm-spacers: (
  0: 0,
  xs: $dm-spacer-base * .25,
  sm: $dm-spacer-base * .5,
  base: $dm-spacer-base,
  md: $dm-spacer-base * 1.25,
  lg: $dm-spacer-base * 1.5,
  xl: $dm-spacer-base * 2,
  xxl: $dm-spacer-base * 2.5,
  xxxl: $dm-spacer-base * 3,
) !default;