/**
 * Typography system
 *
 * 1. Font sizes
 * 2. Line heightsheights
 */

$dm-font-size-base: 1rem !default;
$dm-font-line-height: 1.5 !default;
$dm-font-type-scale: 1.250 !default;

/* [1] */
$dm-font-size-sm: $dm-font-size-base / $dm-font-type-scale !default;
$dm-font-size-xs: $dm-font-size-sm / $dm-font-type-scale !default;
$dm-font-size-2xs: $dm-font-size-xs / $dm-font-type-scale !default;
$dm-font-size-md: $dm-font-size-base !default;
$dm-font-size-lg: $dm-font-type-scale * $dm-font-size-md !default;
$dm-font-size-xl: $dm-font-type-scale * $dm-font-size-lg !default;
$dm-font-size-2xl: $dm-font-type-scale * $dm-font-size-xl !default;
$dm-font-size-3xl: $dm-font-type-scale * $dm-font-size-2xl !default;
$dm-font-size-4xl: $dm-font-type-scale * $dm-font-size-3xl !default;
$dm-font-size-5xl: $dm-font-type-scale * $dm-font-size-4xl !default;

$dm-font-sizes: (
    2xs: $dm-font-size-2xs,
    xs: $dm-font-size-xs,
    sm: $dm-font-size-sm,
    md: $dm-font-size-base,
    lg: $dm-font-size-lg,
    xl: $dm-font-size-xl,
    2xl: $dm-font-size-2xl,
    3xl: $dm-font-size-3xl,
    4xl: $dm-font-size-4xl,
    5xl: $dm-font-size-5xl
) !default;

/* [2] */
$dm-font-size-2xs-line-height: ceil($dm-font-size-2xs / $dm-font-line-height) * ($dm-font-line-height / $dm-font-size-2xs) !default;
$dm-font-size-xs-line-height: ceil($dm-font-size-xs / $dm-font-line-height) * ($dm-font-line-height / $dm-font-size-xs) !default;
$dm-font-size-sm-line-height: ceil($dm-font-size-sm / $dm-font-line-height) * ($dm-font-line-height / $dm-font-size-sm) !default;
$dm-font-size-md-line-height: ceil($dm-font-size-md / $dm-font-line-height) * ($dm-font-line-height / $dm-font-size-md) !default;
$dm-font-size-lg-line-height: ceil($dm-font-size-lg / $dm-font-line-height) * ($dm-font-line-height / $dm-font-size-lg) !default;
$dm-font-size-xl-line-height: ceil($dm-font-size-xl / $dm-font-line-height) * ($dm-font-line-height / $dm-font-size-xl) !default;
$dm-font-size-2xl-line-height: ceil($dm-font-size-2xl / $dm-font-line-height) * ($dm-font-line-height / $dm-font-size-2xl) !default;
$dm-font-size-3xl-line-height: ceil($dm-font-size-3xl / $dm-font-line-height) * ($dm-font-line-height / $dm-font-size-3xl) !default;
$dm-font-size-4xl-line-height: ceil($dm-font-size-4xl / $dm-font-line-height) * ($dm-font-line-height / $dm-font-size-4xl) !default;
$dm-font-size-5xl-line-height: ceil($dm-font-size-5xl / $dm-font-line-height) * ($dm-font-line-height / $dm-font-size-5xl) !default;

$dm-font-line-heights: (
    2xs: $dm-font-size-2xs-line-height,
    xs: $dm-font-size-xs-line-height,
    sm: $dm-font-size-sm-line-height,
    md: $dm-font-size-md-line-height,
    lg: $dm-font-size-lg-line-height,
    xl: $dm-font-size-xl-line-height,
    2xl: $dm-font-size-2xl-line-height,
    3xl: $dm-font-size-3xl-line-height,
    4xl: $dm-font-size-4xl-line-height,
    5xl: $dm-font-size-5xl-line-height
) !default;
